.pft-second-level-menu{
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: normal;
  background: #FFFFFF;
  border-bottom: 1px solid #E5E5E5;

  .tit-li{
    float: left;
    padding-right:20px;
    .href{
      display: inline-block;
      height: 100%;
      color: #303D46;
    }
    .href-active {
      border-bottom: 2px solid #0797D9;
      padding-bottom: -2px;
      color: #0797D9;
      height: 58px;
    }
  }

}