body{
    padding:0;
}
@import "../common/scss/base";
@import "./scss/app-item";

#PageMainRightContainer{
    background:#efefef;
}
.mlr5 {
    margin-left: 5px;
    margin-right: 5px;
}
.section {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}
.section-appadmin .section-con {
    padding: 35px 50px;
}
.inp-text.w155 {
    width: 155px;
}