.addPart{position: absolute;margin-left: 2px;}
.addPart:before{border: 10px solid transparent;border-bottom: 6px solid red;content: "";position: absolute;left: 440px;top:-17px;}
.tbody tr td{word-wrap: break-word;}
