<!-- Author: huangzhiyang -->
<!-- Date: 2016/5/30 12:07 -->
<!-- Description: huangzhiyang -->
<script type="text/javascript" src="http://static.12301.local/assets/build/local/css/annual_card/all.js"></script>
<link rel="stylesheet" href="http://static.12301.cc/assets/build/css/common/reset_style.css"/>
<link rel="stylesheet" href="http://static.12301.local/assets/build/local/css/annual_card/all.css"/>
<div class="card">
    <h1 class="entry line">录入卡片</h1>
    <div class="cardPro">
        <label for="">卡产品：</label>
        <select name="" id="">
            <option value="">三亚先行年卡-套餐一</option>
            <option value="">三亚先行年卡-套餐二</option>
            <option value="">三亚先行年卡-套餐三</option>
        </select>
        <label for="">录入数量：</label>
        <input type="text"/>
        <a href="javascript:;" class="btn-2x btn-blue" id="born">生成卡号</a>
    </div>
    <form action="" class="entry_form">
        <a href="javascript:;" class="btn-2x btn-border" id="btn-guan">关联实体卡</a>
        <table class="table border">
            <tr>
                <td>虚拟卡号</td>
                <td>实体卡卡号（卡面号码）</td>
                <td>物理ID</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>HZ1225555</td>
                <td>4545345454556555 </td>
                <td>4556553</td>
                <td><a href="javascript:;">删除</a></td>
            </tr>
            <tr>
                <td>HZ1225555</td>
                <td>4545345454556555 </td>
                <td>4556553</td>
                <td><a href="javascript:;">删除</a></td>
            </tr>
        </table>
        <p><span class="font-red">注</span>:无实体卡的会员，即通过会员号使用，计入虚拟卡库存</p>
        <div class="btn-entry">
            <a href="javascript:;" class="btn-2x btn-blue">确定,发卡</a>
            <a href="javascript:;" class="btn-2x btn-border">清空重置</a>
        </div>
    </form>
</div>
<div class="charge border" id="chaBox">
    <div class="cha border-bottom">
        <h1 class="entry">请刷卡！</h1>
        <h2 class="font-red">已存在</h2>
    </div>
    <div class="enCard">
        <span>已关联实体卡:<span class="numChild">2</span><span class="numP">/10</span><span class="font-gray">（不关联实体卡亦可）</span></span>
        <a href="javascript:;" class="btn-2x btn-blue btn-finish">完成</a>
    </div>
</div>
<div class="charge border" id="guanBox">
    <div class="cha border-bottom">
        <p class="font-gray line-40">物理ID:565666</p>
        <input type="text" placeholder="请输入实体卡号（卡面号码）"/>
        <a href="javascript:;" class="btn-2x btn-orange">关联</a>
    </div>
    <div class="enCard">
        <span>已关联实体卡:<span class="numChild">2</span><span class="numP">/10<span class="font-gray">（不关联实体卡亦可）</span></span>
        <a href="javascript:;" class="btn-2x btn-blue btn-finish">完成</a>
    </div>
</div>
<script>
    $("#chaBox,#guanBox").hide();
    $("#born").toggle(function(){
        $("#chaBox").show();
    },function(){
        $("#chaBox").hide();
    })
    $(".btn-finish").click(function(){
        $(".charge").hide();
    })
    $("#btn-guan").toggle(function(){
        $("#guanBox").show();
    },function(){
        $("#guanBox").hide();
    })
</script>