<!-- Author: huangzhiyang -->
<!-- Date: 2016/5/30 12:07 -->
<!-- Description: huangzhiyang -->
<link rel="stylesheet" href="http://static.12301.cc/assets/build/css/common/reset_style.css"/>
<link rel="stylesheet" href="http://static.12301.local/assets/build/local/css/annual_card/all.css"/>
<div class="card">
    <div class="info">
        <span class="active">1.产品信息</span><span class="">2.套餐信息</span>
    </div>
    <form action="">
        <div class="line">
            <div class="lt">
                <label for="">产品(卡)名称：</label>
            </div>
            <div class="rt">
                <input type="text" class="textInp"/>
                <span class="tip">*必填项</span>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">地区：</label>
            </div>
            <div class="rt">
                <select name="" id="">
                    <option value="--省--">--省--</option>
                </select>
                <select name="" id="">
                    <option value="--市--">--省--</option>
                </select>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="" style="font-size:0">d</label>
            </div>
            <div class="rt">
                <input type="text" class="textInp" placeholder="请填写详细地址"/>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">联系电话：</label>
            </div>
            <div class="rt">
                <input type="text" class="textInp"/>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">预览图：</label>
            </div>
            <div class="rt">
                <div>
                    <a href="javascript:void(0);" class="file btn btn-border">选择文件
                        <input type="file" name="" id="">
                    </a>
                    <a href="javascript:javascript:void(0);" class="file btn btn-green" style="color:white">上传
                        <input type="file" name="" id="">
                    </a>
                </div>
                <div class="cardImg">
                    <div class="img"></div>
                    <div><span>上传小于1M的JPG或GIF格式的图片,建议图片尺寸：宽700像素，高460像素</span></div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">卡介绍：</label>
            </div>
            <div class="rt">
                <div>
                    <textarea name="" id="" cols="90" rows="10"></textarea>
                </div>
                <div>
                    <input type="button" class="btn btn-blue" value="保存，下一步"/>
                </div>
            </div>
        </div>
    </form>
</div>
