<!-- Author: huangzhiyang -->
<!-- Date: 2016/5/30 12:07 -->
<!-- Description: huangzhiyang -->
<script type="text/javascript" src="http://static.12301.local/assets/build/local/css/annual_card/all.js"></script>
<link rel="stylesheet" href="http://static.12301.cc/assets/build/css/common/reset_style.css"/>
<link rel="stylesheet" href="http://static.12301.local/assets/build/local/css/annual_card/all.css"/>
<div class="card">
    <div class="info">
        <span class="">1.产品信息</span><span class="active">2.套餐信息</span>
    </div>
    <div class="annual">
        <p>三亚先行年卡</p>
        <ul>
            <li><input type="text" class="name" value="套餐名称"/><i class="btn-cancle">×</i></li>
            <li><input type="text" class="name passCard" value="年卡套餐一"/></li>
            <li><a href="javascript:;" class="btn-add">＋</a></li>
        </ul>
    </div>
    <div class="line">
        <div class="time">
            <p class="font-gray">预定时间段</p>
            <input type="text"class="laydate-icon" onclick="laydate()"/> -
            <input type="text"class="laydate-icon" onclick="laydate()"/>
        </div>
        <div class="time">
            <p class="font-gray">供货价</p><input type="text"/>
        </div>
        <div class="time">
            <p class="font-gray">零售价</p><input type="text"/>
        </div>
        <div class="time">
            <p class="font-gray">门市价</p><input type="text"/>
        </div>
    </div>
    <form action="">
        <div class="line">
            <div class="lt">
                <label for="">产品说明：</label>
            </div>
            <div class="rt">
                <input type="text"/>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">使用有效期：</label>
            </div>
            <div class="rt">
                <div class="cardImg">
                    <div class="cardRadio">
                        <label for="">
                            <input type="radio" name="period" checked/>卡片售出后 <input type="text" /> 个月有效
                        </label>
                    </div>
                    <div class="cardRadio">
                        <label for="">
                            <input type="radio" name="period"/>卡片激活后 <input type="text"/> 个月有效
                        </label>
                    </div>
                    <div class="cardRadio">
                        <label for="">
                            <input type="radio" name="period"/>
                            <input type="text"class="laydate-icon" onclick="laydate()"/> -
                            <input type="text"class="laydate-icon" onclick="laydate()"/> 有效
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">激活限制：</label>
            </div>
            <div class="rt">
                <div class="cardImg">
                    <div class="cardRadio">会员卡售出 <input type="text" />后自动激活（仍需提供手机号后使用卡片）</div>
                    <div>
                        <label for=""><input type="checkbox"/>需填写身份证号</label>
                    </div>
                    <label for=""><input type="radio"/>所有可用</label>
                    <label for=""><input type="radio"/>身份证号前5位，仅限<input type="text"/></label>
                    <a href="javascript:;" class="btn-add">＋</a>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">购票限制：</label>
            </div>
            <div class="rt">
                <div class="cardImg float-left line-30">
                    <label for=""><input type="checkbox" checked/>卡号或会员号</label>
                    <label for=""><input type="checkbox" disabled/>身份证</label>
                    <label for=""><input type="checkbox" disabled/>手机号</label>
                </div>
                <span class="font-gray">持卡会员购票</span>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">支付方式：</label>
            </div>
            <div class="rt">在线支付，30分钟未支付自动取消</div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">退单限制：</label>
            </div>
            <div class="rt">不可退</div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">使用说明：</label>
            </div>
            <div class="rt">
                <textarea name="" id="" rows="3" class="uesArea"></textarea>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">会员分组：</label>
            </div>
            <div class="rt">
                <select class="uesArea">
                    <option value="技术组"></option>
                </select>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">信息通知配置：</label>
            </div>
            <div class="rt">
                <div class="phone">供应商手机号<input type="text"></div>
                <div class="phone"><label for=""><input type="checkbox" checked/>激活成功，短信通知供应商</label></div>
                <div class="phone"><label for=""><input type="checkbox" checked/>激活成功，短信通知持卡会员</label></div>
                <div class="phone"><label for=""><input type="checkbox"/>预定成功，短信通知供应商</label></div>
                <div class="phone"><label for=""><input type="checkbox"/>预定成功，短信通知购卡会员</label></div>
            </div>
        </div>
        <div class="power border-y">
            <p>套餐特权<span class="font-gray">（设置免费使用的权限，现场购票不受该条件影响）</span></p>
        </div>
        <div class="product border-bottom">
            <div class="float-left">
                <div class="line">
                <div class="lt">
                    <label for="">产品：</label>
                </div>
                <div class="rt">
                    <span>XXXXXXXXXX景区-成人票</span>
                    <a href="javascript:;" class="btn btn-border btn-sel">选择</a>
                </div>
            </div>
                <div class="line">
                <div class="lt">
                    <label for="">使用规则：</label>
                </div>
                <div class="rt">
                    <div class="float-left">
                        <label for=""><input type="radio"/> 不限总次数</label>
                        <label for=""><input type="radio"/> 共 <input type="text"> 次</label>
                    </div>
                    <div class="float-left">
                        <label for=""><input type="radio"/> <input type="text"> 次/日</label>
                        <label for=""><input type="radio"/> <input type="text"> 次/月</label>
                    </div>
                </div>
            </div>
            </div>
            <div class="float-right border-left"><a href="javascript:;" class="btn-add">＋</a></div>
        </div>
        <div class="product border-bottom">
            <div class="float-left">
                <div class="line">
                    <div class="lt">
                        <label for="">产品：</label>
                    </div>
                    <div class="rt">
                        <span>XXXXXXXXXX景区-成人票</span>
                        <a href="javascript:;" class="btn btn-border btn-sel">选择</a>
                    </div>
                </div>
                <div class="line">
                    <div class="lt">
                        <label for="">使用规则：</label>
                    </div>
                    <div class="rt">
                        <div class="float-left">
                            <label for=""><input type="radio"/> 不限总次数</label>
                            <label for=""><input type="radio"/> 共 <input type="text"> 次</label>
                        </div>
                        <div class="float-left">
                            <label for=""><input type="radio"/> <input type="text"> 次/日</label>
                            <label for=""><input type="radio"/> <input type="text"> 次/月</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-right border-left"><a href="javascript:;" class="btn-del">×</a></div>
        </div>
        <div class="line">
            <div class="lt">
                <label for=""><input type="radio" checked name="fabu"/>发布</label>
            </div>
            <div class="rt">
                <label for="" class="line-32"><input type="radio" name="fabu"/>放入仓库</label>
            </div>
        </div>
        <div class="line">
            <input type="button" class="btn-2x btn-blue btn-center btn-save" value="保存"/>
        </div>
    </form>
</div>
<div class="cardSave border">
    <p>保存成功！</p>
    <p>目前库存：0 ，如需添加请录入卡片。</p>
    <div class="btn-box">
        <a href="javascript:;" class="btn-2x btn-blue">关闭</a>
        <a href="javascript:;" class="btn-2x btn-border">录入卡片</a>
    </div>
</div>
<div class="proSel border">
    <div class="proBox border-bottom">
        <div class="lp float-left border-right">
            <input type="text"/>
            <ul>
                <li>XXXXXXXXXX景区</li>
                <li class="active">XXXXXXX景区</li>
                <li>XXXXXXX景区</li>
            </ul>
        </div>
        <div class="rp float-left">
            <div>
                <label for=""><input type="radio" checked name="taocan"/>年卡套餐一</label>
            </div>
            <div>
                <label for=""><input type="radio" name="taocan"/>年卡套餐二</label>
            </div>
        </div>
    </div>
    <div class="btn-box">
        <a href="javascript:;" class="btn-2x btn-blue">确定</a>
        <a href="javascript:;" class="btn-2x btn-border">取消</a>
    </div>
</div>
<script>
    $(".proSel,.cardSave").hide();
    $(".btn-sel").toggle(function(){
        $(".proSel").show();
    },function(){
        $(".proSel").hide();
    })
    $(".btn-box a").click(function(){
        $(".proSel").hide();
    })
    $(".btn-save").toggle(function(){
        $(".cardSave").show();
    },function(){
        $(".cardSave").hide();
    })
    $(".btn-box a").click(function(){
        $(".cardSave").hide();
    })
</script>