<!-- Author: huangzhiyang -->
<!-- Date: 2016/5/30 12:07 -->
<!-- Description: huangzhiyang -->
<script src="http://static.12301.local/assets/build/local/css/annual_card/all.js"></script>
<link rel="stylesheet" href="http://static.12301.cc/assets/build/css/common/reset_style.css"/>
<link rel="stylesheet" href="http://static.12301.local/assets/build/local/css/annual_card/all.css"/>
<div class="card">
    <div class="info">
        <span class="">1.产品信息</span><span class="active">2.套餐信息</span>
    </div>
    <div class="annual">
        <p>三亚先行年卡</p>
        <ul>
            <li><input type="text" class="name" value="套餐名称"/><i class="btn-cancle">×</i></li>
            <li><input type="text" class="name passCard" value="年卡套餐一"/></li>
            <li><a href="javascript:;" class="btn-add">＋</a></li>
        </ul>
    </div>
    <div class="line">
        <div class="time">
            <p class="font-gray">预定时间段</p>
            <input type="text"class="laydate-icon" onclick="laydate()"/> -
            <input type="text"class="laydate-icon" onclick="laydate()"/>
        </div>
        <div class="time">
            <p class="font-gray">供货价</p><input type="text"/>
        </div>
        <div class="time">
            <p class="font-gray">零售价</p><input type="text"/>
        </div>
        <div class="time">
            <p class="font-gray">门市价</p><input type="text"/>
        </div>
    </div>
    <form action="">
        <div class="line">
            <div class="lt">
                <label for="">产品说明：</label>
            </div>
            <div class="rt">
                <input type="text"/>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">地区：</label>
            </div>
            <div class="rt">
                <select name="" id="">
                    <option value="--省--">--省--</option>
                </select>
                <select name="" id="">
                    <option value="--市--">--市--</option>
                </select>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="" style="font-size:0">d</label>
            </div>
            <div class="rt">
                <input type="text"/>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">联系电话：</label>
            </div>
            <div class="rt">
                <input type="text"/>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">预览图：</label>
            </div>
            <div class="rt">
                <div>
                    <a href="javascript:;" class="file btn btn-border">选择文件
                        <input type="file" name="" id="">
                    </a>
                    <a href="javascript:;" class="file btn btn-green" style="color:white">上传
                        <input type="file" name="" id="">
                    </a>
                </div>
                <div class="cardImg">
                    <div class="img"></div>
                    <div><span>上传小于1M的JPG或GIF格式的图片,建议图片尺寸：宽700像素，高460像素</span></div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="lt">
                <label for="">卡介绍：</label>
            </div>
            <div class="rt">
                <div>
                    <textarea name="" id="" cols="90" rows="10"></textarea>
                </div>
                <div>
                    <input type="button" class="btn btn-blue" value="保存，下一步"/>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    ;!function(){

        //laydate.skin('molv');

        laydate({
            elem: '#demo'
        })

    }();
</script>