#refundApplyWrap {

  /* filter的公共样式*/
  .paginationBox{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    display: none;
    background-color: #f8f9fb;
    .paginationXContainer {
      display: inline-block;
    }
  }

}