@import "COMMON/css/base/main";
@import "COMMON/css/base/flex";
#bodyContainer{

    position:relative;
    padding:20px;

    .topBox{
        margin-bottom:15px;
        .sucTopTip{
            font-size:22px;
            color:$green;
            margin-bottom:7px;
        }
        .desc{ font-size:14px}
        .autoCancel{ color:$orange; font-weight:bold}
    }

    .infoBox{
        padding:10px;
        background:$gray98;
        line-height:1.7;
        font-size:14px;
        .tnum{ color:$orange; font-weight:bold}

    }

    .selectPaymodeTop{
        font-size:14px; margin-top:20px;
        .totalMoney{
            color:$orange;
            font-weight:bold;
            margin:0 2px;
        }
    }


    .paymodeList{
        margin-top:15px;
        @extend %flexbox;
        @include justify-content(space-between);
        .paymodeItem{
            width:55px;
            padding:15px;
            border:1px solid $gray90;
            .imgBox{
                font-size:0;
                img{ width:100%}
            }
            &:active{ background:$gray90}
            &.disable:active{ background:#fff}
        }

    }

    .nightCount{ font-weight:bold; color:$orange; margin-right:2px}

    .vhidden{ visibility:hidden}



}

#wxQRcodeContainer{
    margin-top:20px;
    padding:20px 0;
    background:$gray94;
    text-align:center;
    .qrcodeBox{
        width:160px;
        height:160px;
        margin:10px auto;
        font-size:0;
        padding:10px;
        overflow:hidden;
        background:#fff;
    }
}