.appPackageWrap{

    .adBox{
        position: relative;
        height: 194px;
        min-width: 800px;
        background-image: url("http://static.12301.cc/assets/build/images/appcenter/apppackage/bannerbg.jpg");
        margin: 20px;
        margin-bottom: 0;
    }

    .adBox .banner-logo{
        position: absolute;
    }
    .adBox .banner-con {
        margin: 0 auto;
        width: 694px;
    }


}