body{
    padding:0;
}
@import "../common/scss/base";
@import "./scss/app-item";

#PageMainRightContainer{
    background:#efefef;
}

.section-applist {
    padding: 24px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.topad-wrap {
    display: none;
    position: relative;
    margin-bottom: 15px;
}
.topad-wrap img {
    display:block;
    width: 100%;
}

.topad-wrap #top-ad-close{
    display : block;
    width : 36px;
    height : 36px;
    background : url(http://static.12301.cc/assets/build/images/appcenter/close.png);
    position : absolute;
    right : -18px;
    top : -17px;
    cursor : pointer;
}

.topad-wrap #top-ad-close:hover{
    background-position: 36px 0px;
}


.tab {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.tab-list:after {
    content: '';
    display: table;
    clear: both;
    height: 0;
}
.tab-list li {
    float: left;
    padding: 10px 15px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    color: #737373;
    font-size: 12px;
    line-height: 24px;
    white-space: nowrap;
    cursor : pointer ;
}
.tab-list li.active {
    border-bottom: 2px solid #ee6d33;
    font-size: 14px;
    color: #313131;
}
.tab .link-pkg {
    color: #737373;
}

.app-class {
    font-size: 18px;
    font-weight: normal;
}
.app-list-wrap {

}
.app-list {
    margin-right: -20px;
}
.app-list li {
    position: relative;
    float: left;
    width: 226px;
    margin-right: 20px;
    margin-bottom: 25px;
}
@media screen and (min-width: 1330px) {
    .app-list li { width: 23.4%; margin-right:15px; }
}
@media screen and (min-width: 1575px) {
    .app-list li { width: 18.5%; margin-right:15px; }
}
@media screen and (min-width: 1655px) {
    .app-list li { width: 240px; margin-right:20px; }
}
.app-list li.yingjian {
    position: relative;
    float: left;
    width: 161px;
    height: 200px;
    margin-right: 32px;
    margin-bottom: 25px;
    background-color: #fff;
    cursor: pointer;
}
.app-list li.yingjian .yingjian_name{
    font-size: 18px;
    font-weight: normal;
    color : #2d2d2d;
    margin: 10px auto 20px 10px;
}
.app-list li.yingjian img{
    display: block;
    margin: 0 auto;
    transform: translate(0px);
    transition: transform 0.2s;
}
.app-list li.yingjian img:hover{
    transform: translate(5px);
}
.app-list .app-item {
    padding: 19px 14px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    line-height: 1.5;
}
.app-list .app-item:hover {
    padding: 18px 13px;
    border: 2px solid #0797d9;
}
.app-list .app-item .app-left {
    float: left;
    width: 73px;
    text-align: center;
}
.app-list .app-item .app-open {
    font-size: 12px;
    color: #7a7a7a;
}
.app-list .app-item .app-usernum {}
.app-list .app-item .app-right {
    margin-left: 83px;
}
.app-list .app-item .app-name {
    font-size: 14px;
    font-weight: normal;
    color: #2d2d2d;
}
.app-list .app-item .app-price {
    font-size: 12px;
    color: #7a7a7a;
}
.app-list .app-item .app-btn-w {
    margin-top: 10px;
}
.app-list li .ico-expired {
    position: absolute;
    left: 3px;
    top: 5px;
}
.app-list li .ico-new {
    position: absolute;
    left: -2px;
    top: -2px;
}