.fixDisSwitchor{ padding:10px 20px; overflow:hidden; background:#fff; margin-bottom:8px; border-bottom:1px solid #dbdbdb}
.fixDisSwitchor .con{ width:100%; overflow:hidden;}
.fixDisSwitchor .lt{ float:left; line-height:30px;}
.fixDisSwitchor .disDname_text{ font-weight:bold; margin:0 5px;}
.fixDisSwitchor .switchDisBtn{ float:right; line-height:30px; padding:0 24px; background:#2a98da; color:#fff}
.fixDisSwitchor .switchDisBtn:hover{ background:#2189c4; text-decoration:none;}
.fixDisSwitchor.fixed{ position:fixed; z-index:99; top:0; width:770px}
.fixDisSwitchor_backup{ display:none; height:50px; background:#fff; border-bottom:1px solid #dbdbdb}



.disSelectorWrap{ position:fixed; z-index:100001; top:-800px; left:50%; width:600px; margin-left:-300px; background:#fff}
.disSelectorWrap .con{ padding:30px; padding-bottom:40px; padding-left:40px;}
.disSelectorWrap .lat{ width:100%; overflow:hidden; margin:15px 0 25px 0;}
.disSelectorWrap .lat .col{ float:left; height:34px; line-height:34px;}
.disSelectorWrap .disSelectorTrigger{ position:relative; width:420px; overflow:hidden; background:#fff; border:1px solid #dbdbdb}
.disSelectorWrap .disSelectorTrigger .icon{ display:none; position:absolute; top:0; right:8px; font-size:22px; cursor:pointer;}
.disSelectorWrap .disSelectorTrigger.active .icon.down{ display:none;}
.disSelectorWrap .disSelectorTrigger.active .icon.up{ display:block;}
.disSelectorWrap .disSelectorTrigger .icon.down{ display:block;}
.disSelectorWrap .disSelectorTrigger .icon.up{ display:none;}
.disSelectorWrap .disSelectorTrigger .loadingImg{ display:none; position:absolute; top:9px; right:10px;}
.disSelectorWrap .disSelectorTrigger.loading .icon{ display:none}
.disSelectorWrap .disSelectorTrigger.loading .loadingImg{ display:inline}
.disSelectorWrap .disSelectorTrigger_text{ padding:0 0 0 11px;}
#disSelectorWrap-closeBtn{ display:block; position:absolute; top:0; right:0; width:38px; height:36px; line-height:32px; text-align:center; color:#737383;}
#disSelectorWrap-closeBtn:hover{ text-decoration:none; background:#f00000; color:#fff}
#disSelectorWrap-closeBtn .iconfont{ font-size:18px;}
.disSelectorWrap .btnGroup{ margin-left:49px;}
.disSelectorWrap .dbtn{ padding:7px 34px; margin-right:10px;}
.disSelectorWrap .dbtn:hover{ text-decoration:none}
.disSelectorWrap .dbtn.yes{ background:#2a98da; color:#fff}
.disSelectorWrap .dbtn.yes:hover{ background:#2286c2;}
.disSelectorWrap .dbtn.no{ background:#e3e3e3; color:#8e8e8e}
.disSelectorWrap .dbtn.no:hover{ background:#cbcbcb; color:#727272}

.disSelectUlWrap{ display:none; position:fixed; width:420px; height:420px; top:192px; left:50%; margin-left:-212px; z-index:100002; border:1px solid #dbdbdb; background:#fcfcfc;}
.disSelectUlWrap .searchBox{ position:relative; height:32px; line-height:32px; padding:0 30px 0 8px; margin:5px; border:1px solid #dbdbdb; background:#fff}
.disSelectUlWrap .disSelect_searchInp{ display:block; width:100%; height:22px; line-height:22px; padding:5px 0; border:0 none; background:none}
.disSelectUlWrap .searchBox .iconfont{ display:block; position:absolute; top:0; right:8px; color:#a5a5a5}
.disSelectUlWrap .searchBox .loadingImg{ display:none; position:absolute; top:7px; right:8px;}
.disSelectUlWrap .searchBox.loading .iconfont{ display:none}
.disSelectUlWrap .searchBox.loading .loadingImg{ display:inline}
.disSelectUlWrap .thead{ position:relative; width:100%; overflow:hidden; border-top:1px solid #e5e5e5; background:#fcfcfc}
.disSelectUlWrap .col{ display:block; float:left; height:38px; line-height:38px;}
.disSelectUlWrap .col_1{ width:175px; padding-left:21px;}
.disSelectUlWrap .col_2{ width:200px; }
#disSelectUl{ position:relative; height:335px; overflow:auto; border-top:1px solid #dbdbdb}
#disSelectUl .sta{ height:100px; line-height:100px; text-align:center;}
.disSelectUl .disItem{ border-bottom:1px solid #dbdbdb; overflow:hidden; cursor:pointer; background:#fff}
.disSelectUl .disItem:hover,.disSelectUl .disItem.active{ background:#f7f7f7}





#gMasker{position:fixed;top:0px;left:0;right:0;bottom:0;filter:alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.4;-moz-opacity:0.4;background-color:#000;z-index:99;left:0px;display:none; width:100%; height:100%; _height:1350px;}