@import "COMMON/css/base/main";
body{
    background: #f5f5f5;
}
.gray{
    line-height: 45px;
    padding-left: 10px;
}
#orderFill{
    .ticketInfo{
        #placeText{
            height: 45px;
            line-height: 45px;
            font-size: .4rem;
            overflow: hidden;
            font-weight: 700;
            background: #fff;
            border-bottom: 1px solid #e5e5e5;
            padding-left: 15px;
            padding-right: 15px;
        }
        .topInputGroup{
            margin-top: 10px;
            line-height: 48px;
            border-top: 1px solid #e5e5e5;
            .inputItem{
                position: relative;
                border-bottom: 1px solid #e5e5e5;
                background: #fff;
                padding-left: 10px;
                padding-right: 10px;
                .topinput{
                    height: 48px;
                    border: 0 none;
                    width: 99%;
                }
                i.icon{
                    position: absolute ;
                    right: 13px;
                    font-size: 1pc;
                    color: #258cc9;
                }
            }
        }
        #topTips{
            padding: 15px;
            .tips{
                display: inline-block;
                font-size: .3rem;
                padding: 2px 5px;
                border: 1px solid #008fc2;
                color: #008fc2;
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }
    }
    .ticketNum{
        margin-top: 5px;
        background: #fff;
        .placeTicket{
            padding: 25px 15px 23px;
            overflow: hidden;
            background: #fff;
            line-height: 1.5;
            position: relative;
            border-bottom: 1px solid #e5e5e5;
            .left{
                font-size: .35rem;
                .ticketName{
                    font-weight: 700;
                }
                .price{
                    .money{
                        color: #f37138 ;
                    }
                }
                .storage{
                    .num{
                        color: #f37138 ;
                    }
                }
            }
            .right{
                position: absolute;
                right: 15px;
                bottom: 23px;
                .delBtn{
                    display: inline-block;
                    position: absolute;
                    line-height: 22px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    color: #258cc9;
                    width: 36px;
                    left: -37px;
                    top: 0;
                    border-top: 1px solid #258cc9;
                    border-bottom: 1px solid #258cc9;
                    border-left: 1px solid #258cc9;
                }
                .delBtn[active=false]{
                    background: #b4b4b4 ;
                }
                .addBtn{
                    display: inline-block;
                    position: absolute;
                    line-height: 22px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    color: #258cc9;
                    width: 36px;
                    left: 76px;
                    top: 0;
                    border-top: 1px solid #258cc9;
                    border-bottom: 1px solid #258cc9;
                    border-right: 1px solid #258cc9;
                }
                .addBtn[active=false]{
                    background: #b4b4b4 ;
                }
                .numBox{
                    display: inline-block;
                    height: 22px;
                    line-height: 22px;
                    width: 75px;
                    text-align: center;
                    border: none;
                    margin-right: 36px;
                    border: 1px solid #258cc9;
                    color: #f37138;
                }
            }
            .details{
                width: 200px;
            }
        }
    }
    .personalInformation{
        margin-top: 5px;
        background: #fff;
        position: relative;
        overflow: hidden;
        input{
            display: block;           
            height: 48px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #f0f0f0;
            padding-left: 80px;
        }
        input:focus{
            color: #f37138;
        }
        #contactText{
            position: absolute ;
            font-size: .35rem;
            top: 17px;
            left: 17px;
            color: #505050 ;
        }
        #checkPhoneText{
            position: absolute ;
            font-size: .35rem;
            top: 68px;
            left: 17px;
            color: #505050 ;
        }
        #checkPhone{
            position: absolute;
            right: 10px;
            top: 68px;
            color: #e11d2c;
        }
        #checkContact{
            position: absolute;
            height: 30px;
            width: 30px;
            top : 18px;
            right: 10px;
        }
        .saveContact{
            color: #0797d9;
            font-size: .4rem;
            line-height: 40px;
            padding-left: 15px;
            border-bottom: 1px solid #f0f0f0;
        }
        #payMode{
            padding-left: 15px;
        }
        #idCardBox{
            #visitorInformation{
                padding-left: 15px;
            }
        }
    }
    .buttonBox{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 49px;
        display: flex;
        .total{
            width: 68.5%;
            display: inline-block;
            color: #f07845;
            background: #e5e5e5;
            height: px2rem(96);
            line-height: px2rem(96);
            text-align: left;
            text-indent: px2rem(40);
            flex-grow : 1;
        }
        .submitOrder{
            width: 30%;
            display: inline-block;
            color: #fff;
            background: #f07845;
            height: px2rem(96);
            line-height: px2rem(96);
            text-align: center;
            flex-grow : 1; 
        }
    }
}
//联系人
#LinkmanBox{
    .LinkmanTop{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    .icon-jiantou{
      position: absolute;
      left: 20px;
      font-size: 25px;
    }
  }
  .LinkmanItem{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    display : flex;
    .LinkmanName{
      width: 150px;
    }
    i.icon-yaojiucuo{
      position: absolute;
      right: 20px;
      font-size: 22px;
    }
  }
}
//游客信息
#visitInfo{
  padding: 20px;
  .visitInfoWrap{
    position: absolute;
    overflow: auto;
    top: 20px;
    bottom: 44px;
    width: 335px;
    .wranInfo{
      font-size: 16px;
      color: #9e9e9e;
      margin-bottom: 20px;
    }
    .ticketGroup{
      .ticketName{
        display: block;
        font-size: 18px;
        margin: 10px 0;
      }
      li{
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        .visit{
          width: 25%;
        }
        .idCard{
          width: 67%;        
          margin-left: 10px;
        }
        input{
          height: 35px;
          border-radius: 5px;
          border: 1px solid #e5e5e5;
          padding-left: 10px;
        }
        input:focus{
          border: 1px solid #0797d9;
        }
      }
    }
  }
}
//付款方式
#payModeBox{
  .payModeTop{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    .icon-jiantou{
      position: absolute;
      left: 20px;
      font-size: 25px;
    }
  }
  .payItem{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
  }
}