@import "../vars.scss";
#listMagContainer{ 
    background: #fff;
    
    .listTable{ 
        table-layout: fixed;
        width: 100%; text-align: left;

        

        .col{ padding-left: 10px;}
        .col_1{ padding-left: 20px;}
        .col_7{ padding-left: 0; padding-right: 25px; text-align: right;}

        .col_1{ width: 18%}
        .col_2{ width: 10%}
        .col_3{ width: 10%}
        .col_4{ width: 10%}
        .col_5{ width: 27%}
        .col_6{ width: 10%}
        .col_7{ width: 15%}

        .col_1.td{ border-left: 1px solid $borderColor}
        .col_7.td{ border-right: 1px solid $borderColor}

        // .trLine:hover{ 
        //     .col.td{ background: #f7f7f7}
        // }
        .trLine:last-child .col{
            border-bottom: 1px solid $borderColor;
        }


    }

    .col.th{ line-height: 44px; background: #e5e5e5}

    .col.td{ line-height: 44px;}
    .trLine.even .col.td{ background: #f2f2f2}

    .actionBtn{ 
        margin-right: 10px; 
        &:last-child{ margin-right: 0}
        &:hover{ text-decoration: underline}
    }

    .stateLine.empty td{ text-align: center;}
    .stateLine.refresh td{ line-height: 600px;}
    .stateLine.getMore td{ line-height: 80px;}
    .stateLine.getMore.empty td{ background: #f2f2f2}

}


