/**
 * Author: huangzhiyang
 * Date: 2016/12/22 14:02
 * Description: ""
 */
.formContainer{ position:relative; padding:25px 25px 25px 30px; padding-bottom:120px; }
.topCond{ width:100%; overflow:hidden}
.topCond .d{ float:left; min-height:105px; width:38%; padding:15px; padding-bottom:0px; background:#eee}
.topCond .inpBox{ position:relative; height:34px; border:1px solid #dbdbdb; background:#fff; border-radius:3px; overflow:hidden}
.topCond .inpBox.error{ border-color:#e12424}
.topCond .inpBox .inpCon{ height:100%; margin-left:80px; margin-right:5px;}
.topCond .inpBox .t{ display:block; position:absolute; top:8px; left:10px; bottom:8px; width:55px; line-height:18px; padding-right:5px; border-right:1px solid #dbdbdb}
.topCond .inpBox input{ border:0 none; width:100%; height:100%; background:none}
.topCond .select{ display:block; width:80%; height:34px; margin-bottom:10px; border:1px solid #dbdbdb; padding-left:6px; border-radius:3px;}
.topCond .warmtip{ color:#9f9f9f; padding-left:3px;}
.topCond .warmtip.error{ color:#e12424}
.topCond .errortip{ display:none; height:18px; line-height:18px; padding:0; margin:0; color:#e12424}
.topCond .errortip .iconfont{ font-size:14px; margin-right:3px;}

.formCon{ margin-top:30px;}
.formCon .formBox:last-child{ border-bottom:0 none}
.formCon .select{ width:318px; height:34px; margin-bottom:10px; border:1px solid #dbdbdb; padding-left:6px; border-radius:3px;}


.buttonW{ margin-top:70px;}
.buttonW .readCheckbox{ position:relative; margin-right:3px; margin-left:3px; top:2px;}


.mobileExistTxt{ margin-left:105px; margin-top:5px;}
.mobileExistTxt .iconfont{font-size:14px; margin-right:3px; color:#e12424}
.mobileExistTxt .t{color:#e12424}
.mobileExistTxt .t a{color:#008EC1}

body{ background-color:#f8f9fb}
.left_memb,.foot-new,.headerWrap{ background-color:#fff !important;}
.headerWrap{  padding-bottom:10px; background:#fff url("http://www.12301.cc/images/top_bg.png") top left repeat-x}
.navmem_war{ margin-top:0;}
.commonRigContainer{ float:right; width:798px; background:#fff; border:1px solid #edefee; padding-top:25px;}
.tabHead{ width:100%; height:30px; font-size:0; background:#e6e6e6}
.tabHead .tabNav{ display:inline-block; width:266px; height:100%; color:#7e828a; line-height:30px; font-size:12px; text-align:center}
.tabHead .tabNav.active{ background:#92ce74; color:#fff}
.formBox .line{ position:relative; margin-bottom:10px;}
.formBox .line:last-child{ margin-bottom:0}
.formBox .line .lt{ display:inline-block; width:95px; margin-left:5px;}
.formBox .line .lt .star{ position:relative; top:2px; margin-right:2px; color:red}

.formBox .line .formInp.error{ border-color:#cb3131}
.formBox .line .errortip{ display:none; color:#d43030; margin-left:5px}
.formBox .line .errortip.ma{ color:#d43030; margin-left:5px}
.formBox .line .errortip.name{ color:#d43030; margin-left:90px}
.formBox .line .errortip .iconfont{ font-size:14px; margin-right:2px;}
.formBox .line .checkmaInp{ width:206px;}
.formBox .line .getCheckmaBtn{ display:inline-block; position:relative; top:-1px; width:88px; height:30px; line-height:30px; border:1px solid #3eba40; border-bottom:3px solid #3eba40; background:#3eba40; text-align:center; color:#fff; border-radius:3px;}
.lt-ie9 .formBox .line .getCheckmaBtn{ top:-2px;}
.formBox .line .getCheckmaBtn:hover{ text-decoration:none; border-bottom-color:#2ba32d;}
.formBox .line .nameInp{ width:215px;}
.formBox .famleWrap{ position:absolute; top:1px; left:340px; width:80px; height:32px; background:#eee; border-radius:4px; overflow:hidden}
.formBox .famleWrap .fe{ display:inline-block; width:50%; height:100%; cursor:pointer; line-height:32px; text-align:center;}
.formBox .famleWrap .fe.active{ background:#3fbd3f; color:#fff}
.horLine{ margin-bottom:30px; margin-top:30px; margin-right:100px; height:1px; font-size:0; background:#eee}
.formInp{ width:300px; height:22px; padding:5px 8px; background:#fff; border:1px solid #dbdbdb; border-radius:3px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
.lt-ie9 .formInp{ line-height:22px;}
.buttonW .saveBtn{ display:inline-block; width:160px; height:34px; line-height:34px; text-align:center; cursor:pointer; margin-left:0px; margin-top:5px; border:0 none; border-bottom:3px solid #0a89c4; border-radius:3px; background:#0796d8; color:#fff}
.buttonW .saveBtn .iconfont{ display:none; margin-right:2px; top:1px;}
.buttonW .saveBtn .loading{ display:none; }
.lt-ie9 .buttonW .saveBtn .iconfont{ margin-right:2px; top:0px;}
.buttonW .saveBtn.loading .iconfont{ display:inline-block}
.buttonW .saveBtn.loading .t.loading{ display:inline-block}
.buttonW .saveBtn.loading .t.default{ display:none}
.buttonW .saveBtn.loading{ cursor:default}
.buttonW .saveBtn.disable,.buttonW .saveBtn.disable:hover{ background:#bebebe; color:#7e7e7e; border-color:#bebebe; cursor:default}
.buttonW .saveBtn:hover{ border-bottom-color:#0f7fb3; text-decoration:none}
.formLoading{ position:absolute; top:0; right:0; left:0; bottom:0; text-align:center; background:rgba(0,0,0,.8)}
.formLoading .con{ padding-top:300px;}
.formLoading .con img,.formLoading .con .t{ vertical-align:middle; color:#fff}
.formLoading .con img{ margin-right:5px;}

/***yl更新 注册页面css**/
.setLineBox{background:#FFF;height:35px;line-height:35px;}
.setInp{background:#FFF;position: absolute;left: 105px;}
.formBox .line .setML.name{margin-left:330px}
.formBox .line .setHeight{height:28px\9;line-height:28px\9;}
/***yl更新 注册页面css end**/





.new_add p.up_tap{margin-left: 102px;color:#cccccc;}
.new_add span.address_three{display: inline-block; height: 34px;  line-height: 34px;  width: 150px;  border:1px solid #dbdbdb;border-radius:3px;  position: relative;  margin-right: 10px;z-index: 3;}
.new_add .car_info_l{position: relative;top: -13px;}
.new_add .call_info{display: inline-block; height: 34px;  line-height: 34px;  width: 317px;  border:1px solid #dbdbdb;border-radius:3px;  position: relative;  margin-right: 10px;z-index: 2;}
.new_add .textarea{height: 100px;width: 301px;line-height: 20px;padding:5px 8px;;border:1px solid #dbdbdb;border-radius:3px;max-width: 500px;max-height:200px;}
.new_add .beizhu{position:relative;top: -100px;}
.new_add span.select_img,span.up_img{cursor:pointer;height: 32px;width: 70px;margin-left:10px;background-color: #3eba40;border-radius: 3px;display: inline-block;color: white;line-height: 32px;text-align: center;}
.new_add input.file_up_img{position:absolute;width:80px;height: 34px;filter:alpha(opacity:0);opacity: 0;cursor:pointer;}
.new_add span.select_img{background-color: #0796d8;}
.new_add span.select_img:hover,span.up_img:hover{background-color: #3baf3d;}
#up_img_box{display:inline-block}
.fileuploadTextInp{
    height: 22px;
    width: 221px !important;
    padding: 5px 8px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)}
.provCitySelect{
    height: 34px;
    width: 157px;
    padding: 5px 8px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.formBox .line .errortip.ma{  margin-left:5px !important;}
.formBox .line .checkmaInp{ width:206px !important;}


.uploadResultImg{ max-width:400px; margin-top:6px}
.uploadResultImg img{ width:100%}






.carInfoBox label{ margin-right:20px}
.carInfoBox label input{ margin-right:3px; vertical-align:middle; position:relative; top:-1px;}


#requireFormBox.formBox{ margin-top:35px;}
#requireFormBox.formBox .line .lt{ width:95px;}
#requireFormBox.formBox .line{ margin-bottom:13px;}
#requireFormBox.formBox .formInp,.formBox .line .checkmaInp{ width:360px;}
#requireFormBox.formBox .line.sendType .group{ margin-right:15px;}
#requireFormBox.formBox .line.sendType .group input{ position:relative; top:2px; margin-right:2px; vertical-align:middle}
#requireFormBox.formBox .line.sendType .group .t{ position:relative; top:1px; vertical-align:middle}

#requireFormBox.formBox.limitFormBox .line .formInp{ width:200px;}

#requireFormBox.formBox.limitFormBox .line .formInp.readonly{ background:#e9e9e9; color:#e9e9e9}



#requireFormBox.formBox .line .errortip{}
#requireFormBox.formBox .line .errortip .star{ position:relative; top:3px; margin-right:3px;}



#up_img_box .fileuploadWrap .filebrowseBtn .fileuploadFileInp{ display: none}




#carLineWrap .car_info_l{ float:left; margin-top: 12px;}
#carLineWrap .carInfoBox{ float:left}
#carLineWrap .carListSelect{ 
    width: 320px;
    margin-left: 4px;
    height:34px; padding:0px 5px; background:#fff; border:1px solid #dbdbdb; border-radius:3px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
#carLineWrap .carListLoading{ position: relative; top: 8px;}
#carLineWrap .carListLoading img{ width: 18px; vertical-align: middle; margin-right: 3px;}
#carLineWrap .carListLoading .t{  position: relative; top: 1px;}




