.annual{ height:94px;padding:0 20px; background:#bfe7f8; overflow:hidden;}
.annual p{ font-size:14px; line-height:40px; margin-bottom:4px;}
.annual ul li{ float:left;width:200px; position:relative; margin-right:8px;}
.annual ul li .name{width:200px;height:22px;line-height:22px;padding:3px 0;}
.annual ul li .passCard{ border:1px solid white; background:transparent;}
.annual ul li i{top:9px;right:6px;}
.annual ul li a.btn-add{line-height:26px;}