
//标题
.title_box{
  border:1px solid #e5e5e5;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-size: 22px;
  background-color: white;
  color: #3E3E3E
}
//内容
.con_box{
  height: 500px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-top: none;
}
