/* reset */
body{ background-color:#f8f9fb}
.left_memb,.foot-new,.headerWrap{ background-color:#fff !important;}
.headerWrap{  padding-bottom:10px; background:#fff url("http://www.12301.cc/images/top_bg.png") top left repeat-x}
.navmem_war{ margin-top:0;}


#memListContainer{ background: #f8f9fb; border:0 none;}


