$borderColor: #e5e5e5;

h1,h2,h3,h4,h5,h6 { font-weight: normal; }
.fl {
    float: left;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.ml15 {
    margin-left: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mr10 {
    margin-right: 10px;
}
.mr25 {
    margin-right: 25px;
}

.c-gray {
    color: #9e9e9e;
}
.c-org {
    color: #f07845;
}
.bg-gray {
    background-color: #f3f1f1;
}

.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}

.c-title {
    color: #303D46;
}
.c-info {
    color: #92A0AB;
}

.f14 {
    font-size: 14px;
}
.f22 {
    font-size: 22px;
}

.icon-mems {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(http://static.12301.cc/assets/build/images/admin/mems-icons.png) no-repeat;
    overflow: hidden;
}
.icon-ren {
    background-position: 0 0;
}
.icon-zhuan {
    background-position: -20px 0;
}

.radio-inline {
    .radio {
        min-width: 100px;
    }
}
.radio{
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}
.radio .i_radio {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background: url(http://images.12301.cc/icon/check.png) no-repeat;
}
.radioBox.active .radio .i_radio{
    background-position: -14px 0;
}

.btn {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    overflow: visible;
    white-space: nowrap;
    text-align: center;

    &.btn-default {
        background-color: #0797D9;
        border-color: #0797D9;
        color: #fff;

        &.btn-reverse {
            background-color: #fff;
            border-color: #0797D9;
            color: #0797D9;
        }
    }

    &.btn-white {
        background-color: #fff;
        border-color: $borderColor;
        color: #4c4e53;
    }
}

.form {
    .form-group:after,
    .form-group:before {
        content: '';
        display: table;
        font-size: 0;
    }

    .form-group:after {
        clear: both;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-label {
        float: left;
        width: 130px;
        padding: 8px 0;
        line-height: 20px;
    }

    .form-val {
        margin-left: 140px;
    }

    .form-text {
        padding: 8px 0;
        line-height: 20px;
    }

    &.form-condensed {
        .form-group {
            margin-bottom: 5px;
        }

        .form-label {
            padding: 0;
        }

        .form-text {
            padding: 0;
        }
    }

    &.form-inline {
        font-size: 0;

        .form-group {
            display: inline-block;
            width: 360px;
            margin-right: 20px;
            font-size: 14px;
            vertical-align: top;
        }
    }

    &.form-w100 {
        .form-label {
            width: 90px;
        }
        .form-val {
            margin-left: 100px;
        }
    }
}

.select {
    position: relative;
    float: left;
    border: 1px solid $borderColor;
    cursor: pointer;

    &.w370 {
        .val {
            width: 330px;
        }
    }

    &.disabled {
        background-color: #f5f5f5;
        cursor: default;
    }

    .val {
        padding: 7px 29px 7px 9px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

        &.default {
            color: #9E9E9E;
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid dashed dashed;
        border-color: #4c4e53 transparent transparent;
        margin-top: -2px;
    }

    &.active {
        z-index: 2;

        .dropdown-options {
            display: block;
        }

        .arrow {
            margin-top: -7px;
            border-style: dashed dashed solid;
            border-color: transparent transparent #4c4e53;
        }
    }

    .dropdown-options {
        display: none;
        position: absolute;
        left: -1px; right: -1px; top: 34px;
        max-height: 240px;
        overflow: auto;
        background-color: #fff;
        border: 1px solid $borderColor;

        li {
            padding: 7px 9px;
            border-bottom: 1px solid $borderColor;
            line-height: 20px;
            cursor: pointer;

            &:last-child {
                border-bottom: 0 none;
            }

            &:hover {
                background-color: #eaeaea;
            }
        }
    }
}

.input-text {
    display: inline-block;
    padding: 7px 9px;
    border: 1px solid $borderColor;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    font-size: 14px;
    line-height: 20px;

    &.w370 {
        width: 350px;
    }

    &.w410 {
        width: 390px;
    }

    &.w90 {
        width: 70px;
    }
}
.input-date-wrap {
    position: relative;

    .input-group-addon {
        position: absolute;

        &.icon-date {
            right: 10px;
            top: 8px;
            line-height: 1;
        }
    }
}

.textarea-wrap {
    display: block;
    padding: 5px 10px;

    .textarea {
        display: block;
        width: 100%;
        margin-left: -10px;
        margin-right: -10px;
        padding: 9px;
        border: 1px solid #e5e5e5;
        line-height: 2;
    }
}

.page-main {
    padding: 40px;
    background-color: #fff;
}
.detail-aside {
    float: left;
    width: 142px;
    line-height: 1.5;

    .aside-avatar-wrap {
        position: relative;
        width: 140px;
        height: 140px;
        border: 1px solid $borderColor;

        .aside-avatar {
            display: block;
            width: 140px;
            height: 140px;
        }

        .aside-icon-wrap {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .prod-item-wrap {
        margin-top: 20px;
        padding: 1px 0 0 1px;
    }
    .prod-item {
        float: left;
        width: 68px;
        height: 58px;
        padding: 10px 0 0;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid $borderColor;
        text-align: center;
        line-height: 2;
        color: #303D46;

        &:hover {
            color: #0797D9;
        }

        em {
            display: block;
        }
    }
}

.detail-main {
    margin-left: 185px;
    overflow: hidden;

    .detail-section {
        position: relative;
        padding-bottom: 30px;
        border-bottom: 1px solid $borderColor;

        &:last-child {
            border-bottom: 0 none;
        }

        .detail-section-tit {
            position: relative;
            padding: 15px 0;
            font-size: 22px;
            color: #9E9E9E;
            line-height: 1.5;
        }

        .section-btn-wrap {
            position: absolute;
            right: 0;
            top: 15px;;
        }
    }

    .detail-dname {
        color: #303D46;
    }

    .qiandan-price,
    .qiandan-fee {
        float: left;
        padding: 10px;
        height: 80px;
        background-color: #E5F5FC;
        line-height: 30px;
        font-size: 14px;
    }
    .qiandan-price {
        width: 195px;
    }
    .qiandan-fee {
        margin-left: 5px;
        width: 350px;
    }

    .identify-imgs {
        li {
            float: left;
            width: 135px;
            margin-right: 10px;
        }

        .identify-img {
            display: block;
            border: 1px solid $borderColor;

            img {
                display: block;
                width: 100%;
                height: 100px;
            }
        }
    }
}

.sys-wrap {
    position: relative;
    float: left;
    width: 150px;
    height: 130px;
    border: 1px solid $borderColor;
    overflow-y: auto;

    .sys-list li,
    .sys-related-list li {
        padding: 5px 10px;
        cursor: pointer;

        &.active {
            background-color: #BFE7F8;
        }
    }
}
.sys-title {
    padding: 8px 0;
    text-align: center;
}
.sys-btns {
    float: left;
    margin: 35px 20px 0;
    width: 65px;
}

.switch-icon {
    position: absolute;cursor:pointer;top:69px;left:132px;display: inline-block;width: 56px; height: 25px;background: url(http://static.12301.cc/images/opcolse.png) no-repeat;
    &.close {
        background-position: 0 -25px;
    }
}

#bankAccountList {
    li {
        float: left;
        width: 188px;
        height: 60px;
        padding: 5px;
        border:1px solid #ddd;
        margin-right: 5px;
        line-height: 2;
        cursor: pointer;

        &.disabled {
            line-height: 60px;
            color: red;
            cursor: not-allowed;
        }

        &.active {
            border-color: #3DB93F;
        }
    }
}
.cashout-time {
    display: none;

    .radioBox {
        float: left;
    }
    .cashout-time-text {
        line-height: 36px;
    }
    &.active {
        display: block;
    }
}