@import "COMMON/css/base/main";
@import "COMMON/css/base/flex";
body{
    background: url("http://static.12301.local/assets/build/local/images/dl_bg.jpg") no-repeat;
    background-size: cover;
    #bodyContainer{
        text-align: center;
        padding: 20px;
    #loginBox{
        padding: 20px;
        .loginBox{
            margin: 2px;
            .u-inp{
                height: 40px;
                padding-left: 40px;
                font-size: 20px;
                border: none;
                width: 250px;
                border-radius: 3px;
            }
            .loginIcon{
                position: relative;
                right: 125px;
                top: -25px;
            }
            .u-loginBtn{
                width: 100%;
                height: 40px;
                border: 1px solid #fff;
                background: rgba(255,255,255,0.1);
            }
        }
        
    }
     #logoBox{
            width: 100%;
            
         #logo{
            width: 120px;
            height: 120px;
        }
     }
       
    }
}
