.calendar-price{
  position: fixed;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #e5e5e5;
  .control-nav{
    position: absolute;
    width: 100%;
    color: #ffffff;
    line-height: 35px;
    font-size: 26px;
    .btn{
      cursor: pointer;
      width: 14px;
      height: 14px;
      margin-top: 14px;
    }
    .btn:active{
      color: #ffa63c ;
    }
    .prev-btn{
      float: left;
      margin-left: 30px;
      background: url("//static.12301.cc/assets/build/images/month_go.png") no-repeat 0 0;
    }
    .next-btn{
      float: right;
      margin-right: 30px;
      background: url("//static.12301.cc/assets/build/images/month_go.png") no-repeat 0 -15px;
    }
    .close-btn{
      position: absolute;
      right: -18px;
      top: -18px;
      width: 32px;
      height: 32px;
      background: url("//static.12301.cc/assets/build/images/calendar_close.png") no-repeat;
      cursor: pointer;
    }
  }
  .loading-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 400px;
    text-align: center;
    font-size: 14px;
    color: #ffa63c;
    background-color: rgba(255,255, 255, 0.6);
  }
  .calendar-wrapper{
    background-color: #57a8d8;
    .title{
      text-align: center;
      line-height: 40px;
      height: 40px;
      font-size: 14px;
      color: #ffffff;
    }
    .table-con{
      padding: 2px 2px;
      .calendar-tb{
        background: #fff;
        text-align: center;
        width: 100%;
        td{
          border: 1px solid #ddd;
        }
        th , td{
          width: 54px;
        }
        thead tr {
          line-height: 30px;
          border: 1px solid #e5e5e5;
          .sunday , .saturday{
            color: #FF5400;
          }
        }
        tbody tr{
          line-height: 50px;
          border: 1px solid #ddd;
        }
        tbody tr td{
          width: 97px;
          border: 1px solid #ddd;
          height: 78px;
          vertical-align: top;
        }
        tbody tr td p{
          line-height: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        tbody tr td .price{
          width: 77px;
          padding: 5px 10px;
        }
        tbody tr td .date{
          text-align: left;
          color: #008fc2;
          padding: 5px;
          font-size: 14px;
          font-weight: bold;
        }
        tbody tr td .price{
          color: #FF6600;
        }
        tbody tr td.usable{
          cursor: pointer;
        }
        tbody tr td.usable:hover{
          background-color: #dcf4fc;
          //background-color: #ffa63c;
        }
        //tbody tr td.usable:hover p{
        //  color: white !important;
        //}
        tbody tr td.selected{
          background-color: #57a8d8 !important; ;
          color: white;
        }
        tbody tr td.selected p{
          color: white !important;
        }
        tbody tr td.disable p ,tbody tr td.disable{
          color: #bfbfbf;
          cursor: not-allowed;
          background-color: #F7F7F7;
        }
        tbody tr td p.today{
          color: #00bcd4;
        }
      }
    }
  }
}

.calendar-price.green{
  .calendar-wrapper .title{
    background-color: #8ab923;
  }
  border: 1px solid #8ab923;
}
