.repayAlarmContain{width: 450px;height: 336px;background: inherit;background-color: rgba(225,225,225,1);text-align: center;}
.repayAlarmCenter{height: 336px;width: 380px;margin: auto;}
.repayAlarmhead{border-bottom: solid 1px black;margin:0px 10px 10px 10px}
.repayAlarmCenter div span input{width: 95px;height: 35px;padding-left: 4px}
.repayAlarmhead h3{padding: 10px 10px;margin: 0px }
.repayAlarmCenter img{width: 109px;height: 109px;margin-top: 10px;margin-right: -37px}
.repayAlarmCenter p{font-size: 14px;color:red;}
.repayAlarmBtn  input{border: thick;width: 80px;height: 30px;background-color: #0797d9;color: #fff;margin-top: 10px;border-radius: 3px}
.repayAlarmBtn input:hover{  background: #e46518;}
.repayAlarmspan{padding: 5px}
.repayAlarmspan span{font-size: 12px;color:#FF0000;text-align: left;}