<tr class="item" data-id="<%=id%>">
    <td class="ltTxt">
        <span></span>
        <span class="colorGray"><%=name%>（<%=account%>）</span>
    </td>
    <td>
        <a class="iconfont countBtn minu" href="javascript: void(0);">&#xe6b5;</a>
        <input data-id="<%=id%>" class="baseInp countInp" type="text" value="<%=total_num%>"/>
        <a class="iconfont countBtn add " href="javascript: void(0);">&#xe649;</a>
    </td>
    <td class="total" style="color:#c4c4c4; text-align:left; padding-left:10px;">-1表示使用未分配库存</td>
</tr>