@import "COMMON/css/base/mixin/opacity";
.gSimpleDialog-container{ position:fixed; overflow:hidden; background:#fff;
    -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    -ms-box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    -o-box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    box-shadow:1px 1px 1px rgba(0,0,0,0.3);
}
.gSimpleDialog-header{ position:relative}
.gSimpleDialog-closeBtn{ display:block; position:absolute; top:0; right:0; bottom:0; text-align:center; font-size:18px; cursor:pointer}
.gSimpleDialog-closeBtn.hidden{ display:none}
.gSimpleDialog-mask{ @include opacity(0.6)}