#mine_module{
  padding: 0 26px;
  .personalInfomation{
    padding: 26px 0;
    border-bottom: 1px solid map-get($color,border);
    overflow: hidden;
    img{
      cursor: pointer;
      float: left;
      width: 100px;
      height: 100px;
      background: indianred;
      display: inline-block;
      border-radius: 100%;
    }
    .information{
      float: left;
      margin-left: 30px;
      display: inline-block;
      .line1{
        height: 30px;
        overflow: hidden;
        white-space : nowrap;
      }
      .line2{
        margin-top: 15px;
      }
      .line3{
        margin-top: 15px;

      }
    }
    .mine_name{
      font-weight: bold;
    }
  }

  .remainMoney{
    clear: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
  }


//  专有样式
  .mine_type{
    border: 1px solid map_get($color,orange);
    color: map_get($color,orange);
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    .short{
      background: map_get($color,orange);
      color: #fff;
      padding: 0 3px;
    }
    .long{
      padding: 0 5px;
    }
  }

  .mine_isQualified{
    border: 1px solid map_get($color,green);
    color: map_get($color,green);
    display: inline-block;
    font-size: 12px;
    padding: 0 5px;
    margin-left: 10px;
  }

  .mine_isVIP{
    border: 1px solid map_get($color,lightOrange);
    color: map_get($color,lightOrange);
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    margin-left: 10px;
  }

  .mine_expiredTime,.lastLogin{
    display: inline-block;
    box-sizing: content-box;
    margin-left: 30px;
    color:map_get($color,gray)
  }
  .btn_renew{
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: map_get($color,orange);
    padding: 0 17px;
    border-radius: 3px;
    margin-left: 10px;
  }
  .icon-bianji{
    cursor: pointer;
    color: map_get($color,blue);
    margin-left: 10px;
  }
  .wrongNum{
    color: map_get($color,red);
    cursor: pointer;
  }

  .remainText{
    font-weight: bold;
    em{
      font-weight: normal;
      color: map_get($color,red);
    }
  }

  .btn_pay{
    cursor: pointer;
    border: 1px solid map_get($color,blue);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: map_get($color,blue);
    background: #e4f5fd;
    padding: 0 17px;
    border-radius: 3px;
    margin-left: 20px;

  }

}