.fixHead{ position:fixed; top:0; left:0; right:0; height:44px; line-height:44px; text-align:center; background:#2a98da; color:#fff; z-index:10}
.fixHead .btn{
    position:absolute;
    top:0;
    bottom:0;
    display:block;
    width:45px;
    text-align:center;
    color:#fff;
}
.fixHead .btn.goback{ left:0;}
.fixHead .btn.user{ right:0;}
.pageMainCon{ margin-top:44px;}
.topTotal{ position:relative; padding:15px 15px 35px 10px; background:#fffde6; font-size:14px;}
.topTotal .userPhotoBox{ position:absolute; width:55px; height:55px; font-size:0; overflow:hidden; border-radius:50%; background:#fff;}
.topTotal .userPhotoBox img{ width:100%}
.topTotal .rt{ }
.topTotal .lineWrap{ height:55px; margin-left:65px;}
.topTotal .line.nickname{ height:22px; line-height:22px; overflow:hidden; padding-top:5px;}
.topTotal .line.top{ margin-bottom:10px;}
.topTotal .line.tip{ color:#818b90;}
.topTotal .line.top .rt{ position:relative; bottom:-2px}
.topTotal .line.top .totalMoneyNum{ font-size:22px;}
.topTotal .line.top .yen{ font-size:16px; position:relative; top:-1px; margin-right:2px;}
.topTotal .line.top .rewardTips{display: block; font-size: 10px; margin-top: 10px; color: #6c7882;}
#tableWrap .line{ padding:0 10px; font-size:0}
#tableWrap .col{ display:inline-block; overflow:hidden; font-size:14px; -webkit-box-sizing:border-box; box-sizing:border-box}
#tableWrap .col_1{ width:40%}
#tableWrap .col_2{ width:20%; text-align:right}
#tableWrap .col_3{ width:40%; text-align:right}
#tableWrap .thead.line{ background:#e1e4e6;}
#tableWrap .groupHead.line{ background:#fff;}
#tableWrap .groupHead.line .col{ height:44px; line-height:44px;}
#tableWrap .groupItem.line .col{ height:30px; line-height:30px;}
#tableWrap .groupHead.line .col_2{ padding-right:2px;}
#tableWrap .thead.line .col{ height:38px; line-height:38px; font-size:12px;}
#tableWrap .child{ color:#3eba40}
#tableWrap .triggerIcon{ display:none; margin-left:-6px;}
#tableWrap .triggerIcon .iconfont{ font-size:22px; vertical-align:middle}
#tableWrap .col_1 .t{ vertical-align:middle}
#tableWrap .triggerIcon .iconfont.up{ display:none}
#tableWrap .groupHead.line.on .triggerIcon .iconfont.up{ display:inline-block}
#tableWrap .groupHead.line.on .triggerIcon .iconfont.down{ display:none}
#tableWrap .item .groupHead{ border-bottom:1px solid #efefef}
#tableWrap .item .group{ display:none; border-bottom:1px solid #efefef}

#tableWrap .listUl .sta{ height:200px; line-height:200px; text-align:center; font-size:14px;}
#tableWrap .listUl .sta .iconfont{ margin-right:2px;}
#tableWrap .listUl .sta.getMore.loading{ height:50px; line-height:50px;}