body{ background:#f8f9fb; padding-bottom:150px;}
.myRight{ width:1000px; margin:15px auto; overflow:hidden; background:#fff}
.myRightCon{ width:870px; margin:20px 0 0 90px; overflow:hidden; background:#fff;}
.pageRightArea{ padding-top:10px; padding-bottom:100px; background:#fff;  border:1px solid #e5e5e5;}
.slideContainer{ position:relative; width:2415px; overflow:hidden;}
.slideContainer .slidePanel{ position:relative; float:left; width:805px;}
.slideContainer .slidePanel .panelTitle{ color:#6c6c6c; font-size:22px; margin-bottom:30px;}
.slideContainer .setpTop{ position:relative; padding:40px 10px 10px; overflow:hidden;}
.slideContainer .setpTop .dir{ position:absolute; z-index:1; left:80px; right:90px; top:75px; height:1px; font-size:0; background:#dbdbdb}
.slideContainer .setpTop .stepItem{ position:relative; z-index:2;}
.slideContainer .setpTop .stepCon{ float:left; width:100px; background:#fff; text-align:center;}
.slideContainer .setpTop .stepItem.step_1 .stepCon{ margin-left:118px;}
.slideContainer .setpTop .stepItem.step_2 .stepCon{ margin-left:118px;}
.slideContainer .setpTop .stepItem.step_3 .stepCon{ margin-left:118px;}
.slideContainer .setpTop .icon{ position:relative; display:inline-block; width:66px; height:67px; font-size:0; background:url("http://static.12301.cc/assets/build/images/register_step_bg.png") no-repeat 0 0}
.slideContainer .setpTop .icon.step_1{ background-position:0 0}
.slideContainer .setpTop .icon.step_2{ background-position:-66px 0}
.slideContainer .setpTop .icon.step_3{ background-position:-132px 0}
.slideContainer .slidePanel.step_1.active .setpTop .icon.step_1{ background-position:0 -67px}
.slideContainer .slidePanel.step_2.active .setpTop .icon.step_2{ background-position:-66px -67px}
.slideContainer .slidePanel.step_3.active .setpTop .icon.step_3{ background-position:-132px -67px}
.slideContainer .form{ padding:10px 10px 30px 90px}
.slideContainer .form .line{ width:100%; position:relative; overflow:hidden; margin-bottom:20px;}
.slideContainer .form .iconfont{ font-size:18px;}
.slideContainer .form .tip{ color:#b3b3b3}
.slideContainer .form .tip.ok{ color:#3eba40; display:none;}
.slideContainer .form .tip.error{ color:#e12424; display:none}
.slideContainer .form .textInp,#imgMaCodeInp{ width:220px; height:22px; line-height:22px; padding:6px 8px; border:1px solid #e5e5e5; background:#fff; margin-right:3px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.055);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.055);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.055);
    -o-box-shadow:inset 0 1px 1px rgba(0,0,0,.055);
    -ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.055);
}
.slideContainer .form .line.companyLine .tip.normal{ display:block; margin-top:5px;}
.slideContainer .form .line .rt.error .textInp{ color:#e12424; border-color:#e12424}
.slideContainer .form .line .rt.error .tip,.slideContainer .form .line .rt.error .tip.ok{ display:none}
.slideContainer .form .line .rt.error .tip.error{ display:inline-block;}
.slideContainer .form .line .rt.ok .tip{ display:none}
.slideContainer .form .line .rt.ok .tip.normal{ display:none}
.slideContainer .form .line .rt.ok .tip.ok{ display:inline-block}
.slideContainer .form .line .rt.error .tip.error{ display:inline-block;}
.slideContainer .form .line.companyLine .rt.ok .tip.normal{ display:block}
.slideContainer .form .line.companyLine .rt.error .tip.normal{ display:block}
.slideContainer .form .line .rt .textInp:focus{ color:#f37138; border-color:#e5e5e5}
.slideContainer .form .line .lt{ float:left; width:85px; margin-top:12px}
.slideContainer .form .line .rt{ float:left; width:555px;}
.slideContainer .form .line .validCodeBtn{ padding:5px 7px; background:#008fc2; color:#fff; margin-right:5px;}
.slideContainer .form .line .validCodeBtn:hover{ background:#0081af; text-decoration:none}
.slideContainer .form .line .validCodeBtn.disable,.slideContainer .form .line .validCodeBtn.disable:hover{ background:#818181; cursor:default}
.slideContainer .form .line .level{ padding:0px 8px; font-size:12px; font-style:normal;}
.slideContainer .form .line .level.weak{ background:#f2f2f2}
.slideContainer .form .line .level.normal{ background:#c9c9c9}
.slideContainer .form .line .level.strong{ background:#a6a6a6}
.slideContainer .form .levelBar.weak .level.weak{ background:#ffb28b; color:#fff}
.slideContainer .form .levelBar.normal .level.normal{ background:#f78147; color:#fff}
.slideContainer .form .levelBar.strong .level.strong{ background:#fe6f28; color:#fff}
.slideContainer .form .line.submitLine{ margin-top:55px;}
.slideContainer .form .tiaokuanCheckbox{ vertical-align:middle}
.slideContainer .form .submitBtn{ display:block; width:130px; height:32px; line-height:32px; margin-top:20px; text-align:center; color:#fff; background:#008fc2}
.slideContainer .form .submitBtn:hover{ background:#0081af; text-decoration:none}
.slideContainer .form .submitBtn.disable,.slideContainer .form .submitBtn.disable:hover{ background:#818181; cursor:default}
#mobileInp{ width:186px;}
#validCodeInp{ width:106px;}
#pwdInp{ width:186px;}
#companyInp{ width:270px;}
.slideContainer .form .line.pwdLine .inpCon{ position:relative; float:left; position:relative; margin-right:2px;}
.slideContainer .form .line.pwdLine .levelBar{ float:left; margin-top:12px;}
.slideContainer .form .line.pwdLine .tip{ float:left; margin:11px 0 0 12px;}
.slideContainer .form .line.pwdLine .tip.ok{ margin-top:7px;}
.slideContainer .form .line.pwdLine .showPwdBtn{ display:block; position:absolute; width:15px; height:10px; top:13px; right:12px; background:url("http://static.12301.cc/assets/build/images/see_pwd.png") no-repeat 0 0 }

.slideContainer .slidePanel.step_1 .serviceBox{ position:absolute; top:54px; left:620px;}
.slideContainer .serviceBox .sl{ width:180px; overflow:hidden; margin-bottom:20px}
.slideContainer .serviceBox .iconfont{ float:left; display:block; width:40px; height:40px; line-height:40px; font-size:40px; color:#9f9f9f; text-align:center;}
.slideContainer .serviceBox .tit{ color:#9f9f9f; margin-top:7px; margin-bottom:4px;}
.slideContainer .serviceBox .sl.qq .tit{  margin-top:9px;}
.slideContainer .serviceBox .serviceNum{  color:#818181}
.slideContainer .serviceBox .sl:hover .iconfont{ color:#818181}
.slideContainer .serviceBox .sl:hover .tit{ color:#818181}
.slideContainer .serviceBox .sl:hover .serviceNum{ color:#3f3f3f;}
.slideContainer .virLine{ position:absolute; top:54px; right:205px; height:400px; width:1px; font-size:0; border-left:1px dotted #d5d5d5}

.slideContainer .form.success .serviceBox{ margin-left:4px; overflow:hidden;}
.slideContainer .form.success .serviceBox .topLine{ margin-bottom:10px; margin-top:30px;}
.slideContainer .form.success .sl.tel{ float:left; margin-top:3px; margin-left:-7px;}

.slideContainer .form.info,.slideContainer .form.success{ padding-left:147px;}
.slideContainer .form.info .line .lt{ width:65px;}
.slideContainer .form.info .ctypeRadio{ display:none;}
.slideContainer .form.info .rt.ctype_0 .ctypeRadio_0{ display:inline-block}
.slideContainer .form.info .rt.ctype_1 .ctypeRadio_1{ display:inline-block}
.slideContainer .form.info .line.accountLine{ margin-bottom:8px;}
.slideContainer .form.info .line.companyClassLine{ margin-bottom:10px;}
.slideContainer .form.info .accountInp{ width:240px;}
.slideContainer .form.info .addrInp{ width:350px;}
.slideContainer .form.info .bizTextarea{ width:350px; height:100px;}
.slideContainer .form.info .rt.ctype{ margin-top:12px;}
.slideContainer .form.info .rt.ctype label{ margin-right:15px;}
.slideContainer .form.info .rt.ctype label:last-child{ margin-right:0;}
.slideContainer .form.info .rt.ctype .t{ vertical-align:top}
.slideContainer .form.info .areaLine .rt{ margin-top:9px;}
.slideContainer .form.info .areaSelect{ width:140px; height:30px; padding-left:2px;}
.slideContainer .form.info .areaSelect.prov{ margin-right:10px;}
.slideContainer .form.info .line.areaLine .lt{ margin-top:18px}
.slideContainer .form .jumpStepBtn{  float:left; margin-top:29px; text-decoration:underline}
#infoSubmitBtn{ float:left; margin-right:15px;}


.slideContainer .form.success .successTit{ color:#3eba40; margin-bottom:12px; margin-top:20px}
.slideContainer .form.success .desc{ margin-left:3px;}
.slideContainer .form.success .successTit .iconfont{ font-size:30px; margin-right:4px;}
.slideContainer .form.success .successTit .t{ font-size:30px;}

#vcode_img{ vertical-align:middle; border:1px solid #dbdbdb; padding:4px 0; margin-right:5px; cursor:pointer}
#imgMaCodeInp{ width:140px; vertical-align:middle}







