.bankCheckorFault,.bankCheckDialogContainer{ width:600px; height:280px; background:#fff}
.bankCheckorEnsure{width:100%;height: 100%;text-align: center;display: block}
.Tx1{text-align: center;width: 66%;line-height: 37px;margin: auto;padding-top: 20px;font-size: 14px;margin-top: 61px;font-weight: bold;}
.Tx2{font-size: 12px;color: #b8860b;font-weight: bold;}
.check_Btn{width: 80px;height: 35px;background-color: #258cc9;display: inline-block;color: #fff;border: solid;}
.Tx0{margin: 10px 0;line-height: 22px;font-size: 14px;}
.bankP{padding-left: 3px;}
.Tx3{font-size: 16px;color: black;text-align: center;width: 369px;margin:20px auto;padding-top: 96px;font-weight: bold;}
.check_Btn{width: 90px;height: 37px;background-color: #258cc9;display: inline-block;color: #fff;border: solid;margin-top: 15px;}
.bankCheckorOk{width:100%;height: 100%;text-align: center;display: none}
.bankCheckorFault{width:100%;height: 100%;text-align: center;display: none}
#deleteBankCard_ensure{width:100%;height: 100%;text-align: center;display: none}
.check_Btn:hover{background: #258cea}
#bankCheckor_input{width: 80px;height: 29px;padding-left: 5px}
#cancel_deBankC_Btn{border: none;color: blue;background-color: #0797d9;}
.checkor_shell_btn1,.checkor_shell_btn2,.checkor_shell_btn3{font-size:15px;width: 44px;height:29px;float: left;margin-top:20px;margin-left:15px; border:none;color:#0797d9;background:#dcdcdc; }
.checkor_shell_btn1{margin-left:30px;}
.checkor_shell_span{font-size: 12px;color: #e11d2c;text-align:center;display:block;margin-top:30px;}
.checkor_shell_span1{position: absolute;top: 10px;right: 5px;font-size: 12px;color: #f00000}
.checkor_shell_span3{position:relative;top: 24px;left: 14px;font-size: 12px;color: #fff;letter-spacing: 2px;}
.checkor_shell_btn1,.checkor_shell_btn2,.checkor_shell_btn3{
  cursor: pointer;
}