html,body{margin: 0px;height: 100%;}
.checkor{z-index:10;border-radius: 1px;background:#fff;text-align: center;width: 753px;height:436px;font-size: 18px ;position:fixed;left: 45%;top: 46%;display: none;border: solid 1px #ccc}
.Tx1{text-align: center;width: 70%;line-height: 22px;padding:20px 0 ;font-size: 22px;font-weight: bold;margin: auto;margin-top: 100px;letter-spacing:1px; }
#checkor_input{width: 56px;height: 27px;line-height: 22px;border-radius: 1px;padding-left: 3px;border: solid 1px #999; }
.Tx2{font-size: 12px;color: #b8860b;font-weight: bold;}
.check_Btn{width: 80px;height: 36px;background-color: #258cc9;display: inline-block;color: #fff;border: solid;font-size: 14px }
.Tx3{font-size: 25px;color: black;text-align: center;width: 369px;margin:20px auto;padding-top: 107px;font-weight: bold;}
#checkor{display: none;}
/* #Delete{display: block;background-color:#c0c0c0; }*/
#shell{width: 100%;height: 100%;margin: 0;padding: 0;background: #999999;z-index: 2;display: none;}
.Btn_delete2{border: none;color: blue;background-color:#fff }