@import "COMMON/css/base/core/_variables.scss";
body{ background:rgba(240, 243, 245, 1); margin-bottom:40px;}
#fixBarContainer{ display:none; position:fixed; left:0; right:0; z-index:2; bottom:0; background:#fff; box-shadow:0 -1px 1px rgba(0,0,0,0.1)}
#fixBarContainer .btn{ position:relative; display:block; width:50%; height:43px; line-height:43px; float:left; text-align:center; color:$blue}
#fixBarContainer .btn.createBtn:before{ content:""; width:1px; position:absolute; top:0; bottom:0; left:0; font-size:0; background:$gray88;}

#currentContainer{
    width:240px;
    margin:190px auto 30px;
    text-align:center;
}
#currentContainer .ctit{ font-size:0.4rem; margin-bottom:8px;}
#currentContainer .posterContainer{
    display:flex;
    width:100%;
    height:360px;
    justify-content:center;
    align-items:center;
    background:#e9edf0;
    font-size:0;
}
#currentContainer .posterContainer img{ width:100%; border:0 none}
#currentContainer .downBtn{ display:block; width:140px; height:38px; line-height:38px; margin:10px auto; text-align:center; background:$blue; color:#fff}