.actionUl{
    position:relative;
    .actionItem{
        height:44px;
        line-height:44px;
        border-bottom:1px solid #e5e5e5;
        text-align:center;
    }
    .actionItem.selected{
        color:#008fc2;
    }
}