@import "COMMON/css/base/core";

.trecordCount_box {
  border: 1px solid #e5e5e5;
  .trecordCount{
    .nav_title{
      ul{
        padding:0;
        margin: 0;
        background: none;
        padding-left: 20px;
        height: 60px;
        border-bottom: 1px solid #e5e5e5;
        li{
          padding: 19px 3px 17px;
          margin: 0 50px 0 0;
          float: left;
          font-size: 22px;
          a.not_active{
            color: #303d46;
          }
        }

      }
    }
    .filter{
      border-bottom: 1px solid #e5e5e5;
      .line{
        padding-left: 20px;
        height: 60px;
        line-height: 60px;
        position: relative;
        .lt{
          float: left;
        }
        .rt{
          margin-left: 10px;
          float:left;
        }
        .datePickerInp{
          @include textInp(160,5);
        }
        .zhi{
          padding:0 5px;
        }
        ul.time_area{
          float:left;
          color: #0797D9;
          li{
            float: left;
            padding: 0 8px;
            cursor: pointer;
          }
          li:active{
            color: orangered;
          }
        }
        .fll{
          float:left ;
          position:relative;
          .trader_inp{
            @include textInp(160,5);
          }
        };
      }
      .line2 {
        .td1{
          position: relative;
          i.clear_trader_inp{
            position: absolute;
            font-family: "iconfont";
            font-size: 17px;
            right: 6px;
            top: 14px;
            color: #bfbfbf;
            cursor: pointer;
            line-height: 30px;
          }
          i.clear_trader_inp:active{
            color: orangered;
          }
        }
        .td2{
          margin-left: 21px;
          .box{
            cursor: pointer;
            border: 1px solid #e5e5e5;
            height: 32px;
            width: 170px;
            margin-top: 13px;
            display: table;
            .cell{
              line-height: 32px;
              display: table-cell;
              text-align: right;
              padding-right: 7px;
              vertical-align: middle;
              position: relative;
            }
            .selected:before{
              content:'' ;
              display: inline-block;
              position:absolute;
              top:10px;
              left: 12px;
              width: 14px;
              height: 14px;
              background: url("http://images.12301.cc/icon/check.png");
            }
            .not_selected:before{
              content:'' ;
              display: inline-block;
              position:absolute;
              top:10px;
              left: 12px;
              width: 14px;
              height: 14px;
              background: url("http://images.12301.cc/icon/check.png") scroll -14px 0px;
            }
        }


        }
        .btn1{
          margin-left: 20px;
          span.query_btn{
            height: 34px;
            width: 89px;
            background-color: #f07845;
            color:#ffffff;
            display: block;
            margin-top: 13px;
            line-height: 34px;
            text-align: center;
            font-size: 14px;
            cursor:pointer;
          }
        }
        .btn2{
          margin-left: 20px;
          span.excel_btn{
            height: 32px;
            width: 90px;
            display: block;
            margin-top: 13px;
            line-height: 32px;
            text-align: right;
            padding-right: 13px;
            border: 1px solid #e5e5e5;
            font-size: 14px;
            cursor:pointer;
            position:relative;
          }
          span.excel_btn:before{
            content:"";
            display: block;
            position:absolute;
            width:18px;
            height: 18px;
            top:7px;
            left:12px;
            background:url("http://www.12301.cc/tpl/orderquery/images/excel2.png");
          }
        }
      }
    }
    .table_box{
      table.total_table{
        .th3,.th4,.th5,.th2{text-align: right}
        .th6{text-align: center}
        thead{
          tr {
            color: #fff;
            height: 36px;
            line-height: 36px;
            background-color: #00597b;
            .th1{width:280px;text-align: left ;padding-left: 20px;}
            .th2{width:100px; }
            .th3{width:100px; }
            .th4{width:100px; }
            .th5{width:100px; }
            .th6{width:100px; }
          }
        }
        tbody{
          tr{
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid #e5e5e5;
            .th1{width:280px;text-align: left ;padding-left: 20px;}
          }
          tr:hover{
            background-color: #f9f2f3;
          }
          //tr:last-child{border-bottom: none;}
        }

      }
    }
    #pagination_wrap{
      height: 66px;
      line-height: 100px;
      width: 800px;
      text-align: center;
      ul.pagination{
        display: inline-block;
      }
    }
  }
}
.calendar-table .calendar-td.empty, .calendar-table .calendar-td.noPrice, .calendar-table .calendar-td.day.disable{color: #dedede !important;}
.calendar-table .calendar-td.day:hover{background-color: #00a0e9}
.calendar-td.selected.disable{background-color: #008fc2 !important;color:#ffffff !important;}
.calendar-pop-contaienr{  width:220px !important;}