.to_downcenter_dialog{
  .title{
    line-height: 46px;
    height: 46px;
    padding-left: 20px;
    font-size: 18px;
  }
  .line{
    padding: 0 20px;
  }
  .line1{
    font-size: 14px;
    line-height: 30px;
    text-indent: 2em;
  }
  .line2{
    line-height: 80px;
    text-align: center;
    span.btn{
      padding:8px 30px;
      border: 1px solid #0797D9;
      color: #0797D9;
      font-size: 14px;
      background-color: #ffffff;
      transition:   background-color 0.5s;
      cursor: pointer;
      margin-left: 10px;
    }
    span.btn:hover{
      color: white;
      background-color: #0797D9;
    }
  }
}