#saleEchartBox{
    position:relative;
    overflow: hidden;

    /*title*/
    .title{
        line-height: 42px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #e5e5e5;
        span.title-text{ margin-left: 10px;}
        @keyframes rotate360 {
            from {
                transform : rotateZ(0deg) ;
            } to {
                  transform : rotateZ(360deg) ;
              }
        }
        .icon-shuaxin {
            font-size: 18px;
            cursor: pointer;
            color :#9d9d9d ;
            margin-left: 10px;
            position: absolute;
        }
        .icon-shuaxin.rotateInfinite {
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: rotate360;
            transform-origin: center center;
            animation-timing-function: linear;
            color :#40bc42 ;
        }
    }
    .line{
        overflow: hidden;
    }
    .line1{
        padding: 20px 0px;
        .data-box{
            width: 50%;
            float: left;
        }
        .inner-box{
            margin: 10px;
            border:1px solid #e5e5e5;
            .title{
                background-color: #f1f1f1;
                font-size: 16px;
                line-height: 38px;
                color: #404040;
                text-align: center;
            }
            .con{
                .lt{
                    width: 40%;
                    float: left;
                    height: 80px;
                    .img-box{
                        background: url(http://static.12301.cc/assets/build/images/orderdata.png);
                        width: 40px;
                        height: 40px;
                        background-repeat: no-repeat;
                        margin-top: 19px;
                        float: right;
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
                .rt{
                    width: 59%;
                    float: left;
                    padding: 13px 0;
                    line-height: 25px;
                    color: #ff7516;
                    font-size: 14px;
                    .num{
                        font-size: 18px;
                    }
                }
            }
        }
        .today-check .con .lt .img-box{  background-position-x: -40px;  }
        .recent-seven .con .lt  .img-box{  background-position-x: -80px;  }
        .recent-thirty .con .lt  .img-box{  background-position-x: -120px;  }
        .recent-seven .con .rt { color: #457ed8}
        .recent-thirty .con .rt { color: #1f9410}

    }
    .line2{
        text-align: center;
        .lineEchartControlBox{
            margin: 20px auto;
            display: inline-block;
            .td{
                float:left;
                .btn{
                    padding: 8px 16px;
                    display: block;
                    float: left;
                    cursor: pointer;
                }
                .btn.active{
                    background-color: #0897d9;
                    color : white;
                }
            }
            .td1{
            }
            .td1,.td2{ border: 1px solid #e5e5e5;}
            .td3{
                margin-left: 20px;
                margin-right: 20px;
            }
            .td3 input{
                padding-left: 5px;
                border: 1px solid #e5e5e5;
                width:88px;
                height: 27px;
                line-height: 27px;
            }
            .okBtn.btn{
                float: right;
                margin-top: 1px;
            }
        }
        .selectBox{
            display: inline-block;
            margin-left: 20px;
            position: relative;
            top: -7px;
            .td {
                margin-right: 20px;
                float: left;
                i.icon{
                    position: relative;
                    top: 2px;
                    cursor: pointer;
                }
                i.icon-checkbox.icon-u-bold.icon-checkbox-checked{
                    color: #3cba3f;
                }
                i.icon-checkbox.icon-u-bold{
                    color: #9fa6ad;
                }
            }
        }
        .lineEchart{
            height :380px;
            width : 100%
        }
    }
    .line3{
        margin-top: 50px;
        .lt , .rt{
            height: 400px;
        }
        .lt{
            width: 50%;
            float: left;
        }
        .rt{
            width: 50%;
            float: right;
        }
    }




}