@import "COMMON/css/base/main";
#tabPanel-terminal{ border:0 none; background:none}
#tabPanel-terminal .searchBox{ border:1px solid $gray90; margin-top:-1px; background:#fff}

.orderList{ margin-top:15px; line-height:1.5}
.orderList .status{  line-height:50px; text-align:left; padding-left:10px;}
.orderList .status.loading .icon{ position:relative; top:12px; margin-right:5px;}
.orderList .orderItem{ margin-bottom:10px;}
.orderList .oTit{ position:relative; height:36px; line-height:36px; padding:0 25px 0 22px; border:1px solid #ddd; background:#fff;}
.orderList .oTit .flag{ position:relative; display:inline-block; float:right; height:20px; top:8px; line-height:20px; padding:0 10px; color:#fff; background:#f17848; margin-left:5px; }
.orderList .oTit .flag.overDate{ background:#f17848}
.orderList .oTit .flag.paytype{ background:#f17848}
.orderList .oTit .flag.pmode_1{ background:#3eba40}
.orderList .oTit .flag.status_0{ background:#3eba40}
.orderList .oTit .mobile{ margin-left:15px;}
.orderList .itemCon{ position:relative; padding-left:290px; border:1px solid #e5e5e5; border-top:0 none; background:#fff}
.orderList .inCon{ padding:15px 25px 15px 22px; overflow:hidden}
.orderList .orderItem .ltCon{ position:absolute; top:0; left:0; bottom:0; width:255px; padding:10px; padding-left:15px; border-right:1px solid #ededed; background:#fff;}
.orderList .orderItem .ltCon .line{ height:28px; line-height:28px;}
.orderList .orderItem .ltCon .vhidden{ visibility:hidden; color:#fff}
.orderList .ticketUl{  }
.orderList .ticketLi{ overflow:hidden; margin-bottom:12px;}
.orderList .ticketLi:last-child{ margin-bottom:8px;}
.orderList .ticketLi .inpCtrol,.orderList .ticketLi .trnameCol{ float:right; margin-left:5px;}
.orderList .ticketLi .inpCtrol .tinp{ float:left; width:70px; height:40px; font-size:14px; font-weight:bold; line-height:40px; text-align:center; padding:0 5px; border:1px solid #e2e2e2; background:#fff}
.orderList .ticketLi .inpCtrol .zhang{ display:block; float:left; width:22px; height:40px; text-align:center; line-height:40px; border:1px solid #e2e2e2; border-left:0 none}
.orderList .ticketLi .trnameCol{ text-align:right}
.orderList .ticketLi .trnameCol .tname{ position:relative; right:-5px; margin-top:2px; font-size:14px; font-weight:bold}
.orderList .ticketLi .trnameCol .tnum{ font-weight:bold; color:#f17848; margin:0 2px;}
.orderList .ticketLi .trnameCol .vt{ margin:0 3px;}
.orderList .ticketLi .trnameCol .flag{ color:#fff; padding:0 3px;}
.orderList .checkBtn{ float:right; display:inline-block; height:34px; margin-top:3px; line-height:34px; padding:0 50px; background:#ff7734; color:#fff;}
.orderList .checkBtn:hover{ text-decoration:none; background:#ff601a}
.orderList .checkBtn.disabled,.orderList .checkBtn.disable{ background:#cacaca; color:#7c7c7c; cursor:default}
.orderList .checkBtn.success,.orderList .checkBtn.success:hover{ background:#3dba3f; color:#fff; cursor:default}
.orderList .checkBtn.success .iconfont{ position:relative; top:1px; margin-right:3px;}
.orderList .payTypeTip{ float:right; text-align:right; clear:right; margin-top:5px; color:#cf2e2e}
.orderList .errorTip{ float:right; margin-top:11px; margin-left:10px; color:red; margin-right:5px;}
.orderList .sta{ height:150px; line-height:110px; padding-left:20px;}
.orderList .sta .loadingImg{ width:22px; vertical-align:middle; margin-right:3px;}
.orderList .sta .t{ vertical-align:middle}
.orderList .checkMethodBox{ margin-bottom:5px; text-align:right;}
.orderList .checkMethodBox input{ position:relative; top:2px; vertical-align:middle; margin-right:2px;}
.orderList .checkMethodBox label{ vertical-align:middle;}

.orderList .termTimeWrap{ float:right; position:relative; width:125px; height:32px; margin-top:3px; margin-right:6px; background:#fff; padding:0 35px 0 5px; border:1px solid #e0e0e0}
.orderList .termTimeWrap .iconfont{font-size: 14px; position:absolute; top:6px; right:5px; cursor:pointer; color:#0897d9; }
.orderList .termTimeWrap .termTimeInp{ display:block; width:100%; height: 24px; line-height:24px; padding:3px; border:0 none; background:#fff}