<!-- Author: huangzhiyang -->
<!-- Date: 2016/6/6 14:21 -->
<!-- Description: huangzhiyang -->
<li id="slideItem_<%=data.id%>" class="slideItem">
    <% var itemId = data.id %>
    <div class="line">
        <div class="time">
            <p class="font-gray">预定时间段</p>
            <input readonly type="text" class="laydate-icon datePickerInp begin"/> -
            <input readonly type="text" class="laydate-icon datePickerInp end"/>
        </div>
        <div class="time">
            <p class="font-gray">供货价</p><input type="text" class="midInp"/>
        </div>
        <div class="time">
            <p class="font-gray">零售价</p><input type="text" class="midInp"/>
        </div>
        <div class="time">
            <p class="font-gray">门市价</p><input type="text" class="midInp"/>
        </div>
    </div>
    <div class="line">
        <div class="lt">
            <label for="">产品说明：</label>
        </div>
        <div class="rt">
            <input type="text" class="bigInp"/>
        </div>
    </div>
    <div class="line">
        <div class="lt">
            <label for="">使用有效期：</label>
        </div>
        <div class="rt">
            <div class="cardImg">
                <div class="cardRadio">
                    <input type="radio" name="period" checked id="period"/>
                    <label for="period">
                        卡片售出后 <input type="text" class="smaInp"/> 个月有效
                    </label>
                </div>
                <div class="cardRadio">
                    <input type="radio" name="period" id="period2"/>
                    <label for="period2">
                        卡片激活后 <input type="text"class="smaInp"/> 个月有效
                    </label>
                </div>
                <div class="cardRadio">
                    <input type="radio" name="period" id="period3"/>
                    <label for="period3">
                        <input type="text" class="laydate-icon datePickerInp begin"/> -
                        <input type="text" class="laydate-icon datePickerInp end"/> 有效
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="lt">
            <label for="">激活限制：</label>
        </div>
        <div class="rt">
            <div class="cardImg">
                <div class="cardRadio">
                    会员卡售出 <input type="text" class="smaInp"/> 天后自动激活（仍需提供手机号后使用卡片）</div>
                <div>
                    <input type="checkbox" id="IDnum"/>
                    <label for="IDnum">需填写身份证号</label>
                </div>
                <div style="display:none">
                    <input type="radio" id="IDnum1" name="active" checked/><label for="IDnum1"> 所有可用</label>
                    <input type="radio" id="IDnum2" name="active"/>
                    <label for="IDnum2">
                        身份证号前5位，仅限 <input type="text"class="smaInp"/>
                    </label>
                    <a href="javascript:;" class="btn-add">＋</a>
                </div>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="lt">
            <label for="">购票限制：</label>
        </div>
        <div class="rt">
            <div class="cardLim float-left line-30">
                <input type="checkbox" checked id="IDnum3"/><label style="margin-right:10px" for="IDnum3"> 卡号（实体卡/虚拟卡）</label>
                <input type="checkbox" id="IDnum4"/><label style="margin-right:10px" for="IDnum4"> 身份证</label>
                <input type="checkbox" id="IDnum5"/><label for="IDnum5"> 手机号</label>
            </div>
            <span style="position:relative; top:10px;" class="font-gray">持卡会员购票</span>
        </div>
    </div>
    <div class="line">
        <div class="lt">
            <label for="">退单限制：</label>
        </div>
        <div class="rt">
            <p style="line-height:35px;">不可退</p>
        </div>
    </div>
    <div class="line">
        <div class="lt">
            <label for="">使用说明：</label>
        </div>
        <div class="rt">
            <textarea name="" id="" rows="3" style="width:420px;"></textarea>
        </div>
    </div>
    <div class="line">
        <div class="lt">
            <label for="">信息通知配置：</label>
        </div>
        <div class="rt phone">
            <div>供应商手机号 <input type="text" class="laydate-icon"></div>
            <div><input type="checkbox" checked id="suc0"/><label for="suc0"> 激活成功，短信通知供应商</label></div>
            <div><input type="checkbox" checked id="suc1"/><label for="suc1"> 激活成功，短信通知持卡会员</label></div>
            <div><input type="checkbox" id="suc2"/><label for="suc2"> 预定成功，短信通知供应商</label></div>
            <div><input type="checkbox" id="suc3"/><label for="suc3"> 预定成功，短信通知购卡会员</label></div>
        </div>
    </div>
    <div id="pckRightContainer_<%=data.id%>" class="pckRightContainer">
        <div class="power border-y">
            <p class="tao">套餐特权<span class="font-gray tip">（设置免费使用的权限，现场购票不受该条件影响）</span>
                <a id="addPckRightBtn_<%=data.id%>"class="btn-add addPckRightBtn" href="javascript:void(0);" >＋</a>
            </p>
        </div>
        <ul id="pckRightListUl_<%=data.id%>" class="pckRightListUl">
            <% _.each(data.privilege,function(priv){ %>
                <% var product=priv.product; %>
                <% var ticket=priv.ticket; %>
                <% var product_id=product.id; %>
                <% var ticket_id=ticket.id; %>
                <% var rule=priv.rule; %>
                <li id="pckRightItem_<%=product_id%>" data-productid="<%=product_id%>" data-ticketid="<%=ticket_id%>" class="product border-bottom pckRightItem pckRightItem_<%=product.id%>">
                    <div class="float-left">
                        <div class="line">
                            <div class="lt">
                                <label for="">产品：</label>
                            </div>
                            <div class="rt">
                                <span><%=product.name%>-<%=ticket.name%></span>
                                <a href="javascript:;" class="btn btn-s btn-border btn-sel selectProd_picker">选择</a>
                            </div>
                        </div>
                        <div class="line">
                            <div class="lt">
                                <label for="">使用规则：</label>
                            </div>
                            <div class="rt">
                                <div class="float-left">
                                    <input type="radio" id="useTimeRadio_total_<%=itemId%>_<%=product_id%>_<%=ticket_id%>" checked name="useTimeRadio_<%=itemId%>_<%=product_id%>_<%=ticket_id%>"/>
                                    <label for="useTimeRadio_total_<%=itemId%>_<%=product_id%>_<%=ticket_id%>">不限总次数</label>
                                </div>
                                <div class="float-left">
                                    <input type="radio" id="useTimeRadio_day_<%=itemId%>_<%=product_id%>_<%=ticket_id%>" name="useTimeRadio_<%=itemId%>_<%=product_id%>_<%=ticket_id%>"/>
                                    <label for="useTimeRadio_day_<%=itemId%>_<%=product_id%>_<%=ticket_id%>"><input type="text"class="smaInp"> 次/日</label>
                                </div>
                                <div class="float-left">
                                    <input type="radio" id="useTimeRadio_month_<%=itemId%>_<%=product_id%>_<%=ticket_id%>" name="useTimeRadio_<%=itemId%>_<%=product_id%>_<%=ticket_id%>"/>
                                    <label for="useTimeRadio_month_<%=itemId%>_<%=product_id%>_<%=ticket_id%>"><input type="text"class="smaInp"> 次/月</label>
                                </div>
                                <input type="checkbox" id="useTimeCheckbox_total_<%=itemId%>_<%=product_id%>_<%=ticket_id%>" name="time"/>
                                <label for="useTimeCheckbox_total_<%=itemId%>_<%=product_id%>_<%=ticket_id%>"> 共 <input type="text" class="smaInp"> 次</label>
                            </div>
                        </div>
                    </div>
                    <div class="float-right border-left"><a href="javascript:;" class="btn-del deleteProdBtn">×</a></div>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="line">
        <div class="lt">
            <label for="fa1" style="font-size:12px;"><input type="radio" checked name="fabu" id="fa1"/> 发布</label>
        </div>
        <div class="rt">
            <label for="fa2" class="line-35"><input type="radio" name="fabu" id="fa2"/> 放入仓库</label>
        </div>
    </div>
</li>
