#testWrap{


    #btn1{

        position: absolute;        

        height: 50px;
        width: 50px;
        background: #123456;
        color: #fff;

        left: 100px;
        top: 100px;

        text-align: center;
        line-height: 50px;


    }

    #btn2{


        position: absolute;

        height: 50px;
        width: 50px;
        background: #123456;
        color: #fff;

        left: 200px;
        top: 100px;

        text-align: center;
        line-height: 50px;

    }

    #btn3{

        position: absolute;

        height: 50px;
        width: 50px;
        background: #123456;
        color: #fff;

        left: 200px;
        top: 200px;

        text-align: center;
        line-height: 50px;

    }


}