.content .tabHead {padding-left: 15px;overflow: hidden; border-bottom: 2px solid #019be1;border-top: 1px solid #dcdcdc;border-left: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;}
.content .tabHead li {font-size:1.4em;color: black;float: left;height: 36px;line-height: 36px;cursor: pointer;border-top-left-radius: 2px;border-top-right-radius: 2px;}
.RW{ position:relative; width:800px; float:right;}
.serhW{ padding-top:10px;  width: 798px;border:1px solid #e6e6e6; font-size:0;}
.serhW .con{ padding:15px 15px; border:1px solid #fff;}
.serhW .lt{ margin-right:10px; font-size:14px; position:relative\0; top:1px\0; *position:relative; *top:-4px;}
.serhW .select_right{ margin-top:10px;}
.serhW select.select_top{ width:160px;border:1px solid #d2d2d2; height:28px;margin-right:40px; line-height:30px; font-size:12px;height:30px; line-height:28px\0; *position:relative; *top:-2px;}
.serhW select.select_buttom{ width:80px;border:1px solid #d2d2d2; height:28px; line-height:30px; font-size:12px;height:30px; line-height:28px\0; *position:relative; *top:-2px;}
.serhW .serhInp{ width:267px; padding:0 5px; height:28px; line-height:28px; margin-left:-1px; border:1px solid #d2d2d2; font-size:12px;  *margin-left:5px}
.serhW .serhInp.onfocus{ border-color:#fa6f39; color:#fa6f39; background:#fffbfa}
.serhW .serhBtn{ position:relative; width:80px; height:28px; border:0 none; padding:0; text-align:center; color:#fff; font-size:12px; margin-left:5px; top:0px; top:-1px\9; cursor:pointer; background:#fa6f39}
:root .serhW .serhBtn{ top:0px;}
.selectW{ padding-top:15px;margin-top: 20px;margin-bottom: -20px; height:45px;border:1px solid #e6e6e6; }
.selectW label {display: inline-block;width: 90px;  margin-left: 15px;margin-top: 5px;}
.selectW label span.select_d {color: black;font-size: 1.2em;width: 70px;height: 10px;}
.selectW .set_ {float:right;}
.selectW .set_Re{ position:relative; display: inline-block;width:115px; height:34px; line-height:34px;border:0 none; padding:0; text-align:center; color:#fff; border-radius: 2px;font-size:12px; font-size:14px;margin-left:5px; top:0px; top:-1px\9; cursor:pointer; background:#0797d9}
.selectW .serhBtnb{ position:relative; display: inline-block;width:220px; height:34px;line-height:34px; border:0 none; padding:0; text-align:center; color:#fff; border-radius: 2px;font-size:12px;font-size:14px; margin-left:5px; margin-right:15px;top:0px; top:-1px\9; cursor:pointer; background:#0797d9}

.selectUW{
	padding-top:15px;
	margin-top: 20px;
	margin-bottom: -11px;
	height:45px;
	border:1px solid #e6e6e6;
	background: #FFFFFF;
}

.selectUW .selectUW_left{
	/* float: left;
	margin-left : 15px;
	margin-top: 6px;
	cursor: pointer; */
	position: relative;
    display: inline-block;
    width: 150px;
    height: 34px;
    line-height: 34px;
    border: 0 none;
    padding: 0;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    font-size: 14px;
    margin-left: 35px;
    top: 0px;
    top: -1px\9;
    cursor: pointer;
    background: #0797d9;
}

.selectUW .selectUW_left:hover{
	background: #0f7cb7;
}	

.selectUW .selectUW_right{
	float: right;
	height: 20px;
	margin-right: 50px;
	margin-top: 6px;
}

.selectUW .selectUW_right #new_product_channl{
	
	position: relative;
	top: 2px;

}


/*表格*/
a,input{text-decoration:none;cursor: pointer;bblr:expression(this.onFocus=this.blur()); outline-style:none; }
body{background-color:#FFFFFF;color:#000000;font-size:12px;}
a{color:#2A98DA;text-decoration:none;outline:none;}
a:hover{color:#ED6D34;}
.tbbox .setcolor_a{color:#F07845;}/**/
.tbbox .setcolor_b{color:#0797D9;}/**/
.tbbox{width:800px;margin:20px auto;}
.tbbox .setwidth1{width:10px;text-align:center;}
/* .tbbox .setwidth{width:130px;text-align:center;} */
.tbbox .setwidth{width:120px;text-align:center;}
.tbbox .supplier{width:160px;text-align:left;}
.tbbox .pay_sale{  text-align: right;float: right; margin-right: 16px;}
.tbbox .setalign_a{ padding-right: 16px; text-align: right;}
.tbbox .setalign{text-align:left;padding-left:10px;}
.tbbox .setpadding{ position:relative; padding-left:45px; width: 300px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; *zoom:1; }
.tbbox .set_check{position: relative;margin-right: 5px;top: 2px;}
input.check_set.sethe {position: relative;margin-right: 5px;top: 2px;}
input.checkbox_local {position: relative;top: 2px;}
input.check {position: relative;margin-right: 5px;top: 2px;}
.tb_scenic{table-layout:fixed;width:100%;line-height:45px;background-color:#FFF;border:1px solid #E5E5E5;margin-top:20px;text-align:center;}
.tb_scenic thead{background:#E1E5E7;height:35px;line-height:35px;}
.tb_scenic thead th{font-weight:normal;}
/* .tb_scenic tbody td{border-top:1px solid #E5E5E5;} */
.tb_scenic tfoot td{border-top:1px solid #E5E5E5;}
.tb_scenic .btn_edit{border:0 none;background:#F7F7F7;cursor:pointer;}
.tb_scenic .btna_edit{border:0 none;background:#FFF;color:#0797D9;cursor: pointer;  margin-left: 10px;}




/* 分页按钮组件 */
.pagenavW{ display:none; text-align:right; margin:15px 0 50px; height: 30px; line-height: 30px;}
.pagenavW .rt{ float:right}
.pagenavW .rt .d{ float:right;}
.pagenavW .rt .d3{ margin-top:-8px; *margin-top:-3px;}
.pagenavW .rt .d1{ *width:100px;}
.pagenavW .rt .d2{ *width:135px;}
.pagenavW .rt .d3{ *vertical-align:top;}
.pagenavW .rt .d3{ position:relative\9; top:-1px\9;}
:root .pagenavW .rt .d3{ top:0px\9;}
.pagenavW .rt .d3{ *top:0px;}
.pagenavW .rt .d3 .di,.pagenavW .rt .d3 .ye{ *position:relative; *top:-4px;}
.pagenavW .btn{ position:relative; top:-2px; display:inline-block; width:54px; height:23px; color:#2d6dc5; font-weight:bold; margin-right:5px; text-indent:-9999px; font-size:0; background:url(http://static.12301.cc/images/other/product_package_new_navBtns.gif) no-repeat 0 0}
.pagenavW .prevBtn{ background-position:top left; margin-left:10px; margin-right:5px;}
.pagenavW .nextBtn{ background-position:top right}
.pagenavW a.prevBtn:hover{ background-position:bottom left}
.pagenavW a.nextBtn:hover{ background-position:bottom right}
.pagenavW a.btn:hover{ text-decoration:none}
.pagenavW .pageInp{ width:40px; height:20px; line-height:18px; text-align:center; color:#fa6f39; padding:0; background:#fff; border:1px solid #dddddd}
.pagenavW .pageInp{ *position:relative;}
.pagenavW .pageInp.onfocus{ border-color:#fa6f39; color:#fa6f39}
.pagenavW .cerPageBtn{ position:relative; top:7px; display:inline-block; width:0px; height:22px; line-height:22px; border:0 none; background:#fa6f39; overflow:hidden; text-align:center; color:#fff; cursor:pointer; }
.pagenavW .totalItemSize{ float:left;}
.pagenavW .btn{ }
.pagenavW .cerPageBtn{ top:7px\0; *top:-3px;}
:root .pagenavW .cerPageBtn { top:6px\9;}
@media screen and (-webkit-min-device-pixel-ratio:0){ .pagenavW .cerPageBtn{ top:6px} }/* chorme */
tr.set_all_data {border-bottom: 1px solid #E5E5E5;}

/*弹出*/

.btn_base{border:0 none;width:100px;height:35px;line-height:35px;display:inline-block;color:#FFF;text-align:center;border-radius:3px;-moz-border-radius:3px;}

.bgbox{display:none;width:100%;background:#000;z-index:33;position:fixed;top:0;left:0;filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4;}
.checkchoose_box{display:none;position:fixed;left:50%;top:-20%;width:700px;margin-left:-350px;z-index:99;border:0px solid #E5E5E5;background:#FFF;border-radius:3px;-moz-border-radius:3px;}
.checkchoose_box .theme_top{background-color:#E5E5E5;padding-left:10px;height:35px;line-height:35px;position:relative;margin-top:-16px;}
.checkchoose_box .close_btn{position:absolute;right:10px;top:0;cursor:pointer;color:#92A0AB;font-weight:bold;}
.checkchoose_box .selectbox{border-bottom:1px solid #E5E5E5;margin:15px 15px 0 0;padding-bottom:30px;}
.checkchoose_box .check{margin-top:-3px;margin-right:5px;}
.checkchoose_box .selectlist{cursor:pointer;}
.checkchoose_box .selectlist li{display:inline-block;margin:0 24px;line-height:35px; }
.checkchoose_box .btnbox{margin:20px 0;text-align:center;}
.checkchoose_box .btn_cancels{background:#F07845;}
.checkchoose_box .btn_sure{background:#0797D9;}
.checkchoose_box .btn_sure_all{background:#0797D9;}
.checkchoose_box .btnbox_a {margin:15px 0 0 15px;}
.checkchoose_box .btnbox_a .all_choose,.checkchoose_box .btnbox_a .cancel_choose{background:none;border:0 none;color:#0797D9;cursor:pointer;}
.checkchoose_ .btnbox_a .all_choosec,.checkchoose_ .btnbox_a .cancel_choosec{background:none;border:0 none;color:#0797D9;cursor:pointer;}


.bgbox{display:none;width:100%;background:#000;z-index:33;position:fixed;top:0;left:0;filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4;}
.alertbox{display:none;position:fixed;width:800px;top:50px;left:50%;margin-left:-400px;background-color:#FFF;z-index:99;}
.alert_top{background:#E5E5E5;padding-left:15px;height:100px;padding-bottom:10px;}
.txt_top{font-size:16px;font-weight:bold;padding-top:20px;}
.setfont_b{font-size:12px;color:#3DBA3F;}
.input_base{padding-left:10px;border:1px solid #D2D2D2;height:35px;margin-top:15px;background:#E5E5E5;}
.setinput_a{width:110px;padding-right:10px;margin-right:30px;}
.setinput_b{position:absolute;left:350px;top:42px;width:200px;height:35px;}
.btn_sure,.btn_cancel{top:42px;width:100px;margin-top:15px;}
.btn_sure{left:570px;height:37px;line-height:37px;}
.btn_sure_all{top:42px;width:100px;margin-top:15px;}
.btn_sure_all{left:570px;height:37px;line-height:37px;}
.btn_cancel{left:680px;height:35px;border:1px solid #F07845;line-height:35px;color:#F07845;background:#E5E5E5;}
.choosebox{height:330px;padding-left:15px;position:relative;cursor:pointer;}
.choose_province,.choose_cities{width:145px;height:330px;overflow:auto;padding-top:15px 0;}
.choose_province li,.choose_cities li{height:30px;text-align:left;line-height:30px;padding-left:15px;}
.line_base{height:330px;border-right:1px solid #D2D2D2;position:absolute;top:0;}
.line_a{left:160px;}
.choose_cities{position:absolute;left:185px;top:0;}
.line_b{left:330px;}
.choose_search{width:469px;height:350px;position:absolute;right:0;top:0;}
.searchbox_a{height:35px;border-bottom:1px solid #D2D2D2;position:relative;}
.icon_search{position:absolute;line-height:32px;padding-left:15px;}
.input_search{height:32px;padding-left:40px;width:300px;border:0 none;}
.search_data{width:463px;height:293px;overflow:auto;border-right:1px solid #D2D2D2;}
.search_data li{height:30px;line-height:30px;padding-left:40px;}
.tb_scenic .save_edit,.setcolor_b {border: 0 none;background: #F7F7F7;}
.tb_scenic #save_edit{color:#F7F7F7;cursor:pointer;}
.tb_scenic .btn_cancel {border: 0 none;background: #F7F7F7;  width: 30px;  height: 26px;line-height: 26px;cursor:pointer;}
.tb_scenic .check_body { position:relative; *zoom:1; }
.tbbox .setcolor_save {color: #0797D9;}
.totaltxt,.theme_txt,.peer_txt{line-height:35px;padding-left:10px;}
input.select_text {width: 0px;height: 16px;  text-align: center;line-height: 16px;margin-right: 5px;border:0px solid #888888;}
.setbg{background:#f7f7f7;  border-bottom: 1px solid #e5e5e5;}
.formInp {width: 40px;}
.ticket_num {float: left;height: 22px;line-height: 22px;width: 50px;border: 1px solid #e0e0e0;text-align: center;}
a.iconfont.add_icon.sub.subBtn.countBtn {float:left;border: 1px solid #0797d9;text-align: center;float: left;height: 18px;line-height: 19px;width: 18px;
margin-top: 8px;  margin-right: 5px;font-size: 1em;border-radius: 50%;text-decoration: none;}
a.iconfont.cut_icon.plus.countBtn.plusBtn{float:left;border: 1px solid #0797d9;text-align: center;float: left;height: 18px;line-height: 19px;width: 18px;
margin-top: 8px;  margin-left: 5px;font-size: 1em;border-radius: 50%;text-decoration: none;}


.btn_base{border:0 none;width:100px;cursor: pointer;height:35px;line-height:35px;display:inline-block;color:#FFF;text-align:center;border-radius:3px;-moz-border-radius:3px;}

.btn_choose{width:40px;height:45px;top:6px;line-height:45px;background:#0797D9;}

.bgbox{display:none;width:100%;background:#000;z-index:33;position:fixed;top:0;left:0;filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4;}
.checkchoose_{display:none;position:fixed;left:50%;top:20%;width:700px;margin-left:-350px;z-index:99;border:0px solid #E5E5E5;background:#FFF;border-radius:3px;-moz-border-radius:3px;}
.checkchoose_ .theme_top{background-color:#E5E5E5;padding-left:10px;height:35px;line-height:35px;position:relative;margin-top:-16px;}
.checkchoose_ .close_btn{position:absolute;right:10px;top:0;cursor:pointer;color:#92A0AB;font-weight:bold;}
.checkchoose_ .selectbox{border-bottom:1px solid #E5E5E5;margin:15px 15px 0 0;padding-bottom:30px;}
.checkchoose_ .check{margin-top:-3px;margin-right:5px;}
.checkchoose_ .selectlist{cursor:pointer;}
.checkchoose_ .selectlist li{display:inline-block;margin:0 24px;line-height:35px; }
.checkchoose_ .btnbox{margin:20px 0;text-align:center;}
.checkchoose_ .btn_cancels{background:#F07845;}
.checkchoose_ .btn_sure{background:#0797D9;}
.checkchoose_ .btn_sure_all{background:#0797D9;}
.checkchoose_ .btnbox_a {margin:15px 0 0 15px;}
.checkchoose_ .btnbox_a .all_choose,.checkchoose_box .btnbox_a .cancel_choose{background:none;border:0 none;color:#0797D9;cursor:pointer;}
.suppl{width: 160px;text-align:left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}


.formInp {width:30px;height: 15px;line-height: 15px;padding: 5px 8px;background: #fff;border: 1px solid #dbdbdb;
border-radius: 3px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.tiao{float: right;margin-top: 15px;}
.total{float: right;margin-top: 15px;}
.page_num .page_sub {border: 1px solid #DDDDDD;color: #0073B6;background: #FFFFFF;height: 22px;
line-height: 22px;padding: 0 7px;cursor: pointer;border-radius: 3px;display: inline-block;}
.page_num .page_sub:hover{ border-color:#308FEF; color:#FFF; background:#2288EE;}
.page_num .formI_ {height: 12px;width: 22px;line-height: 12px;padding: 5px 8px;background: #fff;
border: 1px solid #dbdbdb;border-radius: 3px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}

.InfoIcon {
    display: none;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top:-26px;
    width: 30px;
    height: 52px;
    background: url(http://static.12301.cc/assets/build/images/channels_conf/move.png) no-repeat;
}
tr.set_all_data {
  height: 91px;
}



/* 批量配置渠道弹出 */
.batch_bgbox{display:none;width:100%;background:#000;z-index:33;position:fixed;top:0;left:0;filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4;}
.batch_checkchoose_box{display:none;position:fixed;left:50%;top:-20%;width:700px;margin-left:-350px;z-index:99;border:0px solid #E5E5E5;background:#FFF;border-radius:3px;-moz-border-radius:3px;}
.batch_checkchoose_box .batch_theme_top{background-color:#E5E5E5;padding-left:10px;height:35px;line-height:35px;position:relative;margin-top:-16px;}
.batch_checkchoose_box .batch_close_btn{position:absolute;right:10px;top:0;cursor:pointer;color:#92A0AB;font-weight:bold;}
.batch_checkchoose_box .batch_selectbox{border-bottom:1px solid #E5E5E5;margin:15px 15px 0 0;padding-bottom:30px;}
.batch_checkchoose_box .batch_check{margin-top:-3px;margin-right:5px;}
.batch_checkchoose_box .batch_selectlist{cursor:pointer;}
.batch_checkchoose_box .batch_selectlist li{display:inline-block;margin:0 24px;line-height:35px; }
.batch_checkchoose_box .batch_btnbox{margin:20px 0;text-align:center;}
.batch_checkchoose_box .batch_btn_cancels{background:#F07845;}
.batch_checkchoose_box .batch_btn_sure{background:#0797D9;}
.batch_checkchoose_box .batch_btn_sure_all{background:#0797D9;}
.batch_checkchoose_box .batch_btnbox_a {margin:15px 0 0 15px;}
.batch_checkchoose_box .batch_btnbox_a .batch_all_choose,.batch_checkchoose_box .batch_btnbox_a .batch_cancel_choose{background:none;border:0 none;color:#0797D9;cursor:pointer;}
.batch_checkchoose_ .batch_btnbox_a .batch_all_choosec,.batch_checkchoose_ .batch_btnbox_a .batch_cancel_choosec{background:none;border:0 none;color:#0797D9;cursor:pointer;}

/* 弹框 */
#dialogContent{
	margin-top: 50px;
}

#dialogContent .dialogItem{
	height: 100px;
	line-height: 100px;
	margin-left : 50px;
	font-size: 20px;
}

#dialogContent .wramTips{
	margin-top: 50px;
	width: 392px;
	line-height: 30px;
	font-size: 14px;
}


/* .alertmessage{
	line-height: 300px;
	font-size: 20px;
	margin-left: 50px;
} */


.content .tabHead{background: #FFFFFF; border: 1px solid #E5E5E5; border-bottom: 0 none; height: 60px; }
.serhW {background: #FFFFFF;}
.content .tabHead li {font-size: 22px; line-height: 60px;}
.serhW .con{padding-bottom: 30px;}
.serhW .serhInp{width: 263px; height: 18px; line-height: 18px;  padding: 5px 8px; margin-left: 80px; position: relative; left: -1px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075); -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
.serhW .serhInp:focus{border-color: #0797D9; color: #0797D9;}
.selectW{margin-top: 10px; background: #FFFFFF;}
.setbg {background: #F5F5F5;}
.serhW .select_right{position: relative; }
#conSelect{position: absolute; left:0; top:0; width: 130px; background: #FAFAFA;}
.serhW select.select_buttom {height: 30px; line-height: 30px;} 
.serhW select.select_top{width:175px; margin-right: 10px;}
.serhW .serhBtn{height: 30px; line-height: 30px; -moz-border-radius: 3px; border-radius: 3px;}


/* 假日模式时，不显示全部产品渠道配置按钮 */
.holidayMode_SelHeadTop{ height: 50px; line-height: 50px; padding: 0 15px; margin-bottom: -11px; background: #fff; margin-top: 10px; border: 1px solid #e6e6e6}
.holidayMode_SelHeadTop .selBtn{ padding: 6px 15px; border-radius: 3px; background: #E1E5E7; color: #797979;}





/**
 *	@date   2017-05-09
 *	@author chenhuajian
 *  @desc   新产品渠道默认设置 供应商默认关，分销商默认开  http://bug.12301.test/index.php?m=task&f=view&task=368
 **/
#selectTopHeadUW{ 
	overflow: hidden;

	.newProductDefSet{
		float: right;
		margin-top: 5px;
		margin-right: 25px;
		color:black;
		font-size:18px;
		.lt{
			position: relative;
			top: -4px;
			font-size: 12px;
			color: #797979
		}
		.defSetBtn{
			position: relative;
			top: 2px;
			display: inline-block;
			height: 20px;
			width: 60px;
			margin-left: 5px;
			background: #c9c9c9;
			border:1px solid #ccc;
			border-radius: 20px;
			cursor: pointer;
			
			.status{
				position:absolute;
				top:1px;
				left:22px;
				color:#fff;
				padding:3px 4px; 
				font-size:12px;
			}
			.slide{
				display: block;
				position: absolute;
				top: -1px;
				left: -2px;
				width: 50%;
				background: #fff;
				width:20px;
				height:20px;
				border:1px solid #ccc;
				border-radius: 20px;
				transition: left 0.2s ease-in-out;
			}

			&.on{
				background: #3eba40;
				border-color: #3eba40;
			
				.slide{
					left: 70%;
					border:1px solid #3eba40;
					background: #fff;
				}
				.status{
					position:absolute;
					left:8px;
					color:#fff;
					padding:3px 4px; 
				}
			}



		}


	}

}