.appPackageWrap {

  border: 1px solid #e5e5e5;
  background-color: #fff;
  .clearfix{
    zoom: 1;
  }
  .clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }


}