.PageFooterContainer{ height:148px; background:#fff; text-align:center; color:#A7A9AA; padding-top:28px;}
.PageFooterContainer a{color:#A7A9AA; font-weight:bold; line-height:48px;}
.PageFooterContainer a:hover{color:#2A98DA;}
.PageFooterContainer p{ line-height:22px;}