.headerContainer{width:1000px; height:154px; margin:0 auto;}
.topContainer{ overflow:hidden; height:27px; line-height:27px;}
.topContainer .topLeft{ float:left;}
.topContainer .topLeft .shopNameBox{ margin-right:20px;}
.topContainer .topLeft .shopNameBox .shopName{color:#2A98DA}
.topContainer .topLeft .message{ background:url(http://www.12301.cc/images/notice.png) 0 -7px no-repeat;}
.topContainer .topLeft .message .megNumber{ color:red;}