
.leftBar{line-height:30px;color:#3e3e3e; padding:14px 0 14px 23px;}
.leftBar dt{padding-left: 15px;background: url(http://www.12301.cc/images/dasanj.png) left center no-repeat;font-weight: bold;}
.leftBar a{color:#3e3e3e;padding-left: 15px;}
.leftBar a:hover{ text-decoration:underline;}
.leftBar .newTip{ color:red;}