.PageLeftBarContainer{margin-right: 10px; border: 1px solid #E1E1E1; width: 178px; float: left;}
.PageLeftBarContainer .leftBar{line-height:30px;color:#3e3e3e; padding:14px 0 14px 23px;}
.PageLeftBarContainer .leftBar dt{padding-left: 15px;background: url(http://www.12301.cc/images/dasanj.png) left center no-repeat;font-weight: bold;}
.PageLeftBarContainer .leftBar a{color:#3e3e3e;padding-left: 15px;}
.PageLeftBarContainer .leftBar .newTip{ color:red;}