
.adminRefundDialogCon{
  .line1{
    line-height: 80px;
    font-size: 18px;
    padding-left: 50px;
  }
  .line2{
    text-align: center;
    textarea{
      height: 220px;
      padding: 10px;
      width: 79%;
      max-width: 79%;
      font-size: 14px;
    }
  }
  .line3{
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    input[type = checkbox]{
      position: relative;
      top: 1px;
      right: 6px;    }
  }
  .line4{
    text-align: center;
    height: 55px;
    .btn{
      background-color: #2087da;
      color: #ffffff;
      display: block;
      width: 132px;
      margin: 0 auto;
      line-height: 14px;
      padding: 10px 40px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }
    .btn:hover{
      background-color: #2196F3;
      box-shadow: 0 0 3px #2196F3;
    }
  }
  .print-list-con{
    padding: 30px 20px;
    .print-ul{
      overflow: hidden;
      text-align: center;
    }
    .print-li{
      float: left;
      background-color: #2087da;
      color: #ffffff;
      display: block;
      margin: 10px 20px;
      line-height: 14px;
      padding: 10px 40px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }
    .print-li:hover{
      background-color: #2196F3;
      box-shadow: 0 0 3px #2196F3;
    }
    .print-li.disabled{
      background-color: #EBEAEC;
      cursor: not-allowed;
    }
  }
  .print-list-con-title{
    line-height: 44px;
    padding-left: 20px;
    font-size: 16px;
    background: #e5e5e5;
    border-bottom: #dedede 2px solid;
  }
}
