$color : (
   orange: #f07645,
   border: #e7e7e7,
   green: #40bc44,
   lightOrange: #f68b01,
   gray: #92a0ab,
   blue: #0797d9,
   lightBlue : #e4f5fd,
   red: #e11d2c,
);

//主功能模块
@import "main_box/mine_module/index.scss";
@import "main_box/recentlyUsed_module/index.scss";
@import "main_box/orderData_module/index.scss";
@import "main_box/wxData_module/index.scss";
@import "main_box/markertingApp_module/index.scss";

//系统通知模块
@import "side_box/productionDynamics_module/index.scss";
@import "side_box/partnerDynamics_module/index.scss";
@import "side_box/updateNotice_module/index.scss";
@import "side_box/systemNotice_module/index.scss";
@import "side_box/ad_module/index.scss";



//基本布局的通用类
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
em{
  font-style: normal;
}

#pft_right_box{
  font-family: "微软雅黑";
  color: #6c7882;
  font-size: 14px;

  .red{
    color: map_get($color,red);
  }
  //Main_________________________________________________
  .title{
    line-height: 25px;
    height: 25px;
    font-size: 18px;
    padding: 14px 0;
    border-bottom: 1px solid map-get($color,border);
    overflow: hidden;
    i{
      font-size: 18px;
      margin-right: 5px;
    }
  }

  .content{
    padding: 14px 0 0 0;
  }
  .container{
    padding: 0 26px;
    margin-bottom: 24px;
    border-radius: 3px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  #main_box{
    display: inline-block;
    width: 75%;
    float: left;
    overflow: hidden;
  }

  //Side______________________________________

  #side_box{
    display: inline-block;
    width: 20%;
    float: left;
    overflow: hidden;
    margin-left: 24px;
  }

  .title_side{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid map-get($color,border);
    padding: 0 13px;
    i{
      font-size: 16px;
      margin-right: 3px;
    }
    a{
      float: right;
      text-decoration: none;
      color: map_get($color,blue);
    }
  }

  .container_side{
    border-radius: 3px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 24px;
    border: 1px solid map-get($color,border);
  }


}