@import "COMMON/css/base/core";
.dealsumContainer{ border:1px solid #e5e5e5; background:white;}
.dealsumContainer .title{ line-height:56px; font-size:18px; font-weight:600; border-bottom:1px solid #e5e5e5; padding-left:18px;}
.dealsumContainer .title .titleSum{ color:#0797d9;}
.dealsumContainer .queryBtn{@include btn-inline-block(87,30,#f60); vertical-align:top; font-size:14px;}
.dealsumContainer .queryBtn.disable{ @include btn-disable();}

.dealSumBox .totalIncome{ color:green;}
.dealSumBox .totalExpend{ color:red;}
