/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
@import "COMMON/css/base/core";
@import "../../css/style.css";
/*架构UI*/
.cardContainer{width:798px;margin:0 auto; background:white;}
.cardnumBox{overflow:hidden; padding:10px;}
.cardnumBox .cardItem{ float:left;margin:6px;width:173px; height:70px; padding:10px 0 0 6px;background:#f5f5f5;border-radius:8px;}
.cardnumBox .cardItem p{ line-height:18px;}
.fillTable{ width:100%;background:#bfe7f8;}
.fillTable thead{background:#0797d9;line-height:35px;color:white;}
.fillTable tr td:first-of-type,.fillTable tr th:first-of-type{ text-indent:22px;}
.fillTable tbody{ padding-top:10px;}
.fillTable tbody tr{height:86px;}
.fillTable tr td { line-height:18px;}
.fillForm{padding:22px 0 0 22px;}
.fillLine{overflow:hidden;margin-bottom:10px;}
.fillLine .fl{ float:left;width:96px;height:30px; line-height:30px;}
.fillLine input[type=radio]{vertical-align:middle;}
.fillLine .fr{ float:left;}
.fillLine .fr .fillInp{@include textInp(248,4)}

.fillLine .balance{ margin-left:22px;}
.fillLine .tip.error{color:red;}
.submitBox{width:798px; height:44px; background:#e5e5e5; margin-top:30px; overflow:hidden;}
.submitBox .orderPrice{display:inline-block;float:right; line-height:44px;margin-right:26px;}
.submitBox .yen{ font-size:16px;}
.submitBox #totalMoney{ font-size:24px;}
#submitBtn{ float:right;width:114px;height:44px;line-height:44px;color:white;}
#submitBtn.disable{ @include btn-disable()}
.supplierBox{line-height:33px;padding-left:24px;}
.supplierBox>span{margin-right:100px;}
.introduceBox{ height:166px; padding-top:20px;}
.introduceBox .introduceBoxCon{ margin:0 24px}
.introduceBox p{text-indent:24px; line-height:24px;}


/**/


