.contact-main-box{
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: #fff;
  .colorRed{color: red}
  .contact-info-box{
    .title{
      line-height: 52px;
      font-weight: bold;
      .remark{
        font-weight: normal;
        margin: 5px;
      }
    }
    .lt{
      float: left;
      width: 400px;
      .w70{width: 70px;display: inline-block}
      .saveUserBtn{
        margin-left: 72px;
      }
      .line{line-height: 36px}

      input{
        width: 312px;
        height: 22px;
        margin: 5px 0;
        line-height: 22px;
        border: 1px solid #e5e5e5;
        padding: 5px;
        text-indent: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
      input:focus{
        border-color: #0797D9;
      }
    }
    .rt{
      float: left;
      margin-left: 20px;
      position: relative;
      width: 464px;
      background-color: #F5F8FA;
      padding: 0 15px 15px 15px;
      padding-right: 0;
      .min-title{
        font-weight: bold;
        line-height: 20px;
      }
      .contact-ul{
        .contact-li{
          float: left;
          width: 94px;
          margin: 6px 0;
          position: relative;
          margin-right: 13px;
          height: 25px;
          border: 1px solid #0797D9;
          color: #0797D9;
          line-height: 20px;
          padding-left: 5px;
          cursor: pointer;
          .activeIcon{
            position: absolute;
            right: 4px;
            top: 2px;
            cursor: pointer;
          }
          .activeIcon:hover{
            color: orangered;
          }
          .nDetail:hover{
            color: orangered;
          }
          .nDetail{
            margin-top: 2px;
            display: inline-block;
            max-width: 70px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .contact-li.selected{
          border-color: #F07845;
          color: #F07845;
        }
      }
    }
  }

  .tourist-info-box{
    .title{
      line-height: 52px;
      font-weight: bold;
      .remark{
        font-weight: normal;
        margin: 5px;
      }
    }
    .name-idNum-li{
      float: left;
      padding: 10px;
      background-color: #F5F8FA;
      margin: 0 10px 10px 0;
      line-height: 30px;
      .name ,.idNum{
        width: 60px;
        display: inline-block;
      }
      input{
        width: 160px;
        height: 22px;
        margin: 5px 0;
        line-height: 22px;
        border: 1px solid #e5e5e5;
        padding: 5px;
        text-indent: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
      input:focus{
        border-color: #0797D9;
      }
    }
  }

}


#tourInfoTopTitWrap{ width: 100%; overflow: hidden}
#tourInfoTopTitWrap .titLabel{ float:left;}
#tourInfoTopTitWrap .exportIDCardWrap{ float:left;}
#exportEnterBtn{
    position: relative;
    display: block;
    float: left;
    width: 110px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    background: #2A98DA;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    margin: 10px 10px 0 20px;
}
#exportEnterBtn .t{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 32px;
    text-align: center;
    cursor: pointer
}
#exportFileInput{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 10;
    width: 300px;
    cursor: pointer;
    font-size: 60px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
    filter: alpha(opacity=0); 
}
#exportEnterBtn:hover{ background: #248ecd}
#exportEnterTip{
    float: left;
    color: #999;
    font-weight: normal
}























