.hotel-date-storage-list{
  .date-item{
    float: left;
    width: 120px;
    text-align: center;
    border: 1px solid #BFE7F8;
    margin-left: -1px;
    padding-bottom: 10px;
    background-color: #ffffff;
    .title{
      height: 30px;
      line-height: 30px;
      background: #BFE7F8;
      margin-bottom: 10px;
    }
    .price , .storage{
      height: 25px;
      line-height: 25px;
    }
    .price{
      color: #F07845;
      font-size: 14px;
    }
  }
}
.clearfix{
  zoom: 1;
}
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}