/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
@import "COMMON/css/base/core";
@import "../../css/style.css";
/*架构UI*/
.cardContainer{width:798px;margin:0 auto; background:white;}
.sucBox{ margin:52px 0 84px 44px;}
.success{font-size:28px; color:#3dba3f;}
.success i{ font-size:50px; font-weight:bolder; margin-right:20px;}
.firstAct,.sucBox .btnBox{ margin-left:74px;}
.sucP{line-height:36px; font-size:14px; margin-left:44px;}
.sucTable{ width:100%; margin-bottom:46px;}
.sucTable thead{background:#f5f5f5; line-height:33px;}
.sucTable tbody tr td p{ line-height:18px;}
.sucTable tbody tr td p:first-of-type{ margin-top:10px;}
.sucTable tbody tr td p:last-of-type{ margin-bottom:10px;}
.sucTable tr td:first-of-type,.sucTable tr th:first-of-type{ text-indent:10px;}
.sucBox .btnBox a{ height:30px;line-height:30px; padding:0 32px; margin:20px 20px 0 0;}
.activeBtn.disable{@include btn-disable()}
/**/


