#gIncomeWrap {

  /* table的公共样式*/
  .tableCon{
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    position: relative;
    display: none;
    .background{
      background-color: #e5e5e5;
      height: 41px;
      position: absolute;
      width: 100%;
    }
    .first-tr{
      background-color: #e5f5fc;
    }
    .child-tr{
      background-color: #f3f1f1;
    }
    .lt-con{
      width: 60%;
      float: left;
      position: relative;
      z-index: 2;
      .table-lt{
        text-align: right;
        th,td{
          padding-right: 20px;
        }
        width: 100%;
        thead{
          tr{
            line-height: 40px;
            border-bottom: 1px solid #e5e5e5;
            background-color: #e5e5e5;
          }
        }
        tbody{
          tr{
            line-height: 40px;
            border-bottom: 1px solid #e5e5e5;
          }
        }
        .th1{
          text-align: left;
          padding-left: 20px;
          .un-shrink ,.shrink{
            background-image: url('//static.12301.cc/assets/build/images/sale-report-shrink.png');
            display: inline-block;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            position: relative;
            margin-right: 7px;
            top: 3px;
            cursor: pointer;
          }
          .shrink{
            background-position: 0 -16px;
          }
        }
        .th1-child{
          text-align: left;
          padding-left: 67px;
        }
        .th4{
          border-right: 1px solid #e5e5e5;
        }

      }
    }

    .rt-con{
      width: 40%;
      overflow: hidden;
      float: right;
      position: relative;
      z-index: 2;
      .table-rt{
        width: 100%;
        text-align: center;
        cursor:url('//static.12301.cc/assets/build/images/moveleftright.png'), move;
        th,td{
          padding: 0 20px;
          white-space: nowrap;
          text-align: right;
        }
        thead{
          tr{
            line-height: 40px;
            border-bottom: 1px solid #e5e5e5;
            background-color: #e5e5e5;
            th{
              padding: 0 20px;
              white-space: nowrap;
            }
          }
        }
        tbody{
          tr{
            line-height: 40px;
            border-bottom: 1px solid #e5e5e5;
          }
          .no-data-td{
            color: #bfbfbf;
          }
        }

      }
    }
    .parent-tr:hover{
      background-color: #fafafa;
    }
    .child-tr:hover{
      background-color: #fafafa;
    }

    .orderby {
      position: relative;
      cursor: pointer;

      &:after {
        content:'';
        position: absolute;
        right: 5px;
        top: 50%;
        display: block; width:0; height: 0;
        margin-top: -4px;
        border-width: 8px 5px;
        border-style: solid dashed dashed;
        border-color: #4c4e53 transparent transparent;
      }
    }
  }


}
