#gIncomeWrap {

  /* table的公共样式*/
  .tableCon{
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    position: relative;
    .background{
      background-color: #e5e5e5;
      height: 40px;
      position: absolute;
      width: 100%;
    }
    .lt-con{
      width: 60%;
      height: 200px;
      float: left;
      position: relative;
      z-index: 2;
      .table-lt{

        width: 100%;
        thead{
          tr{
            line-height: 40px;
            border-bottom: 1px solid #e5e5e5;
            background-color: #e5e5e5;
          }
        }
        tbody{
          tr{
            line-height: 30px;
            border-bottom: 1px solid #e5e5e5;
          }
        }

      }
    }

    .rt-con{
      width: 40%;
      overflow: hidden;
      height: 200px;
      float: right;
      position: relative;
      z-index: 2;
      .table-rt{
        width: 100%;
        thead{
          tr{
            line-height: 40px;
            border-bottom: 1px solid #e5e5e5;
            background-color: #e5e5e5;
            th{
              padding: 0 30px;
              white-space: nowrap;
            }
          }
        }
        tbody{
          tr{
            line-height: 30px;
            border-bottom: 1px solid #e5e5e5;
          }
        }

      }
    }



  }
  .clearfix{
    zoom: 1;
  }
  .clearfix:after{
    content: '.';
    visibility: hidden;
    height: 0;
    clear: both;
    display: block;
  }


}
