@import "COMMON/css/base/main";
@import "COMMON/css/base/flex";
#bodyContainer{

    position:relative;

    .topBox{
        height:80px;
        line-height:80px;
        text-align:center;
        color:$green;
        padding:20px;
        border-bottom:1px solid $gray90;
        .sucTopTip{
            font-size:16px;
        }
    }

    .infoBox{
        padding:10px;
        background:$gray98;
        line-height:1.7;
        font-size:14px;
        margin:15px;
        .tnum{ color:$orange; font-weight:bold}
    }

    .qrcodeContainer{
        width:160px;
        margin:20px auto 0;
        text-align:center;
        .qrcode{ font-size:16px; color:$orange}

        .qrcodeBox{
            width:100%;
            margin-top:10px;
            font-size:0;
            text-align:center;
            overflow:hidden;
        }

    }



    .vhidden{ visibility:hidden}




}