.modBox{
    position:relative;
    background:#fff;
    padding:5px 25px 25px;
    margin-bottom:10px;
}

#inBodyCon{ position:relative; width:100%}
#pageMain{ margin-right:300px}
#rigbtBar{ position:absolute; top:0; right:0; width:285px;}