.modBox{
    position:relative;
    background:#fff;
    padding:25px 25px 25px;
    margin-bottom:20px;
}
.barBox{
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #e8e8e8;
}

#inBodyCon{ position:relative; width:100%;}
#pageMain{ margin-right:300px}
#rightBar{ 
    position:absolute; top:0; right:0; width:285px;

    .state.timeout,.state.serverError{ text-align: center;}

}

