@mixin opacity($opacity:0.5){
    $opacity_ie : $opacity*100;
    opacity:$opacity;
    filter:alpha(opacity=$opacity_ie);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity_ie})";
    -moz-opacity:$opacity;
}