body{
    padding:0;
}
@import "../common/scss/base";
@import "./scss/app-item";

#PageMainRightContainer{
    background:#efefef;
}

.section {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}
.section-appadmin .section-con {
    padding: 35px 50px;
}
.w300 {
    width: 300px;
}