@import "COMMON/css/base/main";
@import "COMMON/css/base/flex";
body{ background:$gray98}
#bodyContainer{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#fixTabHead{

    $tabHeight : 42px;

    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    height:$tabHeight;
    line-height:$tabHeight;
    overflow:hidden;
    background:#e5f5fc;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    .tabItem{
        position:relative;
        float:left;
        width:50%;
        height:100%;
        line-height:$tabHeight;
        text-align:center;
        &.active{
            color:$orange;
        }
        &.active:before{
            content : "";
            position:absolute;
            left:20%;
            right:20%;
            bottom:0;
            height:2px;
            background:$orange;
            font-size:0;
        }
    }
}
.tabPannelWrap{
    position:absolute;
    top:45px;
    bottom:0;
    left:0;
    right:0;
}
.tabPannel{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}
.scrollWrap{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

@mixin prodInfoBox{
    $paddingBottom : 5px;
    display:block;
    position:relative;
    overflow:hidden;
    padding:15px 15px $paddingBottom;
    color:#333;
    &:active{ background:$gray97}

    .photoBox{
        position:absolute;
        top:15px;
        left:15px;
        bottom:$paddingBottom;
        width:75px;
        font-size:0;
        .imgBox{
            width:100%;
            height:100%;
            overflow:hidden;
            @include flexbox();
            @include align-items(center);
        }
        img{ width:100%}
    }
    .tri{
        position:absolute;
        top:15px;
        bottom:$paddingBottom;
        right:6px;
        .triCon{
            width:100%;
            height:100%;
            @include flexbox();
            @include align-items(center);
        }
    }
    .midCon{
        min-height:45px;
        margin-left:85px;
        margin-right:5px;
        .landTitle{
            font-size:14px;
            line-height:1.5;
        }
        .ticItem{
            line-height:1.4;
        }
        .count{ color:$orange}
    }
}


//未使用订单列表item样式
.unuseItem{

    background:#fff;
    margin-bottom:7px;
    padding-bottom:15px;
    &:last-child{ margin-bottom:0}

    .topPart{
        @include prodInfoBox;
    }

    .infoBox{
        padding:0 15px 0;
    }
    .infoLine{
        width:100%;
        overflow:hidden;
        height:22px;
        line-height:22px;
        .lt{ float:left}
        .rt{ float:right}
        .paystatusText.status_1{ color:$green}
        .paystatusText.status_0{ color:$green}
        .paystatusText.status_2{ color:$orange}
        .maCode{ font-size:14px; color:$orange}
    }

    .btnGroup{
        padding:0 15px;
        overflow:hidden;
        text-align:right;
        margin-top:10px;
        .btn{
            display:inline-block;
            height:24px;
            line-height:24px;
            padding:0 20px;
            border:1px solid $blue;
            color:$blue;
            margin-left:10px;
            &.disable{
                color:$gray50;
                border-color:$gray70;
            }
        }
    }
}

//历史订单列表item样式
.historyItem{
    padding:15px;
    background:#fff;
    margin-bottom:7px;
    &:last-child{ margin-bottom:0}
    .itemCon{
        display:block;
        color:#333;
    }
    .landTitle{
        font-size:14px;
        line-height:1.5;
        margin-bottom:5px
    }
    .ticItem{ line-height:1.4;}
    .count{ color:$orange}
    .time{ margin-top:10px;}
}

.sta.empty{
    height:200px;
    line-height:200px;
    text-align:center;
    background:#fff;
}
.noMore.empty{
    height:40px;
    line-height:35px;
    text-align:center;
    background:none;
}

.detailPage{
    position:fixed;
    z-index:2;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:$gray98;
    transition:transform 0.3s;
    transform:translate3d(0px,2000px,0);

    .detailInfoContainer{
        height:100%;
        overflow:auto;
    }

    .line{
        width:100%;
        overflow:hidden;
        line-height:1.7;
        .lt{ float:left}
        .rt{ float:right}
    }

    .box{
        background:#fff;
        padding:15px;
        margin-bottom:7px;
    }
    .topBox{ margin-bottom:7px}

    .prodInfoBox{
        @include prodInfoBox;
        .photoBox{ bottom:15px}
        .tri{ padding-bottom:15px}
        padding-bottom:15px;
        margin-bottom:7px;
    }

    .days{ color:$orange; font-weight:bold; margin:0 2px}

    .totalMoney{
        .yen{ margin-right:1px; font-size:14px}
        color:$orange;
        .num{ font-size:16px; font-weight:bold}
    }

    .codeContainer{

        width:160px;
        margin:7px auto 0;
        text-align:center;

        .codeNum{ color:$orange; font-size:14px; font-weight:bold}

        .codeBox{
            width:100%;
            overflow:hidden;
            font-size:0;
            margin-top:7px;
            img{
                width:100%;
            }
        }

    }

    .detailBtnGroup{
        position:fixed;
        z-index:10;
        left:0;
        right:0;
        bottom:0;
        height:40px;
        text-align:center;
        background:#e5f5fc;

        .btn{
            display:inline-block;
            height:100%;
            line-height:40px;
            margin-right:40px;
            color:#1488bb;
            padding:0 15px;
            &:active{
                background:#cce6f1;
            }
            &:last-child{ margin-right:0}
        }

    }

}

















.xs-plugin-pullup-container{ line-height:40px}