@charset "UTF-8";

//-----------------------------------------------------	
// variables scss
//-----------------------------------------------------	


// font相关
//-----------------------------------------------------	
$fontSize:                       12px !default;
$fontLineHeight:                 1.5 !default;
$fontFamily:                     "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;
// ios华文黑体,Android 4.0之后,Android 4.0之前
$fontCn:                         STHeiTi, Roboto, "Droid Sans Fallback", Arial !default; 
// ios4.0+,ios4.0-,Android 4.0+,Android 4.0-
$fontEn:                         "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial !default; 


// 基本颜色
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacity($color, $amount)
// mix($color1, $color2[, $amount])
//-----------------------------------------------------	
$blue:                            #258cc9 !default;
$orange:                          #f5530c !default;
$red:                             #e12424 !default;
$green:                           #3eba40 !default;
$gay:                             #808080 !default;
$colorBorder:                     #dbdbdb !default;

//按钮默认宽度高度
$btnWidth:                        80 !default;
$btnHeight:                       34 !default;

//form表单各元素
$inputTextWidth:                  180 !default;
$inputTextHeight:                 22 !default;
$inputPadding:                    5 !default;


// radius
//-----------------------------------------------------	
$radiusBase:                      5px !default;
$radiusSmall:                     3px !default;

// z-index
//-----------------------------------------------------	
$zIndexHeader:                    1000 !default;
$zIndexFooter:                    2000 !default;
$zIndexPopup:					  3000 !default;                     
$zIndexOverlay:                   4000 !default; // 默认高于header和footer部分
