@charset "UTF-8";

//-----------------------------------------------------	
// variables scss
//-----------------------------------------------------	


// font相关
//-----------------------------------------------------	
$fontSize:                       12px !default;
$fontLineHeight:                 1.5 !default;
$fontFamily:                     "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;
// ios华文黑体,Android 4.0之后,Android 4.0之前
$fontCn:                         STHeiTi, Roboto, "Droid Sans Fallback", Arial !default; 
// ios4.0+,ios4.0-,Android 4.0+,Android 4.0-
$fontEn:                         "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Arial !default; 


// 基本颜色
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacity($color, $amount)
// mix($color1, $color2[, $amount])
//-----------------------------------------------------	
$blue:                            #258cc9 !default;
$orange:                          #f5530c !default;
$red:                             #e12424 !default;
$green:                           #3eba40 !default;
$gray:                            #808080 !default;
$colorBorder:                     #e5e5e5 !default;
$gray99:                          #fcfcfc !default;
$gray98:                          #fafafa !default;
$gray97:                          #f7f7f7 !default;
$gray96:                          #f5f5f5 !default;
$gray95:                          #f2f2f2 !default;
$gray94:                          #f0f0f0 !default;
$gray93:                          #ededed !default;
$gray92:                          #ebebeb !default;
$gray91:                          #e8e8e8 !default;
$gray90:                          #e5e5e5 !default;
$gray89:                          #e3e3e3 !default;;
$gray88:                          #e0e0e0 !default;;
$gray87:                          #dedede !default;;
$gray86:                          #dbdbdb !default;;
$gray84:                          #d6d6d6 !default;;
$gray83:                          #d4d4d4 !default;;
$gray82:                          #d1d1d1 !default;;
$gray81:                          #cfcfcf !default;;
$gray80:                          #cccccc !default;;

//按钮默认宽度高度
$btnWidth:                        80 !default;
$btnHeight:                       34 !default;

//form表单各元素
$inputTextWidth:                  180 !default;
$inputTextHeight:                 22 !default;
$inputPadding:                    5 !default;


// radius
//-----------------------------------------------------	
$radiusBase:                      5px !default;
$radiusSmall:                     3px !default;

// z-index
//-----------------------------------------------------	
$zIndexHeader:                    1000 !default;
$zIndexFooter:                    2000 !default;
$zIndexPopup:					  3000 !default;                     
$zIndexOverlay:                   4000 !default; // 默认高于header和footer部分
