/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
@import "../../css/style.css";
/*架构UI*/
input[type=text]{border:1px solid #dbdbdb;box-shadow:inset 0 1px 1px rgba(0,0,0,.075); padding-left:6px;}
.cardContainer{width:798px;border:1px solid #e5e5e5; margin:0 auto; background:white;}
.entry{ line-height:56px; font-size:24px; margin-left:24px;}
.cardPro{ background:#bfe7f8; height:50px;padding:14px 0 0 24px; position:relative;}
.cardPro a:link{ color:white;}
.cardPro a.btn-blue{border:0 none; margin-left:30px;}
.cardPro i{ position:absolute; left:353px; top:19px; cursor:default;}
.entry_form{padding:12px 0px;}
.entry_form #relateSHCardBtn{ margin-left:646px;}
.btn-entry{ margin:20px 0 20px 235px;}
.btn-entry a:first-of-type:link,.enCard a:link{ color:white;}
.btn-entry a{ margin-right:20px;}
.packInp{ width:290px; height:22px; line-height:22px; padding:6px 6px; margin-right:28px; cursor:default;}
.charge{width:500px; height:256px;background:white;}
.cha{height:140px;text-align:center; padding-top:60px;}
.cha p{font-size:14px; text-align:left; text-indent:50px;}
.relaBox{ overflow:hidden; margin-left:50px;}
.relaBox input{ float:left;width:300px;text-align:left;height:22px; line-height:22px; padding:5px 6px;}
.relaBox a{float:left;width:84px;height:34px; line-height:34px;}
.cha a:link{color:white;}
.enCard{height:45px;background:#f5f5f5;padding-top:10px;}
.enCard>span{ margin-left:24px;}
.enCard>a{margin-left:84px;}
.enCard span.numChild{ font-size:24px; color:#3dba3f;}
.enCard span.numP{ font-size:24px;}
.clearList{width:300px;height:160px;background:white;position:fixed; left:50%;top:50%;margin-left:-150px; margin-top:-80px;}
.clearList .clearP{ line-height:112px; text-align:center;}
.clearList .yesNo{margin-left:130px;}
.clearList .yesNo a{ width:74px;height:32px; line-height:32px;}

.enTable{ width:100%; line-height:40px; margin-top:16px;}
.enTable thead{ background:#f4f4f4; line-height:46px;}
.enTable thead tr{ border-top:1px solid #E5E5E5;}
.enTable tbody tr:nth-child(even){ background:#fcfcfc;}
.enTable tbody tr:nth-child(even):hover{ background:white;}
.enTable tr{border-bottom:1px solid #E5E5E5;}
.enTable tr td:first-of-type,.enTable tr th:first-of-type{ text-indent:24px;}
.pageBox{ height:28px; padding:9px 10px; font-size:14px;border:1px #e5e5e5 solid;
  border-top:none;}
.pageBox a{ width:78px; height:28px; line-height:28px; border-radius:14px; font-weight:bolder; font-size:larger;}
.pageBox a:link{ color:#92a0ab;}
.preBtn{background:#bfe7f8; margin-left:520px;}
.nextBtn{ background:#e5e5e5;}
.tip{ line-height:28px; margin-left:24px;}
.btn-del{ position:absolute; right:16px; top:0;}
/**/


