<!-- Author: huangzhiyang -->
<!-- Date: 2016/5/27 14:36 -->
<!-- Description: huangzhiyang -->
<div class="foot-new">
    <style>
        .foot-new{ position:fixed; left:0; right:0; bottom:0; z-index:1; width:100%;height:150px;background-color:#fff;margin-top:40px; clear: both;}
        .ie6 .foot-new{ position:static; left:auto; right:auto; bottom:auto;}
        .foot-container{width:1000px;text-align:center;margin:0 auto;padding-top:50px;}
        #foot-container a{color:#A7A9AA;text-decoration:none;outline:none;padding:0 5px;font-weight:bold;}
        #foot-container a:hover{color:#FF552F;}
        .foot-container p{margin-top:13px;color:#7D7C81;cursor:pointer;}
        #foot-container span{cursor:pointer;color:#A7A9AA;font-weight:bold;}
    </style>
    <div class="foot-container" id="foot-container">
        <a href="about_ab.html">关于我们</a>
        <span>|</span>
        <a href="about_lx.html">联系我们</a>
        <span>|</span>
        <a href="about_api.html">API接口</a>
        <a href="##">操作手册</a>
        <span>|</span>
        <a href="http://www.12301.cc/helpCenter.html">帮助中心</a>
        <p style="line-height:1.6">
            <span>?2015 www.12301.cc All Rights Reserved. 福建票付通信息科技有限公司 版权所有</span></br>
            <span>经营许可证编号：闽B2-20150031</span>
        </p>
    </div>
</div>