    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="http://www.12301.cc/css/common/iconfont.css">
    <style type="text/css">
        /* css reset */
        body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, pre,fieldset, lengend, button, input, textarea, th, td {  margin: 0;padding: 0;}
        body,button, input, select, textarea { /* for ie */
            /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
            /*font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; *//* 用 ascii 字符表示，使得在任何编码下都无问题 */
            font: 12px/1 Microsoft Yahei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }
        h1 { font-size: 18px; }
        h2 { font-size: 16px; }
        h3 { font-size: 14px; }
        h4, h5, h6 { font-size: 100%; }
        address, cite, dfn, em, var { font-style: normal; }
        code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
        small { font-size: 12px; }
        ul, ol { list-style: none; }
        a { text-decoration: none; }
        a:hover { text-decoration: underline; }
        a:link,a:visited{ text-decoration:none; color:#2A98DA}
        a:hover{ text-decoration:underline;color:#2A98DA}
        a:active{ text-decoration:none; color:#2A98DA}
        abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help;}
        q:before, q:after { content: ''; }
        legend { color: #000; }
        fieldset, img { border: none; }
        button, input, select, textarea {font-size: 100%; }
        table { border-collapse: collapse;border-spacing: 0;}
        hr {border: none;height: 1px;}
        textarea{ outline:0}
        html { overflow-y: scroll; }
        .clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
        .clearfix {display: inline-block;}
        * html .clearfix {height: 1%;}
        .clearfix {display: block;}
        input:focus,button:focus{outline:none}
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

        /*通用ui*/
        .ui-page{ display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:-1}
        .ui-page.show{ display:block; z-index:10002;}
        .ui-container{ position:relative;}
        .ui-radius{ border-radius:3px;}
        .ui-shadow{ box-shadow:inset 0 1px 1px rgba(0,0,0,.075); -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
        .ui-border{ border:1px solid #dbdbdb;}
        a.ui-btn{ color:#fff}
        .ui-btn{ display:inline-block; height:34px; line-height:34px; padding:0 20px; background:#0797D9; color:#fff; cursor:pointer; text-decoration:none}
        .ui-btn:hover{ text-decoration:none}
        .ui-btn.radius{ border-radius:3px;}
        .ui-border{ border:1px solid #e5e5e5}
        .ui-width1000{ width:1000px;}
        .ui-btn-orange{ background:#f07845}
        .ui-btn-orange:hover{ background:#d87044}
        .ui-btn-blue{ background:#0797d9}
        .ui-btn-blue:hover{ background:#0782ba}
        .ui-btn-disable{ cursor:default; background:#d5d5d5}
        .ui-btn-disable:hover{ background:#d5d5d5}
        .ui-h1{ height:65px; line-height:65px; font-size:22px; border-bottom:1px solid #E5E5E5}
        .ui-color-blue{ color:#0797d9}
        .ui-color-orange{ color:#f07845}
        .ui-color-red{ color:#e12424}
        .ui-color-green{ color:#3dba3f}
        .ui-color-gray{ color:#92a0ab}
        .ui-bg-blue{ color:#0797d9}
        .ui-bg-orange{ color:#f07845}
        .ui-bg-red{ color:#e12424}
        .ui-bg-green{ color:#3dba3f}
        .ui-bg-gray{ color:#f0f3f5}
        a.ui-link:link{ color:#0797d9; text-decoration:none}
        a.ui-link:hover{ text-decoration:underline}
        .ui-textInp{ height:22px; line-height:22px; padding:5px 8px; background:#fff; border:1px solid #dbdbdb;}
        .ui-textInp:focus{ outline:none; border-color:#f07845; color:#f07845}
        .ui-textInp.radius{ border-radius:3px;}
        .ui-textInp.shadow{  box-shadow:inset 0 1px 1px rgba(0,0,0,.075); -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
        .ui-textInp.noborder{ border:0 none;}
        .ui-textInp.nobackground{ background:none}

        .ui-select{ width:260px; overflow:hidden;}
        .ui-select > .con{ position:relative; overflow:hidden }
        .ui-select .ui-textInp{ width:100%}
        .ui-select .ui-cs-toggleBtn{ display:block; position:absolute; top:0; right:0; bottom:0; width:32px; line-height:32px; text-align:center; background:#ebebeb; border-left:1px solid #d9d9d9; text-decoration:none}
        .ui-select .ui-cs-toggleBtn .iconfont{ font-size:20px; color:#595959}
        .ui-select .ui-cs-toggleBtn .iconfont.up{ display:none}
        .ui-select .ui-cs-toggleBtn.active .iconfont.up{ display:inline-block}
        .ui-select .ui-cs-toggleBtn.active .iconfont.down{ display:none}

        .ui-select-trigger{ height:26px; width:300px;}
        .ui-select-trigger:focus{ outline:none}
        .ui-selectPopContainer{ display:none; position:absolute; top:0; right:0; bottom:0; left:0}
        .ui-selectPopBox{ position:absolute; overflow:hidden; background-color:#fff}
        .ui-selectPopBox .ui-selectPopBox-con{ position:relative; height:100%; overflow:hidden; border-top:0 none}
        .ui-selectPopBox .searchBox{ padding:7px 10px; border-bottom:1px solid #dbdbdb}
        .ui-selectPopBox .searchBox .con{ position:relative; height:32px; padding-left:30px;}
        .ui-selectPopBox .ui-select-searchInp{ display:block; height:100%; line-height:26px; width:100%; border:0 none; background:none}
        .ui-selectPopBox .ui-select-searchInp:focus{ color:#f37138; outline:none}
        .ui-selectPopBox .ui-select-searchIcon{ display:block; position:absolute; top:5px; left:8px;}
        .ui-selectPopBox .ui-select-listUl-con{ position:absolute; left:0; right:0; bottom:0; top:50px; overflow:auto;}
        .ui-selectPopBox .ui-select-option{ height:38px; line-height:38px; padding:0 12px; overflow:hidden; border-bottom:1px solid #dbdbdb; cursor:pointer}
        .ui-selectPopBox .ui-select-option:hover{ background-color:#fcfcfc}

        .ui-page-h1{ height:60px; font-size:22px; line-height:60px; color:#2f3135; border-bottom:1px solid #edefee; background:#fff}
        .ui-page-h2{ height:50px; font-size:16px; line-height:50px; color:#2f3135; border-bottom:1px solid #edefee; background:#fff}

        /*页面整体框架*/
        body{ background:#f8f9fb; color:#3E3E3E}
        .pageHeader{ background:#fff}
        .siteHeadBar{ background:url("http://www.12301.cc/images/top_bg.png") repeat-x 0 0}
        .siteHeadBar .siteHeadCon{ margin:0 auto;}
        .siteHeadBar .topLink{ width:100%; height:27px; line-height:27px; overflow:hidden}
        .siteHeadBar .topLink .site_account_name{ margin-right:10px;}
        .siteHeadBar .topLink .xiaoxi{ padding-left:18px; background:url("http://www.12301.cc/images/notice.png") no-repeat 0 -7px;}
        .siteHeadBar .topLink .xiaoxi .orange{ font-family:arial; font-size:14px; color:#F60}
        .siteHeadBar .topLink .logout{ margin-left:4px;}
        .siteHeadBar .topLink .rt{ float:right}
        .siteHeadBar .topLink .setHome:hover,.siteHeadWrap .topLink .addFav:hover{ color:#0797d9}
        .siteHead{ padding-top:15px; margin:0 auto; overflow:hidden}
        .siteHead .logo{ float:left}
        .siteHead .logo img{height: 67px; width: auto;}
        .siteHead .siteTopBanner{ float:right; cursor:pointer}
        .siteNavBar{ width:100%; height:34px; margin-top:6px; border-bottom:2px solid #0170BC; background:#2A98DA}
        .siteNavBar .navBarUl{ margin:0 auto;}
        .siteNavBar .navBarUl .navLi{ float:left; width:110px; height:30px; line-height:30px; margin-top:4px; text-align:center}
        .siteNavBar .navBarUl .navLi.home{ border:2px solid #0170BC; border-bottom:0 none; margin-left:8px; font-weight:bold}
        .siteNavBar .navBarUl .navLi.active{ background:#fff}
        .siteNavBar .navBarUl .navLi.active a{ color:#FF5500;}
        .siteNavBar .navBarUl .navLi.active a:hover{ text-decoration:underline}

        .bodyMain{ position:relative; min-height:1100px; overflow:hidden; margin:10px auto;}
        .siteLocationBar{ width:943px; margin:10px auto;}
        .siteLeftBar{ position:absolute; top:0; left:0; width:180px; background:#fff; }
        .siteLeftBar .left_memb{ padding:8px 0 14px 23px;}
        .siteLeftBar .left_memb dt{ font-size:14px; font-weight:bold; margin-top:12px; margin-bottom:3px; padding-left:13px; background:url("http://www.12301.cc/images/dasanj.png") no-repeat left center}
        .siteLeftBar .left_memb dd{ padding:8px 0 8px 13px;}
        .siteLeftBar .left_memb dd a{ color:#3E3E3E}
        .siteLeftBar .left_memb dd a:hover{ color:#0170BC; text-decoration:underline;}

        .siteMaBox{ position:fixed; bottom:50px; right:50px; display:block; width:48px; height:48px; line-height:48px; cursor:pointer; text-align:center; background:#fff;}
        .siteMaBox .maImgBox{ display:none; position:fixed; bottom:50px; right:99px; background:#fff; font-size:0; line-height:0;}
        .siteMaBox:hover .maImgBox{ display:block}
        .siteGotopBtn{ display:none; position:fixed; right:20px; bottom:86px; width:48px; height:46px; line-height:46px; color:#3E3E3E; font-size:22px; font-weight:bold; text-align:center; cursor:pointer; border-bottom:0 none; background:#fff}
        .siteGotopBtn:hover{text-decoration:none; color:#3E3E3E}

        .pageRightArea{ float:right; width:807px;}
        #gMasker{position:fixed;top:0px;left:0;right:0;bottom:0;filter:alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.4;-moz-opacity:0.4;background-color:#000;z-index:99;left:0px;display:none; width:100%; height:100%; _height:1350px;}

        .layout_2 .siteLeftBar{ width:155px;}
        .layout_2 .siteLeftBar .left_memb{ padding-left:15px;}
        .layout_2 .pageRightArea{ width:835px;}

        .sidebar_box{position:fixed;bottom:36px;right:20px;background-color:#FFF;width:48px;height:48px;border:1px solid #E5E5E5;z-index:99999;}
        .sidebar_box span{display:block;width:48px;height:48px;text-align:center;line-height:48px;font-size:20px;cursor:pointer;}
        .sidebar_box .code_img{display:none;max-width:150px;border:1px solid #E5E5E5;position:absolute;bottom:-1px;right:48px;}

        .foot-new{width:100%;height:150px;background-color:#fff;margin-top:40px; clear: both;}
        .foot-container{width:1000px;text-align:center;margin:0 auto;padding-top:50px;}
        #foot-container a{color:#A7A9AA;text-decoration:none;outline:none;padding:0 5px;font-weight:bold;}
        #foot-container a:hover{color:#FF552F;}
        .foot-container p{margin-top:13px;color:#7D7C81;cursor:pointer;}
        #foot-container span{cursor:pointer;color:#A7A9AA;font-weight:bold;}
    </style>
    <script type="text/javascript" async="" src="http://static.mediav.com/mv.js"></script><script type="text/javascript" async="" src="http://material.mediav.com/bjjs/mba.js"></script><script type="text/javascript" async="" src="http://static.mediav.com/mvl.js"></script><script type="text/javascript" src="http://www.12301.cc/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="http://wx.12301.cc/public/js/build/common.min.js"></script>
    <title>票付通旅游营销平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="renderer" content="webkit|ie-comp|ie-stand"><meta content="telephone=no" name="format-detection"><meta content="email=no" name="format-detection"><link rel="stylesheet" href="http://www.12301.cc/css/common/iconfont.css"><style type="text/css">
    /* css reset */
    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, pre,fieldset, lengend, button, input, textarea, th, td {  margin: 0;padding: 0;}
    body,button, input, select, textarea { /* for ie */
        /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
        /*font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; *//* 用 ascii 字符表示，使得在任何编码下都无问题 */
        font: 12px/1 Microsoft Yahei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    }
    h1 { font-size: 18px; }
    h2 { font-size: 16px; }
    h3 { font-size: 14px; }
    h4, h5, h6 { font-size: 100%; }
    address, cite, dfn, em, var { font-style: normal; }
    code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
    small { font-size: 12px; }
    ul, ol { list-style: none; }
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
    a:link,a:visited{ text-decoration:none; color:#2A98DA}
    a:hover{ text-decoration:underline;color:#2A98DA}
    a:active{ text-decoration:none; color:#2A98DA}
    abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help;}
    q:before, q:after { content: ''; }
    legend { color: #000; }
    fieldset, img { border: none; }
    button, input, select, textarea {font-size: 100%; }
    table { border-collapse: collapse;border-spacing: 0;}
    hr {border: none;height: 1px;}
    textarea{ outline:0}
    html { overflow-y: scroll; }
    .clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
    .clearfix {display: inline-block;}
    * html .clearfix {height: 1%;}
    .clearfix {display: block;}
    input:focus,button:focus{outline:none}
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

    /*通用ui*/
    .ui-page{ display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:-1}
    .ui-page.show{ display:block; z-index:10002;}
    .ui-container{ position:relative;}
    .ui-radius{ border-radius:3px;}
    .ui-shadow{ box-shadow:inset 0 1px 1px rgba(0,0,0,.075); -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
    .ui-border{ border:1px solid #dbdbdb;}
    a.ui-btn{ color:#fff}
    .ui-btn{ display:inline-block; height:34px; line-height:34px; padding:0 20px; background:#0797D9; color:#fff; cursor:pointer; text-decoration:none}
    .ui-btn:hover{ text-decoration:none}
    .ui-btn.radius{ border-radius:3px;}
    .ui-border{ border:1px solid #e5e5e5}
    .ui-width1000{ width:1000px;}
    .ui-btn-orange{ background:#f07845}
    .ui-btn-orange:hover{ background:#d87044}
    .ui-btn-blue{ background:#0797d9}
    .ui-btn-blue:hover{ background:#0782ba}
    .ui-btn-disable{ cursor:default; background:#d5d5d5}
    .ui-btn-disable:hover{ background:#d5d5d5}
    .ui-h1{ height:65px; line-height:65px; font-size:22px; border-bottom:1px solid #E5E5E5}
    .ui-color-blue{ color:#0797d9}
    .ui-color-orange{ color:#f07845}
    .ui-color-red{ color:#e12424}
    .ui-font-red{ color:#f00}
    .ui-color-green{ color:#3dba3f}
    .ui-color-gray{ color:#92a0ab}
    .ui-bg-blue{ color:#0797d9}
    .ui-bg-orange{ color:#f07845}
    .ui-bg-red{ color:#e12424}
    .ui-bg-green{ color:#3dba3f}
    .ui-bg-gray{ color:#f0f3f5}
    a.ui-link:link{ color:#0797d9; text-decoration:none}
    a.ui-link:hover{ text-decoration:underline}
    .ui-textInp{ height:22px; line-height:22px; padding:5px 8px; background:#fff; border:1px solid #dbdbdb;}
    .ui-textInp:focus{ outline:none; border-color:#f07845; color:#f07845}
    .ui-textInp.radius{ border-radius:3px;}
    .ui-textInp.shadow{  box-shadow:inset 0 1px 1px rgba(0,0,0,.075); -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
    .ui-textInp.noborder{ border:0 none;}
    .ui-textInp.nobackground{ background:none}

    .ui-select{ width:260px; overflow:hidden;}
    .ui-select > .con{ position:relative; overflow:hidden }
    .ui-select .ui-textInp{ width:100%}
    .ui-select .ui-cs-toggleBtn{ display:block; position:absolute; top:0; right:0; bottom:0; width:32px; line-height:32px; text-align:center; background:#ebebeb; border-left:1px solid #d9d9d9; text-decoration:none}
    .ui-select .ui-cs-toggleBtn .iconfont{ font-size:20px; color:#595959}
    .ui-select .ui-cs-toggleBtn .iconfont.up{ display:none}
    .ui-select .ui-cs-toggleBtn.active .iconfont.up{ display:inline-block}
    .ui-select .ui-cs-toggleBtn.active .iconfont.down{ display:none}

    .ui-select-trigger{ height:26px; width:300px;}
    .ui-select-trigger:focus{ outline:none}
    .ui-selectPopContainer{ display:none; position:absolute; top:0; right:0; bottom:0; left:0}
    .ui-selectPopBox{ position:absolute; overflow:hidden; background-color:#fff}
    .ui-selectPopBox .ui-selectPopBox-con{ position:relative; height:100%; overflow:hidden; border-top:0 none}
    .ui-selectPopBox .searchBox{ padding:7px 10px; border-bottom:1px solid #dbdbdb}
    .ui-selectPopBox .searchBox .con{ position:relative; height:32px; padding-left:30px;}
    .ui-selectPopBox .ui-select-searchInp{ display:block; height:100%; line-height:26px; width:100%; border:0 none; background:none}
    .ui-selectPopBox .ui-select-searchInp:focus{ color:#f37138; outline:none}
    .ui-selectPopBox .ui-select-searchIcon{ display:block; position:absolute; top:5px; left:8px;}
    .ui-selectPopBox .ui-select-listUl-con{ position:absolute; left:0; right:0; bottom:0; top:50px; overflow:auto;}
    .ui-selectPopBox .ui-select-option{ height:38px; line-height:38px; padding:0 12px; overflow:hidden; border-bottom:1px solid #dbdbdb; cursor:pointer}
    .ui-selectPopBox .ui-select-option:hover{ background-color:#fcfcfc}

    .ui-page-h1{ height:60px; font-size:22px; line-height:60px; color:#2f3135; border-bottom:1px solid #edefee; background:#fff}
    .ui-page-h2{ height:50px; font-size:16px; line-height:50px; color:#2f3135; border-bottom:1px solid #edefee; background:#fff}

    /*页面整体框架*/
    body{ background:#f8f9fb; color:#3E3E3E}
    .pageHeader{ background:#fff}
    .siteHeadBar{ background:url("http://www.12301.cc/images/top_bg.png") repeat-x 0 0}
    .siteHeadBar .siteHeadCon{ margin:0 auto;}
    .siteHeadBar .topLink{ width:100%; height:27px; line-height:27px; overflow:hidden}
    .siteHeadBar .topLink .site_account_name{ margin-right:10px;}
    .siteHeadBar .topLink .xiaoxi{ padding-left:18px; background:url("http://www.12301.cc/images/notice.png") no-repeat 0 -7px;}
    .siteHeadBar .topLink .xiaoxi .orange{ font-family:arial; font-size:14px; color:#F60}
    .siteHeadBar .topLink .logout{ margin-left:4px;}
    .siteHeadBar .topLink .rt{ float:right}
    .siteHeadBar .topLink .setHome:hover,.siteHeadWrap .topLink .addFav:hover{ color:#0797d9}
    .siteHead{ padding-top:15px; margin:0 auto; overflow:hidden}
    .siteHead .logo{ float:left}
    .siteHead .logo img{height: 67px; width: auto;}
    .siteHead .siteTopBanner{ float:right; cursor:pointer}
    .siteNavBar{ width:100%; height:34px; margin-top:6px; border-bottom:2px solid #0170BC; background:#2A98DA}
    .siteNavBar .navBarUl{ margin:0 auto;}
    .siteNavBar .navBarUl .navLi{ float:left; width:110px; height:30px; line-height:30px; margin-top:4px; text-align:center}
    .siteNavBar .navBarUl .navLi.home{ border:2px solid #0170BC; border-bottom:0 none; margin-left:8px; font-weight:bold}
    .siteNavBar .navBarUl .navLi.active{ background:#fff}
    .siteNavBar .navBarUl .navLi.active a{ color:#FF5500;}
    .siteNavBar .navBarUl .navLi.active a:hover{ text-decoration:underline}

    .bodyMain{ position:relative; min-height:1100px; overflow:hidden; margin:10px auto;}
    .siteLocationBar{ width:943px; margin:10px auto;}
    .siteLeftBar{ position:absolute; top:0; left:0; width:180px; background:#fff; }
    .siteLeftBar .left_memb{ padding:8px 0 14px 23px;}
    .siteLeftBar .left_memb dt{ font-size:14px; font-weight:bold; margin-top:12px; margin-bottom:3px; padding-left:13px; background:url("http://www.12301.cc/images/dasanj.png") no-repeat left center}
    .siteLeftBar .left_memb dd{ padding:8px 0 8px 13px;}
    .siteLeftBar .left_memb dd a{ color:#3E3E3E}
    .siteLeftBar .left_memb dd a:hover{ color:#0170BC; text-decoration:underline;}

    .siteMaBox{ position:fixed; bottom:50px; right:50px; display:block; width:48px; height:48px; line-height:48px; cursor:pointer; text-align:center; background:#fff;}
    .siteMaBox .maImgBox{ display:none; position:fixed; bottom:50px; right:99px; background:#fff; font-size:0; line-height:0;}
    .siteMaBox:hover .maImgBox{ display:block}
    .siteGotopBtn{ display:none; position:fixed; right:20px; bottom:86px; width:48px; height:46px; line-height:46px; color:#3E3E3E; font-size:22px; font-weight:bold; text-align:center; cursor:pointer; border-bottom:0 none; background:#fff}
    .siteGotopBtn:hover{text-decoration:none; color:#3E3E3E}

    .pageRightArea{ float:right; width:807px;}
    #gMasker{position:fixed;top:0px;left:0;right:0;bottom:0;filter:alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity: 0.4;-moz-opacity:0.4;background-color:#000;z-index:99;left:0px;display:none; width:100%; height:100%; _height:1350px;}

    .layout_2 .siteLeftBar{ width:155px;}
    .layout_2 .siteLeftBar .left_memb{ padding-left:15px;}
    .layout_2 .pageRightArea{ width:835px;}

    .sidebar_box{position:fixed;bottom:36px;right:20px;background-color:#FFF;width:48px;height:48px;border:1px solid #E5E5E5;z-index:99999;}
    .sidebar_box span{display:block;width:48px;height:48px;text-align:center;line-height:48px;font-size:20px;cursor:pointer;}
    .sidebar_box .code_img{display:none;max-width:150px;border:1px solid #E5E5E5;position:absolute;bottom:-1px;right:48px;}

</style><script type="text/javascript" src="http://www.12301.cc/js/jquery-1.8.0.min.js"></script><script type="text/javascript" src="http://wx.12301.cc/public/js/build/common.min.js"></script><title>票付通旅游营销平台</title></head>