
            /* g-*为框架， m-* 为模块，u-* 为原件，z-* 表示状态  */
            
            i {
                font-style: normal;
            }
            /*radio样式*/
            
            input[type="radio"]{
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0;
            }
            #sch_box{
                display: inline-flex;
            }
           #sch_box .u-input_radio{   
                position: absolute;
                display: none;
            }
            #sch_box .u-input_radio+label{
                position: relative;
                display: block;
                padding: 2px 16px;
                cursor: pointer;
                vertical-align: middle;
            }
           
            #sch_box .u-input_radio+label:before{
                position: absolute;
                top: 2px;
                left: 0;
                border-radius: 50%;
                display: inline-block;
                width: 14px;
                height: 14px;
                content: '';
                background: url('http://images.12301.cc/icon/check.png')no-repeat;
                
            }
            
            #sch_box .u-input_radio:checked+label:before{
                background-position: -14px 0;
            }
            

            /*录手牌*/
            
            a {
                cursor: pointer;
            }
            
            .g-index {
                width: 800px;
                border: 1px solid #e1e1e1;
                background: #FFF;
                margin: 0px auto;
            }
            
            .g-hd {
                border-bottom: 1px solid #E5E5E5;
                padding-left: 20px;
                height: 64px;
                position: relative;
            }
            
            .g-hd .u-title {
                height: 40px;
                line-height: 40px;
                font-size: 22px;
            }
            
            .g-hd .u-entring_btn,
            .g-content .u-sch_btn {
                width: 100px;
                height: 30px;
                line-height: 30px;
                margin-left: 10px;
                color: #FFFFFF;
                font-size: 10px;
                text-align: center;
                display: inline-block;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            
            .g-content .u-sch_btn {
                background: #f07845;
            }
            
            .g-hd .u-entring_btn {
                background: #0797D9;
                position: absolute;
                top: 17px;
                right: 10px;
            }
            
            .g-content {
                padding: 10px 0px 0px 20px;
            }
            
            .g-content .u-div {
                margin: 20px auto;
            }
            
            .g-content .u-div #entryCard {
                margin-left: 10px;
            }
            
            .g-content #cardColor {
                width: 200px;
            }
            
            .g-content .u-div .u-span_status,
            .g-content .u-div .u-span_color {
                font-size: 16px;
            }
            
            .g-content .u-div .u-span_color {
                display: inline-block;
                margin-left: 45px;
            }
            
           

            .g-content .u-input_entry {
                position: relative;
                width: 270px;
                height: 20px;
                line-height: 20px;
                padding: 5px 8px;
                border: 1px solid #C9C9C9;
                -moz-border-radius: 3px;
                border-radius: 3px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            }
            #saler_inp{
                width: 300px;
                border: none;
                font-size: 22px;
                line-height: 64px;
                text-overflow:ellipsis;
                background: #fff;
            }
            .g-content .u-input_entry:focus,
            .g-content #cardColor:focus {
                border-color: #0797D9;
            }
            
            .g-content .u-div .clearCardInpBtn,
            .m-modal .u-input_box .clearCardInpBtn{
                display: none;
                position:absolute; 
                
                width:30px; 
                height:30px; 
                line-height:30px; 
                text-align:center; 
                cursor:pointer;
               
            }
            .g-content .u-div .clearCardInpBtn{
                top:95px; 
                left:282px; 
            }
            .m-modal .u-input_box .clearCardInpBtn{
                top:59px;
                left: 290px;
            }
            .g-content .u-div .iconfont,
            .m-modal .u-input_box .iconfont{
                 font-size:17px; 
                color:#8c8c8c;
            }

     
            .g-index .m-table {
                margin-top: 10px;
            }
            
            .g-index .m-table .u-card_status {
                table-layout: fixed;
                width: 100%;
            }
            
            .g-index .m-table .u-card_status th {
                font-weight: normal;
                height: 35px;
                line-height: 35px;
                background: #E5E5E5;
                color: #6C7882;
                text-align: center;
            }
            
            .g-index .m-table .u-card_status td {
                word-wrap: break-word;
                line-height: 18px;
                padding: 15px 0;
                border-top: 1px solid #E5E5E5;
                text-align: center;
            }
            #tbody .countColor{
                text-align: left;
            }
            #tbody .u-span_countAll,#tbody .u-span_countBlue,#tbody .u-span_countPink{
                display: inline-block;
                width: 90px;
                font-size: 17px;
                padding-left: 10px;
                text-align: center;
            }
            #tbody .u-span_countAll{
                padding-left: 30px;
            }
            #tbody .u-span_countBlue{
                color:#0797d9;
            }
            #tbody .u-span_countPink{
                color:#ff6699;
            }
            .g-index .m-table .u-card_status tr:hover {
                background: #f5f5f5;
            }
            .g-index .m-table .u-card_status .crd_opration {
                width: 200px;
            }
            /*编辑 录入手牌 模态框*/
            .m-modal_bg{
                display: none;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.01);
                z-index: 999;
            }
            .m-modal_entring,
            .m-modal_edit,
            .m-modal.loss,
            .m-modal.del,
            .m-modal_changeCard {
                /*display: none;*/
                margin: 0 auto;
                position: fixed;         
                background: #fff;
                border-radius: 2px;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
                border: 1px solid #eee;
                z-index: 100;
            }
            
            .m-modal_entring,
            .m-modal_edit,
            .m-modal_changeCard{
                width: 560px;
                height: 360px;
                 top: 35%;
                left: 40%;
            }
            .m-modal_changeCard{
                width: 520px;
                height: 250px;
            }
            .m-modal.loss,
            .m-modal.del{
                width: 300px;
                height: 222px;
                top:40%;
                left: 48%;
            }
            .m-modal.loss .u-modal_content,
            .m-modal.del .u-modal_content{
                text-align: center;
                font-size: 20px;
                padding: 45px;
            }
            .m-modal.loss .u-modal_btnBox ,
            .m-modal.del .u-modal_btnBox {
                margin-left: 25px;
                cursor:pointer;
            }



            .u-modal_title {
                position: relative;
                height: 20px;
                padding: 10px 0 10px 20px;
                font-size: 16px;
                background: #f5f5f5;
            }
            
            .u-span_close {
                width: 25px;
                color: #92a0ab;
                position: absolute;
                font-size: 17px;
                top: 10px;
                right: 1px;
                cursor: pointer;
            }
            
            .u-span_close:hover {
                color: #f07845;
            }
            
            .u-modal_inpBox .u-span {
                width: 120px;
                display: inline-block;
                text-align: right;
            }
            .u-modal_inpBox .u-span.lid{
                margin-left: 12px;
                text-align: left;
                width: 350px;
            }
            .u-input_box .u-input {
                width: 172px;
                height: 20px;
                line-height: 20px;
                padding: 5px 8px;
                border: 1px solid #C9C9C9;
                -moz-border-radius: 3px;
                border-radius: 3px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                margin-left: 10px;
            }
           
            .u-modal_inpBox,
            .u-modal_inpBox .u-input_box {
                margin: 20px auto;
            }
            
            .u-input_box select.cardBg {
                width: 190px;
                height: 30px;
                border: 1px solid #C9C9C9;
                -moz-border-radius: 3px;
                border-radius: 3px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                margin-left: 10px;
            }
            
            .u-modal_inpBox .u-input:focus,
            .u-input_box .cardBg:focus {
                border-color: #0797D9;
            }
            
            .u-modal_inpBox .u-span_des,
            .u-modal_inpBox .readCard {
                margin: auto 10px;
            }
            
            .u-modal_inpBox .u-span_des {
                color: #C9C9C9;
            }
            
            .u-modal_btnBox {
                margin: 30px 0 0 115px;
            }
            
            .u-modal_btnBox .u-modal_btn {
                width: 100px;
                height: 35px;
                line-height: 35px;
                margin-left: 18px;
                color: #FFFFFF;
                font-size: 10px;
                text-align: center;
                display: inline-block;
                background: #0797D9;
                -moz-border-radius: 3px;
                border-radius: 3px;
                cursor:pointer;
            }
            
            .m-modal_edit .u-modal_btn.save,.m-modal_changeCard .u-modal_btn.save {
                margin-left: 20px;
            }
            
            .u-modal_btnBox .u-modal_btn.cancel {
                border: 1px solid #0797D9;
                background: #FFF;
                color: #0797D9;
            }
            #arrowDown{
                position: relative;
                left: -13px;
            }
            //分页
            #paginationWrap {
                float: right;
                margin: 2px 0;
            }
            #paginationWrap .paginationXContainer .navGroup li{
                width: 30px;
                height: 30px;
                border:1px solid #e5e5e5;
                border-radius: 2px;
                line-height: 30px;
            }
            #paginationWrap .paginationXContainer .navGroup .prevNextBtn.disable, .paginationXContainer .navGroup .prevNextBtn.disable:hover{
                background: #f3f1f1;
                border: 1px solid #e5e5e5;
                color:#9e9e9e;
            }
            