#showTimePoper{
    display: none;
    position: fixed;
    width: 400px;

    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);


    .stTbody,.listUl{ width: 100%; overflow: hidden; clear: both}

    .stTbody{ background: #72c0e6; color: #fff}
    .listUl{ border: 1px solid #e5e5e5;}

    .col{ 
        float: left; 
        height: 32px; 
        line-height: 32px;
        text-align: center; 
        overflow: hidden; 
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid #e5e5e5; 
    }

    .listUl .listItem:last-child .col{ border-bottom: 0 none}


    .col_1{ width: 160px;}

}

#showTimePoperMask{ display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100;}