.rightWrap .bank_r .bank_rt ul li .wid2{ width:200px; display:inline-block; overflow:hidden; height:16px; line-height:16px; white-space:nowrap; text-overflow:ellipsis;}
.rightWrap .bank_r .bank_rt ul li.checked {
  border: 1px solid #f07845;
  background-color: #fbf9da;
}