#UserInfoBox{
    position:relative;

    .top{ width:100%; overflow:hidden; }

    .photoBox{
        float:left;
        margin:0 20px 0 0;
        .inBox{
            width:80px; height:80px; overflow:hidden; font-size:0; border-radius:50%;
            img{ width:100%; height:100%}
        }
    }

    .rtBox{
        float:left;
        .line{ margin-bottom:10px}
        .line.mid{ margin-bottom:7px}
        .line.top{ margin-top:7px }
        .flag{ margin-left:10px}
        .dname{ font-size:14px; font-weight:bold;}
        .effectTime{ color:lighten(#000,65%); margin-left:10px}
        .xunfeiBtn{
            display:inline-block; padding:4px 15px; background:#f37138; color:#fff; margin-left:10px;
            &:hover{ background-color:#ec6022}
        }
        .lastLoginTime{ color:lighten(#000,65%); margin-left:10px}
        .auth,.dtype{ display:inline-block; padding:2px 5px; border-width:1px; border-style:solid}
        .dtype{ 
            padding-left: 0;
            .fl{ color: #fff; padding:0 2px; margin-right: 5px}
        }
        .auth_0{ border-color:#e12424; color:#e12424}
        .auth_1{ border-color:#3eba40; color:#3eba40}
        .dtype_0{ border-color:#f37138; color:#f37138; 
            .fl{ background-color:#f37138; }
        }
        .dtype_1{ border-color:#258cc9; color:#258cc9;
            .fl{ background-color: #258cc9 }
        }
    }

    .bot{
        border-top:1px solid #e5e5e5;
        margin:20px 5px 0;
        padding-top:20px;
        padding-left:10px;
        .yuE{
            color:#f37138;
            font-size:14px;
            .money{ font-size:16px; font-weight:bold}
        }
        .chongzhiBtn{
            display:inline-block; padding:4px 15px; background:#4c8bec; color:#fff; margin-left:10px;
            &:hover{ background:#457ed8}
        }
    }


}