/* reset */
body{ background-color:#f8f9fb}
.left_memb,.foot-new,.headerWrap{ background-color:#fff !important;}
.headerWrap{  padding-bottom:10px; background:#fff url("http://www.12301.cc/images/top_bg.png") top left repeat-x}
.navmem_war{ margin-top:0;}


#memListContainer{ background: none; border:0 none;}

#memListContainer .topH3{ font-size:22px; padding:15px; border:1px solid #f2f2f2; background:#fff}
#createKaBtn{ position:absolute; top:16px; right:23px; display:block; width:90px; height:32px; line-height:32px; text-align:center; color:#fff; background:#3eba40}
#createKaBtn:hover{ text-decoration:none}
#createKaBtn .iconfont{ font-size:12px; margin-right:3px; top:-1px;}
#createKaBtn .t{ font-size:14px; }