@import "COMMON/css/base/core/variables";
@import "COMMON/css/base/mixin/searchBox";
.gSelectDownBox{ position:absolute; z-index:1001; overflow:hidden; border-bottom:1px solid #dbdbdb; background:#fff}
.gSelectDownBox .selectTopCon{ position:absolute; top:0; left:0; right:0; height:34px; padding:10px; border-bottom:1px solid #dbdbdb}
.gSelectDownBox .searchBox{ @include searchBox(); width:100%}
.gSelectDownBox .searchBox .searchBoxCon{ position:relative; height:100%; padding:0 30px; overflow:hidden}
.gSelectDownBox .searchBox .searchBoxCon .gSelectSearchInp{ width:100%; height:22px; line-height:22px; padding:6px 0; background:none; box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0)}
.gSelectMask{ position:fixed; z-index:1000; top:0; left:0; right:0; bottom:0;}
.gSelectDownBoxCon{ position:relative; height:100%; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb}
.gSelectDownBox .selectOptionUl{ position:absolute; top:55px; left:0; right:0; bottom:0; overflow:auto}
.gSelectDownBox.no-search .selectTopCon{ display:none}
.gSelectDownBox.no-search .selectOptionUl{ position:static; height:100%}
.gSelectDownBox .selectOptionUl .gSelectOptionItem{ padding-left:10px; height:34px; line-height:34px; overflow:hidden; cursor:pointer; border-bottom:1px solid #dbdbdb;}
.gSelectDownBox .selectOptionUl .gSelectOptionItem:last-child{ border-bottom:0 none}
.gSelectDownBox .selectOptionUl .gSelectOptionItem:hover{ background:#fcfcfc}
.gSelectDownBox .selectOptionUl .status{ height:150px; line-height:150px; text-align:center}
