@import "COMMON/css/base/main";
@import "COMMON/css/base/flex";
#bodyContainer{
    position:relative;
    margin: 0 5%;
    .topBox{
        height: px2rem(260);
		padding: px2rem(90) 0;
        color:$green;
		text-align: center;
        .sucTopTip{
            font-size:px2rem(50);
             margin-top: px2rem(20);
        }
        .sucTopIco{
            font-size:px2rem(70);
           
        }
    }
    .footBox{
            margin: 0 auto;
            .btn{
                border-radius: 3px;
                display: inline-block;
                cursor: pointer;
                color: #262d37;
                background: #f3f1f1;
                border: none;
                width: 97%;
                height: px2rem(70);
                line-height: px2rem(70);
                border: 1px solid #eee;
                margin: 5px;
                text-align:center;
            }
            .btn-primary{
                background:$blue;
                color:#fff;
                border: 1px solid $blue;
            }
    }
    .vhidden{ visibility:hidden}
}