$bore5 : 1px solid #e5e5e5;

#G-package-manage-wrap{
  background-color: #ffffff;
  .title-box{
    border: 1px solid #e5e5e5;
    border-bottom: none;
  }
  .manage-tb-box{
    border: $bore5;
    border-top: none;
    .manage-tb{
      width: 100%;
      thead tr{
        line-height: 30px;
        background-color: #f0f0f0;
      }
      tbody tr{
        line-height: 40px;
        border-bottom: 1px solid #e5e5e5;
      }
      tbody tr:hover{
        background-color: #fafafa;
      }
      .th1,.th2,.th3, .th4,.th5,.th6,.th7{
        text-align: left;
        padding-left: 20px;
      }
      .th7{
        text-align: right;
        padding-right: 20px;
      }
    }
    .add-box{
      text-align: center;
      padding: 10px 0;
    }
    .add-btn{
      padding: 10px 38px;
      background-color: #f07845;
      color: #ffffff;
      display: inline-block;
      border-radius: 3px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }
    .add-btn:hover{
      background-color: #e06e3d;
    }
  }
}