#vcodeConainer{ width:180px; margin:200px auto 0; background:#fff}
#vcodeConainer.moveing{ position:fixed; margin:0; top:200px; left:50%; margin-left:-90px; box-shadow:1px 1px 1px rgba(0,0,0,0.2)}
#vcodeConainer.moveing .downloadBtn{ display:none;}
#vcodeConainer .vcodeBox{ height:180px; font-size:0; overflow:hidden}
#vcodeConainer .vcodeBox img{ width:100%}
#vcodeConainer .downloadBtn{ display:block; height:40px; line-height:40px; border-top:1px solid #e5e5e5; background:#fff; text-align:center}