
//tab
.M-tab { position:relative; padding: 20px; background: #fff;}
.M-tab .tab-list:after, .tab .tab-list:before { content:''; display:block; height:0; visibility:hidden; }
.M-tab .tab-list:after { clear:both; }
.M-tab .tab-list { border-bottom:2px solid #2b98db; *zoom:1; }
.M-tab .tab-list .tab-li { position:relative; float:left; margin-right:-1px; margin-bottom: -2px;}
.M-tab .tab-list .tab-item { display:block; min-width:115px; padding:8px 10px; background-color:#fff; border:1px solid #CACACA; border-bottom:0 none; line-height:2; text-align:center; font-size:14px; color:#747474; }
.M-tab .tab-list .tab-li.active { z-index:1; }
.M-tab .tab-list .active .tab-item { background-color:#2b98db; border-color:#2b98db; color:#fff; font-weight:bold; }

//warning-header
.M-warning-header{
  padding: 0 20px;
  background-color: #ffffff;
  line-height: 20px;
}


//M-con
.M-con{
  overflow: hidden;
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.M-con{
  .list{border:1px solid #e5e5e5;background-color:#FFFFFF;margin-top:20px;line-height:35px;position:relative;cursor:pointer;}
  .list_top{height:35px;background-color: #e5e5e5;}
  .top_left{width:35%;}
  .title {color:#2d98dc;font-size:14px;padding-left:20px;margin-right:20px;width:263px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
  .level{width:100px;height:31px;background-color:#FFF9E9;border-radius:16px;-moz-border-radius:16px;position:relative;left:160px;top:-30px;line-height:31px;padding-left:15px;}
  .level .downward{display:block;width:21px;height:21px;background-color:#F48239;border-radius:16px;-moz-border-radius:16px;position:absolute;top:5px;right:-10px;}
  .level em {display: inline-block;width: 0;height: 0;vertical-align: middle;border: 5px solid #F48239;border-bottom-width: 0; border-top-color: #FFFFFF;margin-top:-14px;margin-left:-2px;}
  .select{width:50px;height:30px;position:absolute;top:0;left:50px;cursor:pointer;text-align:center;z-index:999999;}
  .select_txt{display:block;line-height:31px;}
  .select:hover em {border: 5px solid #F48239;border-top-width: 0;border-bottom-color: #FFFFFF;}
  .select_list {background-color:#FFFFFF;;border: 1px solid #cccccc;display:none;margin-left:-25px;}
  .select_list li{line-height:40px;}
  .select_list li.current{background-color:#F2F2F2;}
  .select_list li:hover {background-color: #E0E0E0;}
  .top_right_a{width: 65%;position: relative;top: -35px;left: 35%;background-color: #e5e5e5;color: #424242;}
  .list_con{position:relative;}
  .ticket{position:absolute;display:block;width:100%;border-top:1px solid #e5e5e5;}
  .list_data li{height:50px;line-height:50px;width:65%;margin-top:0;border-top:1px solid #e5e5e5;border-left:1px solid #e5e5e5;margin-left:35%;position:relative;}
  .right_head{height:35px;border-bottom:1px solid #e5e5e5;}
  .supplier{display:inline-block;width:22%;padding-left:15px;}
  .supplier_a{float:left;width:22%;padding-left:15px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
  .supply_price,.retail_price{display:inline-block;width:14%;text-align:center;}
  .operate{display:inline-block;width:22%;text-align:right;}
  .operate_a{display:inline-block;width:15%;text-align:center;}
  .operate_b{display:inline-block;width:15%;text-align:center;}
  .color_a{color:#2d98dc;}
  .color_b{color:#D8D8D8;}
  .color_h{color:#2d98dc;margin-left:5px;}
  .click_choose{width:60px;height:25px;background-color:#35BA3B;border-radius:20px;-moz-border-radius:20px;position:absolute;right:15px;top:14px;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;}
  .click_choose span{line-height:25px;position:absolute;left:6px;top:0;color:#35BA3B;}
  .round{width:18px;height:18px;background-color:#FFFFFF;border-radius:20px;-moz-border-radius:20px;position:absolute;left:25px;top:3px;}
  .on{width:18px;height:18px;background-color:#FFFFFF;border-radius:20px;-moz-border-radius:20px;position:absolute;left:-7px;top:3px;}
  .operate_open{color:#FFFFFF;}
  #mlistUl{width:800px;margin:0 auto;padding:0 20px; box-sizing: border-box}
  .yujbtn {display: inline-block;height: 26px;width: 59px;background: url(http://www.12301.cc/images/yujbtnoff.png) no-repeat;
    vertical-align: -8px;_vertical-align: -8px;cursor: pointer;}
  .onyuj{ background:url(http://www.12301.cc/images/yujbtnon.png) no-repeat;}
  .onyuj .offbtn{ width:36px;}
  .onyuj .onbtn{ width:23px;}
  #whichPage {position: relative;}
  span.dtitle {float: left;width: 257px;    padding-left: 20px;   line-height: 40px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
  div{ word-wrap: break-word;word-break: normal; }
  ul{ word-wrap: break-word;word-break: normal; }
  .img_none{background-color: #fff; height: 0px;left: 60%;margin: -200px 0 0 -200px;padding: 1px;position: fixed !important;position: absolute;
    top: 50%; width:0px;z-index: 999999;display: none;}
  span.dtitl {float: left;width: 200px; height: 10px; margin-left: -257px;margin-top: 20px;}
  .title_name{float: left;margin-top: 5px;height: 20px;line-height: 20px;width: 184px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
  .title_id {float: left;height: 20px;line-height: 20px;width: 199px;}
  .tcdPageCode{float:left;  margin-left: 197px;padding: 15px 20px;text-align: left;color: #ccc;}
  .tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
  .tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
  .tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
  .tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
  .tcdPageCode_a{float:left;  margin-left: 197px;padding: 15px 20px;text-align: left;color: #ccc;display:none;}
  .tcdPageCode_a a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
  .tcdPageCode_a a:hover{text-decoration: none;border: 1px solid #428bca;}
  .tcdPageCode_a span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
  .tcdPageCode_a span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
  .formInp {width:30px;height: 15px;line-height: 15px;padding: 5px 8px;background: #fff;border: 1px solid #dbdbdb;
    border-radius: 3px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
  .tiao{float: right;margin-top: 15px;}
  .total{float: right;margin-top: 15px;}
  .page_num .page_sub {border: 1px solid #DDDDDD;color: #0073B6;background: #FFFFFF;height: 22px;
    line-height: 22px;padding: 0 7px;cursor: pointer;border-radius: 3px;display: inline-block;}
  .page_num .page_sub:hover{ border-color:#308FEF; color:#FFF; background:#2288EE;}
  .page_num .formI_ {height: 12px;width: 22px;line-height: 12px;padding: 5px 8px;background: #fff;
    border: 1px solid #dbdbdb;border-radius: 3px;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
  .img_none{background-color: #fff; height: 0px;left: 60%;margin: -200px 0 0 -200px;padding: 1px;position: fixed !important;position: absolute;
    top: 50%; width:0px;z-index: 999999;display: none;}
  span.dtitl {float: left;width: 200px; height: 10px; margin-left: -257px;margin-top: 20px;}
  .title_name{float: left;margin-top: 5px;height: 20px;line-height: 20px;width: 184px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
  .title_id {float: left;height: 20px;line-height: 20px;width: 199px;}
  .profit{display: inline-block; height: 36px; line-height: 36px; padding: 0 25px; border-top-left-radius: 2px; border-top-right-radius: 2px; }
  .active{color: #FFF; background: #019be1;}
  a.setLink,a.setLink:link, a.setLink:visited,a.setLink:active {text-decoration: none;color: #303D46;}



  .section { background-color:#fff; }
  .section-header { position:relative; padding:6px 30px; border-bottom:1px solid #ccc; background-color: #fff;}
  .section-title { float:left; color:#333; font-size:18px; font-weight:normal; line-height:2; }
}

//pagination
.M-pag{
  height: 200px;
  background-color: #fff;
}