
@import "COMMON/css/base/core";

//导航标题
.nav_title{
  background-color: white;
  border: 1px solid #e5e5e5;
  ul{
    padding:0;
    margin: 0;
    background: none;
    padding-left: 20px;
    height: 60px;
    li{
      padding: 19px 3px 17px;
      margin: 0 20px 0 0;
      float: left;
      font-size: 22px;
      a.not_active{
        color: #303d46;
      }
    }
    li.active{
      border-bottom: 2px solid #2A98DA;
    }

  }
}
//filter
.filter_box{
  .filter{
    border: 1px solid #E5E5E5;
    border-top: none;
    background-color: #ffffff;
    .tr{
      height: 60px;
      line-height: 60px;
      padding-left:20px;
      .td{
        float: left;
      }
    }
    .tr1{
      .td1{
        .etime_inp{
          @include textInp(160,5);
        }

      }
      .td2{
        margin-left: 10px;
        .search_type_select{
          margin-top:13px ;
          height: 32px;
          width: 80px;
          line-height: 32px;
          border: 1px solid #e5e5e5;
          position: relative;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

        }
      }
      .td3{
        position: relative;
        .trader_inp{
          @include textInp(200,5);
        }
        i.clear_trader_inp{
          position: absolute;
          font-family: "iconfont";
          font-size: 17px;
          right: 6px;
          top: 14px;
          color: #bfbfbf;
          cursor: pointer;
          line-height: 30px;
        }
        i.clear_trader_inp:active{
          color: orangered;
        }
      }
      .td4{
        margin-left: 10px;
        span.query_btn{
          height: 34px;
          width: 89px;
          background-color: #f07845;
          color:#ffffff;
          display: block;
          margin-top: 13px;
          line-height: 34px;
          text-align: center;
          font-size: 14px;
          cursor:pointer;
        }
        span.query_btn:hover{
          background-color: #e06e3d;
        }
      }
      .td5{
        margin-left: 10px;
        span.excel_btn{
          height: 32px;
          width: 90px;
          display: block;
          margin-top: 13px;
          line-height: 32px;
          text-align: right;
          padding-right: 13px;
          border: 1px solid #e5e5e5;
          font-size: 14px;
          cursor:pointer;
          position:relative;
        }
        span.excel_btn:before{
          content:"";
          display: block;
          position:absolute;
          width:18px;
          height: 18px;
          top:7px;
          left:12px;
          background:url("//static.12301.cc/assets/build/images/excel2.png");
        }
      }

    }
  }
}
//合计total
.total_box{
  .total{
    height: 60px;
    display: none;
    line-height: 60px;
    background-color: white;
    border: 1px solid #E5E5E5;
    border-top:none ;
    padding-left: 20px;
    dl{
      dt{
        float: left;
        font-size: 14px;
      }
      dd{
        font-size: 14px;
        float: left;
        margin: 0 10px;
      }
    }
  }
}
//表格内容tableCon
.tableCon_box{
  border: 1px solid #e5e5e5 ;
  border-top: none;
  display: none;
  table.tableCon{
    width:100%;
    background-color: white;
    .th2{
      text-align: right;
    }
    td{
      padding:0 20px;
    }
    thead{
      tr{
        th{
          font-weight: 300;
        }
        height: 36px;
        line-height: 36px;
        background-color: #f0f0f0;
      }
      th:last-child{
        padding-right: 20px;
      }
    }
    tbody{
      tr{
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #e5e5e5;
        td:last-child{
          padding-right: 20px;
        }
        .th5{
          color: #F07845;
        }
      }
      tr.gray{
        background-color: #fcfcfc;
      }
      tr:hover{
        background-color: #fafafa;
      }
      tr:last-child{border-bottom: none;}
    }
  }
}
//查询状态
.queryState_box{
  background-color: white;
  border: 1px solid #E5E5E5;
  border-top:none ;
  display: none;
  min-height: 200px;
  text-align: center;
  line-height: 200px;
  .querying{
    height: 200px;
    line-height: 20px;
    text-align: center;
  }
  .queryerror{
    height: 200px;
    line-height: 200px;
    text-align: center;
  }
  .querynodata{
    height: 200px;
    line-height: 200px;
    text-align: center;
  }
}
//分页器
#pagination_box{
  line-height: 100px;
  text-align: center;
  .paginationXContainer {
    display: inline-block;
  }
}




.calendar-table .calendar-td.empty, .calendar-table .calendar-td.noPrice, .calendar-table .calendar-td.day.disable{color: #dedede !important;}
.calendar-table .calendar-td.day:hover{background-color: #00a0e9}
.calendar-td.selected.disable{background-color: #008fc2 !important;color:#ffffff !important;}
.calendar-pop-contaienr{  width:220px !important;}