/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
@import "../../css/style.css";
@import "COMMON/css/base/core";
/*架构UI*/
.cardContainer{width:798px; border:1px solid #e5e5e5; margin:0 auto; background:white;}
.line{overflow:hidden; margin:10px 0  10px 110px;}
.line .lt{ float:left;width:108px; margin-left:24px; font-size:14px; line-height:36px;}
.line .rt{float:left;}
.line .rt p{ margin-top:8px;}
.line .rt .actip i{margin-right:20px;}
.line .rt .actip .acSpan{ color:$orange;}
.line .rt .textInp{ @include textInp(300); margin-right:6px;}

.line .rt .cardBtn{ width:90px; height:34px; line-height:34px;}
.line .rt span{ color:$red; margin-left:0;}
.activate{@include btn-inline-block(86); font-size:14px; margin:26px 0 48px 242px;}
.disable{@include btn-inline-block(86,$btnHeight,$gray); font-size:14px; margin:26px 0 48px 358px;}
.activate:link,.disable:link{ color:white;}

.memberBox{width:466px;height:304px;position:fixed;top:50%;left:50%;padding:0 26px;
  margin:-152px 0 0 -259px; background:white;}
.memP{line-height:106px; font-size:14px;}
.memTable{ width:464px; background:#f5f5f5; line-height:30px;}
.memTable tr td:first-of-type,.memTable tr th:first-of-type{ text-indent:10px;}
.memberBox .btnBox{ overflow:hidden;}
.memberBox .btnBox a{ float:right; margin:70px 0 0 10px; height:30px;line-height:30px; padding:0 32px;}

.payCard{width:428px;height:198px;position:fixed;top:50%;left:50%; margin:-100px 0 0 -215px; background:white;}
.payCard p{ text-align:center; line-height:198px; font-size:24px;}
.payCard .btn-del{ position:absolute; right:6px; top:-6px;}



