/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
@import "../../css/style.css";
@import "COMMON/css/base/core";
/*架构UI*/
.cardContainer{width:798px; border:1px solid #e5e5e5; margin:0 auto; background:white;}
.cardContainer .btn{ cursor:pointer}
.formBox{ margin-top:30px;}
.line{overflow:hidden; margin:10px 0 10px 15px;}
.line .lt{ float:left;width:108px; margin-left:24px; font-size:14px; line-height:36px;}
.line .rt{float:left; position:relative;}
.line .rt p{ margin-top:8px;}
.line .rt .actip i{margin-right:20px;}
.line .rt .actip .acSpan{ color:$orange;}
.line .rt .textInp{ @include textInp(300); margin-right:6px;}
.line .rt .textArea{ @include textArea}
.line .rt .cardBtn{ width:90px; height:34px; line-height:34px;}
.line .rt .loadingIcon{position:absolute;z-index:5; top:8px; left:320px; display:none;}
.activate{@include btn-inline-block(86); font-size:14px; margin:26px 0 48px 148px; color:white;cursor:pointer;}
.activate.disable,#readCardBtn.disable,#codeBtn.disable{@include btn-disable(); border-color:rgb(204,204,204);}
.activate:link,.disable:link{ color:white;}

.payCard{width:428px;height:198px;position:fixed;top:50%;left:50%; margin:-100px 0 0 -215px; background:white;}
.payCard p{ text-align:center; line-height:198px; font-size:24px;}
.payCard .btn-del{ position:absolute; right:6px; top:-6px;}

#cardInfoBar.error{ color:red}
.cardContainer .tip.error{ color:red}

#clearCardInpBtn{ display:none; position:absolute; top:1px; right:8px; width:30px; height:30px; line-height:30px; text-align:center; cursor:pointer}
#clearCardInpBtn .iconfont{ font-size:17px; color:#8c8c8c}

