.hidden { overflow:hidden; *zoom:1; }

.fl { float:left;}

.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mt10 { margin-top:10px; }
.mt60 { margin-top:60px; }
.p15 { padding:15px;}
.pt5 { padding-top:5px; }
.pt20 { padding-top:20px; }

.w340 { width:340px;}

.c-info { color:#92a0ab; }

.section { background-color:#fff; border:1px solid #e5e5e5;}
.section-header { padding:10px 15px; border-bottom:1px solid #e5e5e5;}
.section-header h2 { font-size:22px; line-height:44px; color:#303D46;}
/* 按钮 */
.btn { display:inline-block; padding:10px 30px; line-height:16px; text-align:center; border-width:1px; border-style:solid; overflow:visible; font-size:14px; -webkit-border-radius:4px; border-radius:4px; *display:inline; *zoom:1;}
.btn-default { background-color:#0797D9; border-color:#0797D9; color:#fff; }
.btn-default-reverse { background-color:#fff; border-color:#0797D9; color:#0797D9; }
.btn-success { background-color:#3DBA3F; border-color:#3DBA3F; color:#fff; }

.btn-w-auto { width:auto; }

/* 表单布局 */
.form {}
.form-group:before, .form-group:after, .form-content:before, .form-content:after { content:''; display:table; }
.form-group:after, .form-content:after { clear:both; }
.form-group, .form-content { *zoom:1;}
.form-group { margin-bottom:10px; }
.form-label { display:inline; float:left; width:110px; padding-top:8px; font-size:14px; color:#303D46; line-height:20px; }
.form-content { margin-left:120px; }
.form-comment {}

/* 表单组件 */
.textarea-wrap { padding:0 11px;}
.textarea { display:block; width:100%; margin-left:-11px; margin-right:-11px; padding:10px; border:1px solid #e5e5e5; background-color:#fff; overflow-y:auto; -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 0 5px rgba(0,0,0,.1) inset; box-shadow:0 0 5px rgba(0,0,0,.1) inset; resize:none; word-wrap:break-word; word-break:break-all; }

.select { height:26px; }
.select.w175 { width:175px; }
.select.w360 { width:360px; }

/**/
.form-wrap { padding:25px 20px; }