/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
@import "../../css/style.css";
/*架构UI*/
.cardContainer{width:798px; border:1px solid #e5e5e5; margin:0 auto; background:white;}
.entry{ line-height:56px; font-size:24px; text-indent:24px;}
.memberBox{padding:14px 0 14px 24px; overflow:hidden;}
.memberBox .memberH{display:inline-block; width:70px; height:70px; float:left; line-height:70px; text-align:center;
  background:#0797d9; font-size:38px; color:white; border-radius:6px;}
.memberBox ul li{float:left; width:290px; padding-left:30px; line-height:20px;}
.marL-70{ margin-left:70px;}
.memL{display:inline-block; width:90px;}
.memR .font-blue{ margin-left:14px;}
.useHistory{line-height:44px; text-indent:24px; background:#f5f5f5; font-size:18px;}
.memTable{ width:100%;}
.memTable tr{line-height:46px;}
.memTable tr td:first-of-type{ text-indent:24px;}
.pageBox{ height:28px; padding:9px 10px; font-size:14px;}
.pageBox span{ width:78px; height:28px; line-height:28px; border-radius:14px;
  color:#92a0ab; font-weight:bolder; font-size:larger;}
/**/


