.t-center { text-align:center; }
.t-right { text-align:right; }
.t-left { text-align:left; }

.fl { float:left;}

.mr5 { margin-right:5px;}
.p15 { padding:15px;}

.section { background-color:#fff; border:1px solid #e5e5e5;}
.section-header { padding:10px 15px; border-bottom:1px solid #e5e5e5;}
.section-header h2 { font-size:22px; line-height:44px; color:#303D46; font-weight:normal; }

.btn { display:inline-block; padding:10px 30px; line-height:16px; text-align:center; border-width:1px; border-style:solid; overflow:visible; font-size:14px; -webkit-border-radius:4px; border-radius:4px; *display:inline; *zoom:1;}
.btn-default { background-color:#0797D9; border-color:#0797D9; color:#fff; }

.tb { line-height:20px; }
.tb th { padding:10px 20px; line-height:16px; background-color:#E5E5E5; color:#6c7882; font-weight:normal; }
.tb td { padding:10px 20px; background-color:#fff; border-bottom:1px solid #e5e5e5; vertical-align:middle;}

.c-online { color:#3dba3f;}
.c-waiting { color:#303d46;}
.btn-link { display:inline; color:#0797d9; }

.btn-group li { text-align:center; line-height:20px;}