#gIncomeWrap {

  /* filter的公共样式*/
  .queryStateBox {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
    display: none;
    height: 200px;
  }
  .queryStateBox .querying{
    font-size: 16px;
    text-align: center;
    .line1{padding-top: 50px}
    .line2{padding-top: 10px}
  }
  .queryStateBox .error{
    color: #f07845;
    font-size: 16px;
    text-align: center;
    .line1{padding-top: 90px}
  }

}