/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
@import "../../css/style.css";
@import "COMMON/css/base/core";
/*架构UI*/
select{border:1px solid #dbdbdb;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);text-indent:10px;}
.cardContainer{width:998px; border:1px solid #e5e5e5; margin:0 auto; background:white;}
.manageTitle{height:58px; overflow:hidden;}
.entry{ padding-left:24px;}
.activaCard{@include btn-inline-block(135,$btnHeight,$green); font-size:14px; float:right; margin:12px 13px 0 0;}
.activaCard:link,.query:link,.active:link{ color:white;}
.manageState{ height:115px; padding-left:24px;}
.cardType{@include btn-inline-block(131,28,transparent);font-size:14px; margin-top:13px;}
.active{@include btn-inline-block(131,28);font-size:14px;}
.cardBox{ margin-top:22px;}
.cardBox select{width:198px; height:30px;}
.cardBox input{@include textInp(237,3);}
.query{@include btn-inline-block(87,28,$orange); font-size:14px; margin-top:-4px;}
.dash{border-bottom:1px dashed #e5e5e5;}
.listItemTable{ width:100%;}
.listItemTable thead tr{ line-height:36px; background:#e5e5e5;}
.listItemTable tbody tr{ line-height:46px;}
.listItemTable tr td:first-of-type,.listItemTable tr th:first-of-type{ text-indent:24px;}
.pageBox{ height:28px; padding:9px 10px; font-size:14px;}
.pageBox a{ width:78px; height:28px; line-height:28px; border-radius:14px; font-weight:bolder; font-size:larger;}
.pageBox a:link{ color:#92a0ab;}
.pageBox .bg-gray{margin-left:760px;}

.listSlideContainer .slideUl{ position:relative; overflow:hidden; zoom:1}
.listSlideContainer .listItemLi{ float:left;}


