#siteLeftBar{ width:170px}
#siteLeftBar .left_memb{ padding-left:15px}
.pageRightArea{ width:817px}


.rtWrap{background: #FFFFFF; border: 1px solid #E5E5E5; margin-top: -10px;}
.rtWrap .rtNav { border-bottom: 1px solid #E5E5E5;}
.rtWrap .rtNav li{display: inline-block; margin-left: 20px;}
.rtWrap .rtNav .list{display: inline-block; font-size: 16px; font-weight:bold; color: #303D46; padding:20px 10px 18px 10px}
.rtWrap .rtNav .list:hover{text-decoration: none;}
.rtWrap .rtNav .list.active{color: #0797D9; border-bottom: 2px solid #0797D9;}
.rtWrap .rtNav li:first-child{ margin-left:11px;}
.tbThirdOrder .tbCon{table-layout: fixed; width: 100%; text-align:left}
.tbThirdOrder .tbCon th{height: 35px; line-height: 35px; color: #6C7882; background: #E5E5E5;}
.tbThirdOrder .tbCon td{line-height: 15px; word-wrap: break-word; word-break: normal; border-bottom: 1px solid #E5E5E5; padding: 15px 0; text-align: center;}
.tbThirdOrder .tbCon .ltTxt{text-align: left; padding-left: 20px;}
.tbThirdOrder .tbCon .rtTxt{text-align: right; padding-right: 20px;}
.tbThirdOrder .tbCon tbody tr:hover{background: #FAFAFA;}
.fenyeiWrap{margin-right: 10px;}
.colorBlue{color: #0797D9;}
.colorOrange{color: #F07845;}
.colorRed{color: #E91515;}

/***团购订单*******************/
.baseInp{
    width:180px;
    height: 22px; line-height: 22px;
    padding: 5px 8px;
    border: 1px solid #e5e5e5;
    box-shadow:inset 1px 1px 1px rgba(0,0,0,0.05);
}
.baseInp:focus{border-color: #0797D9; color: #0797D9;}
.searchBox{padding: 20px;}
a.searchBtn:link, a.searchBtn:visited,a.searchBtn:hover{color: #FFFFFF; text-decoration: none;}
.searchBox .list{margin-bottom: 10px;}
.searchBox .list .leaderTitle{display: inline-block; width: 80px; color: #6C7882;}
.searchBox .list .searchBtn{display: inline-block; margin-left: 84px; padding: 10px 30px; background: #0797D9; color: #FFFFFF;}
.rowOverflow{cursor: pointer; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#box{ z-index:99; background: #FFFFFF; border:1px solid #E5E5E5; padding: 5px 8px; font-size:12px;position:absolute;}

.tCancel{position: relative; background: #BFE7F9; padding: 20px;}
.tCancel .dropWrap{position: relative;}
.tCancel .selectBox{position: relative; display: inline-block; width: 100px; height: 30px; background: #F5F5F5; line-height: 30px; font-size: 14px; cursor: pointer; border: 1px solid #C9C9C9;  border-right: 0 none; border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; color: #6C7882; z-index: 99;}
.tCancel .selectBox .selected{padding-left: 10px;}
.tCancel .dropWrap .dropBox{display: none; width: 100px; position: absolute; top: 22px; left: 0;  background: #FFFFFF; border: 1px solid #C9C9C9;}
.tCancel .dropWrap.active .dropBox{display: block;}
.tCancel .dropWrap .dropBox li{height: 30px; line-height: 30px; padding-left: 10px; cursor: pointer;}
.tCancel .moreIcon{display: inline-block; width: 30px; height: 30px; position: absolute; top: 0; right: 0; font-size: 25px; line-height: 30px; text-align: center; }
.tCancel .baseInp{position: absolute; left: 209px; top: 20px; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
.tCancel .cancelBtn{position: absolute; top: 20px; left: 535px; display: inline-block; width: 80px; height: 32px; text-align: center; line-height: 32px;  background: #0797D9; color: #FFFFFF; border-radius: 3px; -moz-border-radius: 3px;  }
.tCancel .cancelBtn:hover{text-decoration: none;}
.tCancel .tipMsg{margin: 5px 0 0 90px; color: #6C7882;}
.tCancel .tipMsg .colorRed{vertical-align: middle; font-size: 18px; margin-right: 2px;}
.w300{width: 300px;}
.w140{width: 140px;}
.w120{width: 120px;}
.w100{width: 100px;}
.w80{width: 80px;}
.w70{width: 70px;}

.searchBox .list .asbs{ margin-left:15px}
.searchBox .list .zhi{ }

.tbThirdOrder .tbCon .listLoadingTr td{ border-bottom:0 none}
.tbThirdOrder .tbCon .listLoadingTr:hover{ background:#fff}

#tableDom{ table-layout:fixed}
#tableDom thead .col_1{ width:100px; padding-left:15px;}
