@import "COMMON/css/base/core";
#bankDialogCxtContainer{ background:#fff; padding-bottom:20px;}
#bankForm{ padding:20px;}
#bankForm .bankTitle{ font-size:18px; font-weight:bold; padding-left:30px}
.bankDialogCxtContainer .line{ overflow:hidden; margin-top:14px; padding-left:30px;}
.bankDialogCxtContainer .line .lineLeft{ float:left; width:100px; line-height:32px; text-align:left; padding-right:10px;}
.bankDialogCxtContainer .line .lineright{ float:left;}
.bankDialogCxtContainer .line .warningTip{ color:red;}
.bankDialogCxtContainer .line .lineright .selectInp{ @include selectInp(312,36)}
.bankDialogCxtContainer .line .lineright .textInp{ @include textInp(300,5)}
.bankDialogCxtContainer .line .lineright .selectAreaInp{@include selectInp(154,36)}
.bankDialogCxtContainer .line .lineright .tip{ color:#999}
.bankDialogCxtContainer .line .lineright.error .tip{ color:red;}
.bankDialogCxtContainer .submitBtn{@include btn-inline-block(); margin-left:110px;}
.bankDialogCxtContainer .submitBtn.disable{ @include btn-disable();}