@import "COMMON/css/base/core";
#bankDialogCxtContainer{ background:#fff;}
#bankForm{ padding:30px;}
#bankForm .bankTitle{ font-size:18px; font-weight:bold; padding-left:30px}
.bankDialogCxtContainer .line{ overflow:hidden; margin-top:14px; padding-left:30px;}
.bankDialogCxtContainer .line .lineLeft{ float:left; width:100px; line-height:32px; text-align:left; padding-right:10px;}
.bankDialogCxtContainer .line .lineright{ float:left;}
.bankDialogCxtContainer .line .warningTip{ color:red;}
.bankDialogCxtContainer .line .lineright .selectInp{ @include selectInp(312,36)}
.bankDialogCxtContainer .line .lineright .textInp{ @include textInp(300,5)}
.bankDialogCxtContainer .line .lineright .selectAreaInp{@include selectInp(154,36)}
.bankDialogCxtContainer .line .lineright .tip{ color:#999}
.bankDialogCxtContainer .line .lineright.error .tip{ color:red;}
.bankDialogCxtContainer .submitBtn{@include btn-inline-block(); margin-left:110px;}
.bankDialogCxtContainer .submitBtn.disable{ @include btn-disable();}
.gSelectDownBox{ z-index:10002}
.gSelectMask{ z-index:10001}
.gSelectDownBox .searchBox .clearSearchBtn{ line-height:18px;}
.bankDialogCxtContainer #bankForm{ position:relative;}
.bankDialogCxtContainer #bankForm .bankCopyBox{ display:none; position:absolute; left:160px; top:173px; z-index:9999; width:304px; height:36px; font-size:18px; font-weight:bold; background:#fbf9da; border:1px solid #f07845; line-height:36px; padding-left:6px;}
