
#calendarWrap{
	.calTop{
		position: relative;
		.navBtn{
			position : absolute;
			width: 60px;
			top : 0;
			bottom: 0;
			line-height: 43px;
			text-align : center;
			i{
				color : #000;
				font-size: 24px;
			}
		}
		.prev{
			left : 0;
		}
		.next{
			right: 0;
		}
		.calTopText{
			height : 43px;
			line-height: 43px;
			margin: 0 60px;
			text-align : center;
		}

	}
	.calContent{
		.calContentHead{
			background: #f0f0f0;
			height : 36px;
			border-top : 1px solid #e5e5e5;
			border-bottom : 1px solid #e5e5e5;
			display: -webkit-flex; 
			display: flex;
			.calHeadItem{
				flex-grow : 1;
				line-height : 36px;
				text-align : center;
			}
		}
		.calContentCon{
			.calConItem.row{
				display: -webkit-flex; 
				display: flex;
				.calConItem.column{
					// flex-grow : 1;
					width : 14%;
					line-height : 40px;
					height : 40px;
					text-align : center;
					border-right : 1px solid #e5e5e5;
					border-bottom : 1px solid #e5e5e5;
					padding-top: 10px;
					.day{
						display : block;
						font-size: 0.35rem;
						line-height: 10px;
					}
					.price{
						display : block;
						margin-top: 10px;
						line-height : 10px;
						color : #f37138;
					}
				}
				.calConItem.column.disable{
					background : #f7f7f7;					
				}
			}
		}
	}

}






