/**
 * Author: huangzhiyang
 * Date: 2016/5/30 14:47
 * Description: ""
 */
/*通用UI*/
body{ background:#f8f9fb; }
.cardContainer i{ font-style:normal}
.cardContainer a { text-decoration: none; }
.cardContainer a:hover { text-decoration: underline; }
.cardContainer a:link{ text-decoration:none;outline:none;}
.cardContainer a:visited{ text-decoration:none;outline:none; color:#fff}
.cardContainer a:active{ text-decoration:none;outline:none}
.cardContainer a:hover,.border a:hover{text-decoration:none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.lt-ie8 .clearfix{height:1%;}
.float-left{ float:left;}
.float-right{ float:right;}
.border{border:1px solid #e5e5e5;}
.border-y{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.border-top{border-top:1px solid #e5e5e5;}
.border-bottom{border-bottom:1px solid #e5e5e5;}
.border-left{border-left:1px solid #e5e5e5;}
.border-right{border-right:1px solid #e5e5e5;}
.bigInp{height:22px;line-height:22px; padding:6px 0;width:420px;}
.smaInp{height:22px;line-height:22px; padding:1px 0;width:48px;}
.midInp{height:22px;line-height:22px; padding:3px 0;width:78px;}
.larInp{height:22px;line-height:22px; padding:5px 0;width:130px;}
.laydate-icon{width:138px;height:22px;line-height:22px; padding:3px 0;}
.smaSel{height:33px;width:208px;}
.bigSel{height:33px;width:420px;}
.btn{display:inline-block;border:0 none;font-size:14px; text-align:center;}
.btn-s{width:44px;height:24px;line-height:24px;}
.btn-1x{width:74px;height:28px;line-height:28px;}
.btn-2x{width:94px;height:34px;line-height:34px;}
.btn-3x{width:142px;height:34px;line-height:34px;}
.btn-4x{width:200px;height:34px;line-height:34px;}
.btn-5x{width:130px;height:34px;line-height:34px;}
.btn-border{border:1px solid #0797d9;color:#0797d9;}
.btn-green{background:#3dba3f;border:1px solid #3dba3f;}
.btn-blue{background:#0797d9;border:1px solid #0797d9;}
.btn-blue:hover{background:#0685bf;}
.btn-blue:link{ color:white;}
.btn-orange{background:#f07845;}
.btn-orange:hover{background:#d66c3e;}
.bg-blue{background:#0797d9;}
.bg-gray{ background:#f5f5f5;}
.bg-lightblue{ background:#e2f6fe;}
.file{position: relative;overflow:hidden;text-decoration:none;text-indent:0;}
.file input{position:absolute;font-size:100px;right:0;top:0;opacity:0;}
.btn-cancle{position:absolute;width:14px;height:14px;border-radius:7px;display:inline-block;
    line-height:14px;text-align:center;background:#f07845;color:white;font-size:14px;cursor:pointer;}
.btn-add,.btn-del{font-size:30px;font-weight:bolder;}
.btn-del:link{color:red;}
.font-gray{color:#92a0ab;}
.font-blue{color:#0797d9;}
.font-red{ color:red;}
.font-orange{ color:#f07845;}
.font-14{ font-size:14px;}
.table{width:100%;}
.table tr{ line-height:35px; text-indent:10px;}
.table tr:first-of-type{background:#e5e5e5;}
.entry{ line-height:65px; font-size:16px;text-indent:24px;background:white; font-weight:bold;}
.cardContainer table th,.cardContainer table td{ text-align:left}
