/**
 * Author: huangzhiyang
 * Date: 2016/5/25 18:44
 * Description: ""
 */
#easyDialogBox{ width:650px;}
.anncounceCon .anncounce_title{ font-size:18px; font-weight:bold; margin:0 auto 10px; text-align:center}
.anncounceCon .announceMainCon{ overflow:auto}
.anncounceCon .announceMainCon img{ max-width:100%}
.anncounceCon .linkLine{ padding:5px 0 5px 0; text-align:right;}
.anncounceCon .linkLine a:link{ color:#008fc2}
.anncounceCon .linkLine a:hover{ color:#008fc2; text-decoration:underline}
