/**
 * Author: huangzhiyang
 * Date: 2016/5/25 18:44
 * Description: ""
 */
#easyDialogBox{ width:650px;}
.anncounceCon .anncounce_title{ font-size:18px; font-weight:bold; margin:5px auto 10px; text-align:center}
.anncounceCon .announceMainCon{ overflow:auto}