@import "app";
@import "_base";
#markertingApp_module{
  background: white;
  #appList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li{
      width: 198px;
      //border: 1px solid map-get($color,border);
      display: inline-block;
      margin: 0px 13px 22px 13px;
      a{
        color:map_get($color,blue);
        text-decoration: none;
        &:hover{
          color: #fff;
        }
      }
    }
  }
  
}