#markertingApp_module{
  background: white;
  #appList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li{
      height: 56px;
      width: 198px;
      border: 1px solid map-get($color,border);
      display: inline-block;
      margin: 0px 13px 22px 13px;

    }
  }
}