@font-face {
    font-family: 'iconfont_usually';
    src: url('//at.alicdn.com/t/font_1471590737_5645835.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1471590737_5645835.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1471590737_5645835.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1471590737_5645835.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1471590737_5645835.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.uicon {
    font-family:"iconfont_usually" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.uicon-jia:before { content: "\e614"; }
.uicon-jianqu:before { content: "\e615"; }
.uicon-jiantou-sin-right:before { content: "\e616"; }
.uicon-jiantou-sin-left:before { content: "\e617"; }
.uicon-jiantou-sin-down:before { content: "\e618"; }
.uicon-jiantou-sin-up:before { content: "\e619"; }
.uicon-daodingbu:before { content: "\e60f"; }
.uicon-daohang:before { content: "\e600"; }
.uicon-sousuo:before { content: "\e601"; }
.uicon-dizhi:before { content: "\e602"; }
.uicon-shanchu:before { content: "\e603"; }
.uicon-shouji:before { content: "\e610"; }
.uicon-jia-copy:before { content: "\e604"; }
.uicon-jia03:before { content: "\e605"; }
.uicon-3333333301:before { content: "\e606"; }
.uicon-mima:before { content: "\e607"; }
.uicon-yonghu:before { content: "\e608"; }
.uicon-jian:before { content: "\e60d"; }
.uicon-jinggao:before { content: "\e611"; }
.uicon-arrow2-up:before { content: "\e612"; }
.uicon-arrow2-down:before { content: "\e613"; }
.uicon-u-arrow3-left:before { content: "\e609"; }
.uicon-jiantou:before { content: "\e60a"; }
.uicon-gougou:before { content: "\e60b"; }
.uicon-shijian:before { content: "\e60c"; }
.uicon-rili:before { content: "\e60e"; }
