body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, pre,fieldset, lengend, button, input, textarea, th, td {  margin: 0;padding: 0;}
body,button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    /*font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; *//* 用 ascii 字符表示，使得在任何编码下都无问题 */
    font: 12px/1 Microsoft Yahei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none; color:#2A98DA}
a:hover{ text-decoration:underline;}
abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help;}
q:before, q:after { content: ''; }
legend { color: #000; }
fieldset, img { border: none; }
button, input, select, textarea {font-size: 100%; }
table { border-collapse: collapse;border-spacing: 0;}
hr {border: none;height: 1px;}
textarea{ outline:0}
html { overflow-y: scroll; }
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
input:focus,button:focus{outline:none}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }