@import "COMMON/css/base/mixin/opacity";
.dialogMask{position:fixed; top:0; right:0; left:0; bottom:0; background:#000; @include opacity(0.5)}
#dialog-slideStage{ height:140px; margin-top:40px; margin-bottom:20px; overflow:hidden}
#dialog-slideStage .slideCon{ position:relative}
#dialog-slideStage .slideItem{ height:130px; padding-top:0;}
.dialogBoxContainerCon .closeBtn{ position:relative; margin-left:74px;}
#readCardBtn:hover{ text-decoration:underline}
#physic_no_Inp{ width:225px; height:22px; line-height:22px; padding:2px 8px;}
#clearCardInpBtn{ display:none; position:absolute; top:1px; left:318px; width:30px; height:30px; line-height:30px; text-align:center; cursor:pointer}
#clearCardInpBtn .iconfont{ font-size:17px; color:#8c8c8c}