#productionDynamics_module{
  #productionList{
    li{
      height: 34px;
      line-height: 34px;
      padding-left: 20px;
      padding-right: 28px;
      border-bottom: 1px solid map_get($color,border);
      overflow: hidden;
      a{
        float: right;
        text-decoration: none;
        clear: right;
      }
    }
  }
}