@import "COMMON/css/base/core";

#filter_box{
  background: white;
  border: 1px solid #e5e5e5;



  h1{
    color: #303D46;
    font-size: 22px;
    padding-left: 20px;
    border-bottom: 1px solid #E5E5E5;
    height: 60px;
    font-weight: 500;
    line-height: 60px;
  }

  .tipContainer{
    box-sizing: content-box;
    padding: 8px 12px 8px 20px;
    height: 63px;
    font-size: 12px;
    color: #4D4D4D;
    p{
      margin-top: 5px;
      margin-left: 5px;
      height: 15px;
      line-height: 15px;
      em{
        color: red;
      }
    }
  }

  form{

    //padding-top: 20px;
    margin-bottom: 20px;
    label{
      box-sizing: border-box;
      display: inline-block;
      width: 155px;
      height: 60px;
      line-height: 60px;
      color: #92a0ab ;
      //background: indianred;
      padding: 5px 10px 5px 25px ;
      em{
        position: relative;
        top: 6px;
        font-size: 20px;
        font-style: normal;
        color: red;
      }
    }

    input{
      @include textInp(34,4);
      width: 418px;
      &:focus{
        border-color: #0797D9;
        color: #0797D9;
        background: #FFFFFF;
        border-radius: 5px;
      }
    }

    select{
      height: 34px;
      width: 418px;
      &:focus{
        border-color: #0797D9;
        color: #0797D9;
        background: #FFFFFF;
        border-radius: 5px;
      }
    }

    #submit{
      display: block;
      margin: 28px 0 0 330px ;
      height: 32px;
      background: #019be1;
      border: 1px solid #019be1;
      width: 74px;
      font-size: 14px;
      color: #FFF;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }
  }
}