@import "COMMON/css/base/main";
@import "../../common/style/table_list.scss";
@import "../../common/style/tooltip.scss";
.tabPannel.query .searchBox{ padding:30px; padding-left:25px; padding-bottom:10px;}
.tabPannel.query .searchBox .lt{ margin-right:10px;}
.tabPannel.query .searchBox .line{ margin-bottom:10px;}
.tabPannel.query .searchBox .orderInp{ width:397px;}

.tabPannel.query table{ @include tableList();}
.tabPannel.query table thead{ background:$gray95}
.tabPannel.query table th{ line-height:38px;}
.tabPannel.query table .col{ padding-right:10px;}
.tabPannel.query table .col_1{ padding-left:25px;}
.tabPannel.query table .col_4{ width:100px}
.tabPannel.query table .col_5{ width:60px; text-align:center}
.tabPannel.query table .col_6{ width:80px; text-align:center}
.tabPannel.query table .col_2{ width:160px;}
.tabPannel.query table .col_7{ width:160px; text-align:right; padding-right:15px}
.tabPannel.query table .col_3{ text-align:center}
#query-paginationContainer{ float:right; margin-top:15px;}