@import "COMMON/css/base/core/px2rem";
body{ background:#f0f4f5;}
.bodyContainer{ width:100%; overflow-x:hidden}
#bodyMainCon{ margin-top:px2rem(85);}
#indexPageFixHeader .gFixHeader .leftBtn{ width:90px; padding-left:10px; text-align:left}
#productListContainer{ margin-top:5px}