@import "COMMON/css/base/core/px2rem";
body{ width:100%; background:#f0f4f5;}
.bodyContainer{ width:100%; overflow-x:hidden;}

#productListContainer{ margin-top:5px}
.sliderModule{
    padding:10px 10px 0;
    background:#fff;
}