$H1 : (size:24px, color:#333);
$H2 : (size:22px, color:#3e3e3e);
$H3 : (size:18px, color:#2d2d2d);

$Color : (
        border : #eaeaea,
        orange : #df3e0a,
        blur : #0897d9,
        gray : #7a7a7a,
);

$Btn : (
        height : 35px,
        radio : 2px,
);

.ui-app-icon{
    position:relative;
    display:inline-block;
    width:53px;
    height:53px;
    font-size:0;
    line-height:0;
    background:url("http://static.12301.cc/assets/build/images/appcenter/icons.png");
}
.gAppItem{
    position:relative;
    float:left;
    margin:28px 24px 0 0;
    background:#fff;




}