$H1 : (size:24px, color:#333);
$H2 : (size:22px, color:#3e3e3e);
$H3 : (size:18px, color:#2d2d2d);

$Color : (
        border : #eaeaea,
        orange : #df3e0a,
        blur : #0897d9,
        gray : #7a7a7a,
);

$Btn : (
        height : 35px,
        radio : 2px,
);

.ui-app-icon{
    position:relative;
    display:inline-block;
    width:53px;
    height:53px;
    font-size:0;
    line-height:0;
    background:url("http://static.12301.cc/assets/build/images/appcenter/icons.png");
}
.gAppItem{
    position:relative;
    float:left;
    margin:28px 24px 0 0;
    background:#fff;
}

.mr10 {
    margin-right: 10px;
}
.mb30 {
    margin-bottom: 30px;
}

.c-warning {
    color: #df3e0a;
}
.bgc-fff {
    background-color: #fff;
}
.text-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clearfix:before,
.clearfix:after {
    content:'.';
    display: table;
    font-size: 0;
}
.clearfix:after {
    clear: both;
}

.btn {
    display:inline-block;
    padding:10px 20px;
    line-height:16px;
    text-align:center;
    border-width:1px;
    border-style:solid;
    overflow:visible;
    white-space:nowrap;
    font-size:14px;
    -webkit-border-radius:4px;
    border-radius:4px;
    *display:inline;
    *zoom:1;
}

.btn-default {
    background-color:#0797D9;
    border-color:#0797D9;
    color:#fff;
}
.btn-default-reverse {
    background-color:#fff;
    border-color:#0797D9;
    color:#0797D9;
}
.btn-warning {
    background-color: #f07844;
    border-color: #f07844;
    color: #fff;
}
.btn-warning-reverse {
    background-color:#fff;
    border-color:#f07844;
    color:#f07844;
}
.btn-success {
    background-color:#3DBA3F;
    border-color:#3DBA3F;
    color:#fff;
}
.btn-success-reverse {
    background-color:#fff;
    border-color:#3DBA3F;
    color:#3DBA3F;
}

.btn.w100 {
    width: 60px;
}

.icon-new {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(http://static.12301.cc/assets/build/images/appcenter/new.gif) no-repeat;
}
.icon-expired {
    display: inline-block;
    width: 94px;
    height: 58px;
    background: url(http://static.12301.cc/assets/build/images/appcenter/expired.png) no-repeat;
}