

#dialog_tuipiao{
  .mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 20;
    display: none;
  }
  .dialog_con {
    position: fixed;
    height: 300px;
    width: 100%;
    bottom:0px;
    background-color: white;
    z-index: 20;
    opacity: 1;
    .line {
      line-height: 60px;
      height: 60px;
      padding-left: 20px;
      .td {
        float: left;
      }
      .btn {
        padding: 10px 20px;
        border: 1px solid #f07845;
      }
    }
  }

}