

#dialog_tuipiao{
  .mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    display: none;
  }
  .mask.open{
    display: block;
  }
  .dialog_con {
    position: fixed;
    height: 200px;
    width: 100%;
    bottom:-200px;
    background-color: white;
    z-index: 3;
    opacity: 1;
    .line {
      line-height: 48px;
      height: 48px;
      margin:0 20px;
      .td {
        float: left;
      }
      .btn {
        text-align: center;
        font-size: .35rem;
        background-color: #f37138;
        color: #ffffff;
      }
    }
    .line1{
      color:#f37138
    }
    .line2{
      border-bottom: 1px solid #f0f0f0;
      .td2 {
        margin-left: 10px;
        input{
          display: block;
          height: 48px;
          width: 100px;
          line-height: 22px;
          font-size: .35rem;
          padding: 13px 12px 13px 0;
          box-sizing: border-box;
          border: 0 none;
        }
        input:focus{
          color:#f37138;
        }
      }
      .td3{
        .btn{
          padding:10px 10px;
        }
        .btn.disabled{
          background-color: #a7a7a7;
        }
      }
    }
    .line4{
      height: 30px;
      line-height: 30px;
      span.tip_error{
        color: #f37138 ;
      }
      span.tip_success{
        color: #3bb259 ;
      }
    }
    .line3{
      display: flex;
      height: 30px;
      line-height: 30px;
      justify-content:space-around;
      .btn{
        width: 37%;
        line-height: 37px;
        height: 37px;
      }
    }
  }

}