.appPackageWrap {

  /* first_packDetailBox的公共样式*/
  .first_packDetailBox {
    width: 85%;
    margin: 0 auto;
  }
  .first_packDetailBox{
    .title{
      font-size: 22px;
      line-height: 60px;
      text-align: center;
      color:  #909090;
    }
    .detail-table{
      width: 100%;
      text-align: center;
      white-space: nowrap;
      position: relative;
      .th1{
        text-align: left;
        padding-left: 20px;
        font-weight: bold;
      }
      .parentTr{
        background-color: #fafafa;
        cursor: pointer;
      }
      .child-th1{
        padding-left: 47px;
        font-weight: normal;
      }
      tbody tr:hover{
        background-color: #fafafa;
      }
      thead tr th{
        line-height: 50px;
        background-color: #58a3ef;
        color: #fff;
        border: 1px solid #e5e5e5;
        font-size: 14px;
      }
      tbody tr td {
        line-height: 35px;
        border: 1px solid #e5e5e5;
        .ok-icon{
          background-image: url("http://static.12301.cc/assets/build/images/appcenter/apppackage/small.png");
          width: 24px;
          height: 16px;
          display: inline-block;
          background-position: -49px -0px;
        }
        .line-through{
          text-decoration: line-through;

        }
        .price{
          color: #ff4500;
          font-size: 16px;
        }
        .btn{
          padding: 10px 20px;
          cursor: pointer;
          margin: 10px;
          color: #fff;
          background-color: #f07844;
          &:hover{
            background-color: #f7895a;
            box-shadow: 0 0 5px #f7895a;
          }
        }

        .free{
          background-color: #0897d9 ;
          &:hover{
            background-color: #15aaef ;
            box-shadow: 0 0 5px #15aaef ;
          }
        }

      }
      .gray{
        color:#909090 ;
        line-height: 20px;
      }
      .un-shrink ,.shrink{
        background-image: url('//static.12301.cc/assets/build/images/sale-report-shrink.png');
        display: inline-block;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        position: relative;
        margin-right: 7px;
        top: 3px;
        cursor: pointer;
      }
      .shrink{
        background-position: 0 -16px;
      }
    }
    .over-detail-table{
      cursor:url('//static.12301.cc/assets/build/images/moveleftright.png'), move;
    }
    .table-wrap{
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      padding-bottom: 3px;
    }
    .bottom{
      text-align: center;
      font-size: 14px;
      line-height: 50px;
      color:#909090 ;
      margin-bottom: 20px;
    }

  }


}
