

body {
  background: #f8f9fb;
}
.left_memb,.con_right{
  background-color: #ffffff;
}

//右侧内容框
.con_right{
  width: 800px;
  float: right;
  //右侧导航标题
  .nav_title_box{
    height: 60px;
    padding-left: 20px;
    line-height: 60px;
    font-size: 22px;
    border: 1px solid #e5e5e5;
  }
  .
}